{{ header }}
<div id="account-account" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-12' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
     <div class="bg-white p-5">
      <div class="row justify-content-center">
        <div class="col-6 col-lg-3 col-md-3 mb-5 text-center">
          <a href="{{ edit }}">
          <div class="">
            <img src="image/edit.svg"/>
          </div>
         {{ text_edit }}</a>
        </div>
        <div class="col-6 col-lg-3 col-md-3 mb-5 text-center">
          <a href="{{ password }}">
          <div class="">
            <img src="image/password.svg"/>
          </div>
         {{ text_password }}</a>
        </div>
        <div class="col-6 col-lg-3 col-md-3 mb-5 text-center">
          <a href="{{ address }}"><div class="">
            <img src="image/address.svg"/>
          </div>
          {{ text_address }}
          </a>
        </div>
        <div class="col-6 col-lg-3 col-md-3 mb-5 text-center">
          <a href="{{ wishlist }}"> <div class="">
            <img src="image/wishlist.svg"/>
          </div>
          {{ text_wishlist }}</a>
        </div>
        <div class="col-6 col-lg-3 col-md-3 mb-5 text-center">
          <a href="{{ order }}"> <div class="">
            <img src="image/AFTER-SALES.svg"/>
          </div>
          {{ text_order }}</a>
        </div>
        <div class="col-6 col-lg-3 col-md-3 mb-5 text-center">
          <a href="{{ newsletter }}">   <div class="">
            <img src="image/newsletter.svg"/>
          </div>
          {{ text_newsletter }}</a>
        </div>
        <div class="col-6 col-lg-3 col-md-3 mb-5 text-center">
          <a href="index.php?route=account/logout">   <div class="">
              <img src="image/logout.svg"/>
            </div>
           Logout</a>
        </div>
      </div>
       {{ content_bottom }}
     </div>
    </div>
  </div>
</div>
{{ footer }}