{{ header }}
<div id="account-address" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    {% if success %}
        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    {% if error_warning %}
        <div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
    {% endif %}
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-12' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <div class="bg-white p-5 text-center">
                <div class="col-12 col-lg-6 col-md-6 mx-auto">
                    <div>
                        <img src="image/address.svg"/>
                        <h6 class="text-center mb-4 goth-medium text-uppercase mt-3">Address book</h6>
                        <hr class="product-detail-hr">
                    </div>
                    {% if addresses %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                {% for result in addresses %}
                                    <tr>
                                        <td class="text-left">{{ result.address }}</td>
                                        <td class="text-right"><a href="{{ result.update }}"
                                                                  class="btn btn-black mb-2 text-uppercase">{{ button_edit }}</a>
                                            &nbsp; <a
                                                    href="{{ result.delete }}"
                                                    class="btn btn-black mb-2 text-uppercase">{{ button_delete }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% else %}
                        <p>{{ text_empty }}</p>
                    {% endif %}
                    <div class="buttons clearfix">
                        <div class="pull-left d-none"><a href="{{ back }}"
                                                  class="btn btn-black mb-2 text-uppercase">{{ button_back }}</a></div>
                        <div class=""><a href="{{ add }}"
                                                   class="btn btn-black mb-2 text-uppercase">{{ button_new_address }}</a>
                        </div>
                    </div>
                    {{ content_bottom }}
                </div>
            </div>
        </div>
        </div>
</div>
{{ footer }}