{{ header }}
<div id="account-forgotten" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        </div>
    {% endif %}
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-12' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <div class="bg-white p-5 text-center">
                <div class="col-12 col-lg-6 col-md-6 mx-auto">
                    <div>
                        <img src="image/FORGOT-PASSWORD.svg"/>
                        <h6 class="text-center mb-4 goth-medium text-uppercase mt-3">reset your password</h6>
                        <hr class="product-detail-hr">
                    </div>
                    <form action="{{ action }}" method="post" enctype="multipart/form-data"
                          class="form-horizontal mt-4">
                        <fieldset>
                            <div class="form-group required">
                                <div class="col-sm-12 p-0">
                                    <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}"
                                           id="input-email" class="form-control"/>
                                </div>
                            </div>
                        </fieldset>
                        <div class="buttons clearfix">
                            <div class="pull-left d-none"><a href="{{ back }}"
                                                             class="btn btn-black mb-2 text-uppercase">{{ button_back }}</a>
                            </div>
                            <div class="text-center">
                                <input type="submit" value="Send"
                                       class="btn btn-black mb-2 text-uppercase"/>
                            </div>
                        </div>
                    </form>
                    {{ content_bottom }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}