{{ header }}
<div id="account-login" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    {% if success %}
        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        </div>
    {% endif %}
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-12' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">
            <div class="bg-white p-lg-5 p-md-5 p-0">
                <div class="row">
                    <div class="col-sm-6 mb-5 mb-lg-0 mb-md-5">
                        <div class="well text-center">
                            <div>
                                <img src="image/LOGIN.svg"/>
                                <h6 class="text-center mb-4 goth-medium text-uppercase mt-3">Sign Up</h6>
                                <hr class="product-detail-hr">
                            </div>

                            <div class="mt-4">
                                <div class="btn-group-vertical">
                                    <a href="{{ register }}" class="btn btn-black mb-2 text-uppercase">with
                                        email</a>

                                </div>
                            </div>
                            {{ content_top }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="well">
                            <div class="text-center">
                                <img src="image/LOGIN.svg"/>
                                <h6 class="text-center mb-4 goth-medium text-uppercase mt-3">Sign In</h6>
                                <hr class="product-detail-hr">
                            </div>

                            <div class="container text-center">
                                <form action="{{ action }}" method="post" class="mt-5 pl-lg-5 pr-lg-5"
                                      enctype="multipart/form-data">
                                    <div class="form-group">
                                        <input type="text" name="email" value="{{ email }}"
                                               placeholder="{{ entry_email }}"
                                               id="input-email" class="form-control"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" value="{{ password }}"
                                               placeholder="{{ entry_password }}" id="input-password"
                                               class="form-control"/>
                                    </div>
                                    <input type="submit" value="{{ button_login }}"
                                           class="btn btn-black mb-2 text-uppercase"/>
                                    {% if redirect %}
                                        <input type="hidden" name="redirect" value="{{ redirect }}"/>
                                    {% endif %}
                                    <div>
                                        <a href="{{ forgotten }}" class="text-size-12">{{ text_forgotten }}</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {{ content_bottom }}
            </div>
        </div>
    </div>
</div>
{{ footer }}