{{ header }}
<div id="account-newsletter" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-12' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <div class="bg-white p-5 text-center">
                <div class="col-12 col-lg-6 col-md-6 mx-auto">
                    <div>
                        <img src="image/AFTER-SALES.svg"/>
                        <h6 class="text-center mb-4 goth-medium text-uppercase mt-3">Newletter subscription</h6>
                        <hr class="product-detail-hr">
                    </div>

                    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-sm-12 p-0 control-label">{{ entry_newsletter }}</label>

                                <div class="col-sm-12 p-0">
                                    {% if newsletter %}
                                        <label class="radio-inline">
                                            <input type="radio" name="newsletter" value="1" checked="checked"/>
                                            {{ text_yes }} </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="newsletter" value="0"/>
                                            {{ text_no }}</label>
                                    {% else %}
                                        <label class="radio-inline">
                                            <input type="radio" name="newsletter" value="1"/>
                                            {{ text_yes }} </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="newsletter" value="0" checked="checked"/>
                                            {{ text_no }}</label>
                                    {% endif %}
                                </div>
                            </div>
                        </fieldset>
                        <div class="buttons clearfix">
                            <div class="pull-left d-none"><a href="{{ back }}"
                                                      class="btn btn-black mb-2 text-uppercase">{{ button_back }}</a>
                            </div>
                            <div >
                                <input type="submit" value="Save"
                                       class="btn btn-black mb-2 text-uppercase"/>
                            </div>
                        </div>
                    </form>
                    {{ content_bottom }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}