{{ header }}
<div id="account-order" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-12' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <div class="bg-white p-5 text-center">
                <div class="col-12 col-lg-6 col-md-6 mx-auto">
                    <div>
                        <img src="image/AFTER-SALES.svg"/>
                        <h6 class="text-center mb-4 goth-medium text-uppercase mt-3">Order history</h6>
                        <hr class="product-detail-hr">
                    </div>
                    {% if orders %}
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <td class="text-right">{{ column_order_id }}</td>
                                    <td class="text-left">{{ column_customer }}</td>
                                    <td class="text-right">{{ column_product }}</td>
                                    <td class="text-left">{{ column_status }}</td>
                                    <td class="text-right">{{ column_total }}</td>
                                    <td class="text-left">{{ column_date_added }}</td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                    <tr>
                                        <td class="text-right">#{{ order.order_id }}</td>
                                        <td class="text-left">{{ order.name }}</td>
                                        <td class="text-right">{{ order.products }}</td>
                                        <td class="text-left">{{ order.status }}</td>
                                        <td class="text-right">{{ order.total }}</td>
                                        <td class="text-left">{{ order.date_added }}</td>
                                        <td class="text-right"><a href="{{ order.view }}" data-toggle="tooltip"
                                                                  title="{{ button_view }}" class="btn btn-info"><i
                                                        class="fa fa-eye"></i></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 text-left">{{ pagination }}</div>
                            <div class="col-sm-6 text-right">{{ results }}</div>
                        </div>
                    {% else %}
                        <p>{{ text_empty }}</p>
                    {% endif %}
                    <div class="buttons clearfix">
                        <div class=""><a href="{{ continue }}"
                                                   class="btn btn-black mb-2 text-uppercase">{{ button_continue }}</a>
                        </div>
                    </div>
                    {{ content_bottom }}
                </div>
            </div>
        </div>
        </div>
</div>
{{ footer }}
