{{ header }}
<div id="account-password" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-12' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <div class="bg-white p-5 text-center">
                <div class="col-12 col-lg-6 col-md-6 mx-auto">
                    <div>
                        <img src="image/password.svg"/>
                        <h6 class="text-center mb-4 goth-medium text-uppercase mt-3">Edit Account</h6>
                        <hr class="product-detail-hr">
                    </div>

                    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <fieldset>
                            <legend>{{ text_password }}</legend>
                            <div class="form-group required">
                                <div class="col-sm-12 p-0">
                                    <input type="password" name="password" value="{{ password }}"
                                           placeholder="{{ entry_password }}" id="input-password" class="form-control"/>
                                    {% if error_password %}
                                        <div class="text-danger">{{ error_password }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group required">
                                <div class="col-sm-12 p-0">
                                    <input type="password" name="confirm" value="{{ confirm }}"
                                           placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control"/>
                                    {% if error_confirm %}
                                        <div class="text-danger">{{ error_confirm }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </fieldset>
                        <div class="buttons clearfix">
                            <div class="pull-left d-none"><a href="{{ back }}"
                                                      class="btn btn-black mb-2 text-uppercase">{{ button_back }}</a>
                            </div>
                            <div class="">
                                <input type="submit" value="Save"
                                       class="btn btn-black mb-2 text-uppercase"/>
                            </div>
                        </div>
                    </form>
                    {{ content_bottom }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}