{{ header }}
<div id="account-wishlist" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    {% if success %}
        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-12' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <div class="bg-white p-5">
                <h6 class="text-center mb-4 goth-medium text-uppercase">My Wish list</h6>
                <hr class="product-detail-hr">
                {% if products %}
                    {% for product in products %}
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 border-bottom mb-4 pb-lg-4 pb-md-5 pb-5">
                                <div class="row align-items-center">
                                    <div class="col-sm-3 p-0 mb-lg-0 mb-md-0 mb-3">
                                        {% if product.thumb %}
                                            <a href="{{ product.href }}">
                                                <img src="{{ product.thumb }}" alt="{{ product.name }}"
                                                     title="{{ product.name }}" class="img-fluid"/>
                                            </a>
                                        {% else %}
                                            <a href="{{ product.href }}">
                                                <img src="/image/no-image.png" class="img-fluid" width="100%"/>
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-6 text-center">
                                        <a href="{{ product.href }}"
                                           class="mb-lg-0 product-name text-size-12 goth-medium text-dark">
                                            {{ product.name }}
                                        </a>
                                        {% if product.manufacturer_name %}
                                            <hr class="product-detail-hr">
                                            <p class="mb-lg-0 product-brand text-size-12 goth-medium text-muted">
                                                <a href="/{{ product.manufacturer_name_link }}"
                                                   class="text-muted">{{ product.manufacturer_name }}</a>
                                            </p>
                                        {% endif %}
                                        <hr class="product-detail-hr">
                                        <p class="mb-lg-0 product-brand text-size-12 goth-medium">
                                            <a href="{{ product.manufacturer }}"
                                               class="text-muted"> {{ product.manufacturer }}</a>
                                        </p>
                                        <hr class="product-detail-hr">
                                        <p class="mb-lg-0 product-brand text-size-12 goth-medium">
                                            <a href="javascript:void(0)"
                                               class="text-muted text-uppercase">Item Code: {{ product.model }}</a>
                                        </p>
                                        <hr class="product-detail-hr">
                                        <p class="mb-lg-0 product-brand text-size-12 goth-medium">
                                            <a href="javascript:void(0)"
                                               class="text-muted text-uppercase">Price: {{ product.price }}</a>
                                        </p>
                                    </div>
                                    <div class="col-sm-12 col-md-3 col-lg-3 p-0">
                                        <div class="float-lg-right float-md-right float-sm-none text-center text-lg-right text-md-right">
                                            <button type="button" onclick="cart.add('{{ product.product_id }}');"
                                                    data-toggle="tooltip" title="{{ button_cart }}"
                                                    class="btn btn-black mb-2 mr-lg-1 text-uppercase button_update"><i
                                                        class="fa fa-shopping-cart"></i></button>
                                            <button class="btn btn-black mb-2 mr-lg-1 text-uppercase button_remove">
                                                <a href="{{ product.remove }}" data-toggle="tooltip"
                                                   title="{{ button_remove }}"
                                                   class=""><i class="fa fa-times"></i></a>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-center">{{ text_empty }}</p>
                {% endif %}
                <div class="buttons clearfix text-center">
                    <div><a href="{{ continue }}" class="btn btn-black mb-2 text-uppercase">{{ button_continue }}</a>
                    </div>
                </div>
                {{ content_bottom }}
            </div>
        </div>
    </div>
</div>
{{ footer }}