#d_quickcheckout {
    /* login */
    /* field */
    /* payment address */
    /* shipping method */
    /* total */
    /* payment */
    /* helper */
    /* preloader */
}

#d_quickcheckout input[type=radio],
#d_quickcheckout input[type=checkbox] {
    display: inline-block;
}

#d_quickcheckout .login-btn-group {
    margin-bottom: 20px;
}

#d_quickcheckout #login_button_popup:hover,
#d_quickcheckout #login_button_popup:active,
#d_quickcheckout #login_button_popup:focus,
#d_quickcheckout #login_button_popup.focus,
#d_quickcheckout #login_button_popup.active,
#d_quickcheckout #login_button_popup.hover {
    outline: 0px !important;
}

#d_quickcheckout #login_social_login #d_social_login {
    margin-bottom: 10px;
}

#d_quickcheckout .modal {
    /* ... */
    overflow-y: scroll;
}

#d_quickcheckout .col-md-0 {
    display: none;
}

#d_quickcheckout .checkbox-input {
    margin-bottom: 10px;
}

#d_quickcheckout .text-danger {
    margin: 5px 0px 0px 0px;
}

#d_quickcheckout .list-group-item label,
#d_quickcheckout .list-group-item {
    cursor: pointer;
    width: 100%;
}

#d_quickcheckout .list-group-item input[type=radio] {
    display: none;
}

#d_quickcheckout .address-item {
    white-space: pre;
}

#d_quickcheckout .control-label .text-danger {
    text-align: left;
}

#d_quickcheckout #shipping_method .radio label,
#d_quickcheckout #payment_method .radio label {
    width: 100%;
}

#d_quickcheckout #shipping_method .radio label .price,
#d_quickcheckout #payment_method .radio label .price {
    float: right;
}

#d_quickcheckout .qc-totals .row:last-child {
    border-top: 1px solid #efefef;
    padding-top: 10px;
    margin-top: 10px;
}

#d_quickcheckout .qc-totals .row:last-child div,
#d_quickcheckout .qc-totals .row:last-child label {
    font-size: 16px;
    font-family: "GOTHAM-LIGHT", "Lucida Console", monospace;
}

#d_quickcheckout .qc-quantity {
    width: 17%;
    min-width: 50px;
}


#d_quickcheckout .telephone-validation {
    padding-left: 46px;
}

#d_quickcheckout #payment_view #button-confirm,
#d_quickcheckout #payment_view a,
#d_quickcheckout #payment_view button,
#d_quickcheckout #payment_view .btn,
#d_quickcheckout #payment_view .btn-primary {
    display: none !important;
}

#d_quickcheckout #payment_view #payment_modal #button-confirm,
#d_quickcheckout #payment_view #payment_modal a,
#d_quickcheckout #payment_view #payment_modal button,
#d_quickcheckout #payment_view #payment_modal .btn,
#d_quickcheckout #payment_view #payment_modal .btn-primary {
    display: inline-block !important;
}

#d_quickcheckout .panel-body {
    position: relative;
}

#d_quickcheckout .preloader {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1000;
    top: 0;
    box-sizing: border-box;
    display: none;
}

#d_quickcheckout .preloader .icon {
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    color: #333333;
}
