{{ header }}
<div id="checkout-cart" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    {% if attention %}
        <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ attention }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    {% if success %}
        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
    <div class="container bg-white">
        <div class="row p-lg-5 p-md-5 p-4">
            <h6 class="text-center goth-medium text-uppercase w-100 mt-lg-0 mt-md-0 mt-3">My Cart</h6>
            <hr class="product-detail-hr w-100">
            <p class="text-center goth-medium text-uppercase w-100 mt-lg-0 mt-md-0 mt-3 mb-0">
                NEED HELP?  FOR UK CALL: 0800 044 5705 |  EMAIL CUSTOMER CARE |  SHIPPING INFORMATION |  RETURNS & EXCHANGES
            </p>
            <hr class="product-detail-hr w-100">
            <div class="col-lg-12">
                <form action="{{ action }}" method="post" enctype="multipart/form-data">
                    {% for product in products %}
                        <div class="row mb-4">
                            <div class="col-lg-9 col-md-12 col-sm-12 border-bottom pb-lg-0 pb-md-5 pb-lg-0 pb-3 pt-lg-0 pt-3 p-0 mb-lg-0">
                                <div class="row align-items-center">
                                    <div class="col-sm-3 col-4 p-0 mb-lg-0 mb-md-0 mb-3">
                                        {% if product.thumb %}
                                            <a href="{{ product.href }}">
                                                <img src="{{ product.thumb }}" alt="{{ product.name }}"
                                                     title="{{ product.name }}" class="img-fluid"/>
                                            </a>
                                        {% else %}
                                            <a href="{{ product.href }}">
                                                <img src="/image/no-image.png" class="img-fluid" width="100%"/>
                                            </a>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-9 col-8 text-center row justify-content-center align-items-center">
                                        <div class="row col-sm-6 d-inline-block">
                                            <a href="{{ product.href }}"
                                               class="mb-lg-0 product-name text-size-12 goth-medium text-dark">
                                                {{ product.name }}
                                            </a>
                                            {% if product.manufacturer_name %}
                                                <hr class="product-detail-hr">
                                                <p class="mb-0 product-brand text-size-12 goth-medium text-muted">
                                                    <a href="/{{ product.manufacturer_name_link }}" class="text-muted">{{ product.manufacturer_name }}</a>
                                                </p>
                                            {% endif %}

                                            <hr class="product-detail-hr">
                                            <p class="mb-lg-0 product-brand text-size-10 goth-medium">
                                                <a href="javascript:void(0)"
                                                   class="text-muted">ITEM CODE: {{ product.model }}</a>
                                            </p>


                                            {% if product.option %}
                                                {% for option in product.option %}
                                                    <hr class="product-detail-hr">
                                                    <p class="mb-lg-0 product-brand text-size-12 goth-medium text-muted">
                                                        {{ option.name }}: {{ option.value }}
                                                    </p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="row col-sm-6 d-inline-block m-0">
                                            <div class="col-sm-12 d-inline-block p-0">
                                                <div class="form-inline row justify-content-center align-items-center">
                                                    <div class="form-group mx-sm-1 mb-2 product-qty">
                                                        <input type="number" name="quantity[{{ product.cart_id }}]"
                                                               value="{{ product.quantity }}" size="1"
                                                               class="form-control"/>
                                                    </div>
                                                    <button type="submit" data-toggle="tooltip" title="{{ button_update }}"
                                                            class="btn btn-black mb-2 mr-lg-1 text-uppercase button_update" data-max-quantity-cart="{{ max_quantity }}"><i
                                                                class="fa fa-refresh"></i></button>
                                                    <button type="button" data-toggle="tooltip" title="{{ button_remove }}"
                                                            class="btn btn-black mb-2 text-uppercase button_remove"
                                                            onclick="cart.remove('{{ product.cart_id }}');">
                                                        <i class="fa fa-times"></i></button>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 d-inline-block">
                                                <p class="mb-0 text-center text-size-12 goth-medium">
                                                    {{ product.total }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {% if product.related_products %}
                                <div class="col-lg-3 d-lg-block d-none">
                                    <div class="border pt-3 pl-3 pr-3 pb-3">

                                        <h6 class="text-uppercase text-center goth-medium text-size-12">Goes well with</h6>

                                        <div class="cart-related-slider owl-carousel pt-0 pl-3 pr-3">
                                            {% for related_product in product.related_products %}
                                                <div class="item">
                                                    {% if related_product.image == null %}
                                                        <a href="{{ related_product.href }}">
                                                            <img src="/image/no-image.png" class="img-fluid"/>
                                                        </a>
                                                    {% else %}
                                                        <img src="/image/{{ related_product.image }}"
                                                             class="img-fluid"/>
                                                    {% endif %}
                                                    <p class="text-size-12 text-center goth-medium mt-2 mb-0">
                                                        <a href="{{ related_product.href }}"
                                                           class="text-dark">
                                                            {{ related_product.name|length > 25 ? related_product.name|slice(0, 25) ~ '...' : related_product.name  }}
                                                        </a>
                                                    </p>
                                                </div>
                                            {% endfor %}
                                        </div>

                                    </div>

                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </form>
                <div class="col p-0 mt-3">
                    <div class="row">
                        <div class="col-lg-9 col-md-12 col-sm-12 total_amount">
                            <div class="row">
                                {% for total in totals %}
                                    <div class="bg-brown p-2 w-100 mb-2">
                                        <p class="mb-0 text-white text-lg-right text-md-right text-sm-center goth-medium">
                                            {{ total.title }}: {{ total.text }}
                                        </p>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="row">
                                <div class="mt-4 w-100   ">
                                    <div class="pull-left"><a href="{{ continue }}"
                                                              class="btn btn-black mb-2 text-uppercase">{{ button_shopping }}</a>
                                    </div>
                                    <div class="pull-right"><a href="{{ checkout }}"
                                                               class="btn btn-black mb-2 text-uppercase">{{ button_checkout }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            <div class="h-100" style="background: #000"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }} 