{{ header }}


<div class="container">

    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>

    {% if error_warning is not empty %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} </div>
    {% endif %}

    <div class="row">
        <div id="content" class="col-sm-12">
            <div class="bg-white p-5 text-center">
                <div class="col-12 col-lg-6 col-md-6 mx-auto">
                    <div>
                        <img src="image/SIGN-UP.svg"/>
                        <h6 class="text-center mb-4 goth-medium text-uppercase mt-3">You have logged in with Facebook</h6>
                        <hr class="product-detail-hr">
                        <h6 class="text-center mb-4 goth-medium text-uppercase mt-3">{{ oa_heading_desc }}</h6>
                    </div>

                    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <input type="hidden" name="oa_redirect" value="{{ oa_redirect }}"/>

                        <fieldset id="account">
                            <div class="form-group required"
                                 style="display: {% if customer_groups|length > 1 %}block{% else %}none{% endif %}">
                                <label class="col-sm-2 control-label">{{ entry_customer_group }}</label>

                                <div class="col-sm-12">
                                    {% for customer_group in customer_groups %}
                                        {% if customer_group.customer_group_id == customer_group_id %}
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="customer_group_id"
                                                           value="{{ customer_group.customer_group_id }}"
                                                           checked="checked"/>
                                                    {{ customer_group.name }}
                                                </label>
                                            </div>
                                        {% else %}
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="customer_group_id"
                                                           value="{{ customer_group.customer_group_id }}"/>
                                                    {{ customer_group.name }}
                                                </label>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="form-group required">
                                <div class="col-sm-12">
                                    <input type="text" name="firstname" value="{{ firstname }}"
                                           placeholder="{{ entry_firstname }}" id="input-firstname"
                                           class="form-control"/>
                                    {% if error_firstname is not empty %}
                                        <div class="text-danger">{{ error_firstname }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group required">

                                <div class="col-sm-12">
                                    <input type="text" name="lastname" value="{{ lastname }}"
                                           placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control"/>
                                    {% if error_lastname is not empty %}
                                        <div class="text-danger">{{ error_lastname }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group required">

                                <div class="col-sm-12">
                                    <input type="email" name="email" value="{{ email }}" placeholder="{{ entry_email }}"
                                           id="input-email" class="form-control"/>
                                    {% if error_email is not empty %}
                                        <div class="text-danger">{{ error_email }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="form-group required">
                                <div class="col-sm-12">
                                    <input type="tel" name="telephone" value="{{ telephone }}"
                                           placeholder="{{ entry_telephone }}" id="input-telephone"
                                           class="form-control"/>
                                    {% if error_telephone is not empty %}
                                        <div class="text-danger">{{ error_telephone }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            {% for custom_field in custom_fields %}

                                {% if custom_field.location == 'account' %}

                                    {% if custom_field.type == 'select' %}

                                        <div id="custom-field{{ custom_field.custom_field_id }}"
                                             class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                                            <label class="col-sm-2 control-label"
                                                   for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>

                                            <div class="col-sm-12">

                                                <select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                                        id="input-custom-field{{ custom_field.custom_field_id }}"
                                                        class="form-control">
                                                    <option value="">{{ text_select }}</option>

                                                    {% for custom_field_value in custom_field.custom_field_value %}
                                                        {% if register_custom_field[custom_field.custom_field_id] is not empty and register_custom_field[custom_field.custom_field_id] == custom_field_value.custom_field_value_id %}
                                                            <option value="{{ custom_field_value.custom_field_value_id }}"
                                                                    selected="selected">{{ custom_field_value.name }}</option>
                                                        {% else %}
                                                            <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                                {% if error_custom_field[custom_field.custom_field_id] is not empty %}
                                                    <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}


                                    {% if custom_field.type == 'radio' %}
                                        <div id="custom-field{{ custom_field.custom_field_id }}"
                                             class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                                            <label class="col-sm-2 control-label">{{ custom_field.name }}</label>

                                            <div class="col-sm-12">
                                                <div>
                                                    {% for custom_field_value in custom_field.custom_field_value %}
                                                        <div class="radio">
                                                            {% if register_custom_field[custom_field.custom_field_id] is not empty and register_custom_field[custom_field.custom_field_id] == custom_field_value.custom_field_value_id %}
                                                                <label>
                                                                    <input type="radio"
                                                                           name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                                                           value="{{ custom_field_value.custom_field_value_id }}"
                                                                           checked="checked"/>
                                                                    {{ custom_field_value.name }}</label>
                                                            {% else %}
                                                                <label>
                                                                    <input type="radio"
                                                                           name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                                                           value="{{ custom_field_value.custom_field_value_id }}"/>
                                                                    {{ custom_field_value.name }}</label>
                                                            {% endif %}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                {% if error_custom_field[custom_field.custom_field_id] is not empty %}
                                                    <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if custom_field.type == 'checkbox' %}
                                        <div id="custom-field{{ custom_field.custom_field_id }}"
                                             class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                                            <label class="col-sm-2 control-label">{{ custom_field.name }}</label>

                                            <div class="col-sm-12">
                                                <div>
                                                    {% for custom_field_value in custom_field.custom_field_value %}
                                                        <div class="checkbox">

                                                            {% if register_custom_field[custom_field.custom_field_id] is not empty
                                                            and custom_field_value.custom_field_value_id in register_custom_field[custom_field.custom_field_id] %}
                                                                <label>
                                                                    <input type="checkbox"
                                                                           name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]"
                                                                           value="{{ custom_field_value.custom_field_value_id }}"
                                                                           checked="checked"/>
                                                                    {{ custom_field_value.name }}</label>
                                                            {% else %}
                                                                <label>
                                                                    <input type="checkbox"
                                                                           name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]"
                                                                           value="{{ custom_field_value.custom_field_value_id }}"/>
                                                                    {{ custom_field_value.name }}</label>
                                                            {% endif %}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                {% if error_custom_field[custom_field.custom_field_id] is not empty %}
                                                    <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}


                                    {% if custom_field.type == 'text' %}
                                        <div id="custom-field{{ custom_field.custom_field_id }}"
                                             class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                                            <label class="col-sm-2 control-label"
                                                   for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>

                                            <div class="col-sm-12">
                                                <input type="text"
                                                       name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                                       value="{% if register_custom_field[custom_field.custom_field_id] is not empty %}register_custom_field[custom_field.custom_field_id]{% else %}{{ custom_field.value }}{% endif %} "
                                                       placeholder="{{ custom_field.name }}"
                                                       id="input-custom-field{{ custom_field.custom_field_id }}"
                                                       class="form-control"/>
                                                {% if error_custom_field[custom_field.custom_field_id] is not empty %}
                                                    <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}


                                    {% if custom_field.type == 'textarea' %}
                                        <div id="custom-field{{ custom_field.custom_field_id }}"
                                             class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                                            <label class="col-sm-2 control-label"
                                                   for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>

                                            <div class="col-sm-12">
                                                <textarea
                                                        name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                                        rows="5" placeholder="{{ custom_field.name }}"
                                                        id="input-custom-field{{ custom_field.custom_field_id }}"
                                                        class="form-control">{% if register_custom_field[custom_field.custom_field_id] is not empty %}register_custom_field[custom_field.custom_field_id]{% else %}{{ custom_field.value }}{% endif %} </textarea>
                                                {% if error_custom_field[custom_field.custom_field_id] is not empty %}
                                                    <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if custom_field.type == 'file' %}
                                        <div id="custom-field{{ custom_field.custom_field_id }}"
                                             class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                                            <label class="col-sm-2 control-label">{{ custom_field.name }}</label>

                                            <div class="col-sm-12">
                                                <button type="button"
                                                        id="button-custom-field{{ custom_field.custom_field_id }}"
                                                        data-loading-text="{{ text_loading }}" class="btn btn-default">
                                                    <i class="fa fa-upload"></i> {{ button_upload }}</button>
                                                <input type="hidden"
                                                       name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                                       value="{% if register_custom_field[custom_field.custom_field_id] is not empty %}register_custom_field[custom_field.custom_field_id]{% endif %}"/>
                                                {% if error_custom_field[custom_field.custom_field_id] is not empty %}
                                                    <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}


                                    {% if custom_field.type == 'date' %}
                                        <div id="custom-field{{ custom_field.custom_field_id }}"
                                             class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                                            <label class="col-sm-2 control-label"
                                                   for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>

                                            <div class="col-sm-12">
                                                <div class="input-group date">
                                                    <input type="text"
                                                           name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                                           value="{% if register_custom_field[custom_field.custom_field_id] is not empty %}register_custom_field[custom_field.custom_field_id]{% else %}{{ custom_field.value }}{% endif %} "
                                                           placeholder="{{ custom_field.name }}"
                                                           data-date-format="YYYY-MM-DD"
                                                           id="input-custom-field{{ custom_field.custom_field_id }}"
                                                           class="form-control"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"><i
                                                            class="fa fa-calendar"></i></button>
                                            </span>
                                                </div>
                                                {% if error_custom_field[custom_field.custom_field_id] is not empty %}
                                                    <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if custom_field.type == 'time' %}
                                        <div id="custom-field{{ custom_field.custom_field_id }}"
                                             class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                                            <label class="col-sm-2 control-label"
                                                   for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>

                                            <div class="col-sm-12">
                                                <div class="input-group time">
                                                    <input type="text"
                                                           name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                                           value="{% if register_custom_field[custom_field.custom_field_id] is not empty %}register_custom_field[custom_field.custom_field_id]{% else %}{{ custom_field.value }}{% endif %} "
                                                           placeholder="{{ custom_field.name }}"
                                                           data-date-format="HH:mm"
                                                           id="input-custom-field{{ custom_field.custom_field_id }}"
                                                           class="form-control"/>
                                            <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i>
                                            </button>
                                            </span>
                                                </div>
                                                {% if error_custom_field[custom_field.custom_field_id] is not empty %}
                                                    <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if custom_field.type == 'datetime' %}
                                        <div id="custom-field{{ custom_field.custom_field_id }}"
                                             class="form-group custom-field" data-sort="{{ custom_field.sort_order }}">
                                            <label class="col-sm-2 control-label"
                                                   for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>

                                            <div class="col-sm-12">
                                                <div class="input-group datetime">
                                                    <input type="text"
                                                           name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                                           value="{% if register_custom_field[custom_field.custom_field_id] is not empty %}register_custom_field[custom_field.custom_field_id]{% else %}{{ custom_field.value }}{% endif %} "
                                                           placeholder="{{ custom_field.name }}"
                                                           data-date-format="YYYY-MM-DD HH:mm"
                                                           id="input-custom-field{{ custom_field.custom_field_id }}"
                                                           class="form-control"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"><i
                                                            class="fa fa-calendar"></i></button>
                                            </span>
                                                </div>
                                                {% if error_custom_field[custom_field.custom_field_id] is not empty %}
                                                    <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}

                                {% endif %}

                            {% endfor %}

                        </fieldset>


                        {% if oneall_ask_address != "0" %}

                            <fieldset id="address">
                                <legend>{{ text_your_address }}</legend>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label"
                                           for="input-company">{{ entry_company }}</label>

                                    <div class="col-sm-12">
                                        <input type="text" name="company" value="{{ company }}"
                                               placeholder="{{ entry_company }}" id="input-company"
                                               class="form-control"/>
                                    </div>
                                </div>

                                <div class="form-group required">
                                    <label class="col-sm-2 control-label"
                                           for="input-address-1">{{ entry_address_1 }}</label>

                                    <div class="col-sm-12">
                                        <input type="text" name="address_1" value="{{ address_1 }}"
                                               placeholder="{{ entry_address_1 }}" id="input-address-1"
                                               class="form-control"/>
                                        {% if error_address_1 is not empty %}
                                            <div class="text-danger">{{ error_address_1 }}</div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label"
                                           for="input-address-2">{{ entry_address_2 }}</label>

                                    <div class="col-sm-12">
                                        <input type="text" name="address_2" value="{{ address_2 }}"
                                               placeholder="{{ entry_address_2 }}" id="input-address-2"
                                               class="form-control"/>
                                    </div>
                                </div>

                                <div class="form-group required">
                                    <label class="col-sm-2 control-label" for="input-city">{{ entry_city }}</label>

                                    <div class="col-sm-12">
                                        <input type="text" name="city" value="{{ city }}" placeholder="{{ entry_city }}"
                                               id="input-city" class="form-control"/>
                                        {% if error_city is not empty %}
                                            <div class="text-danger">{{ error_city }}</div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group required">
                                    <label class="col-sm-2 control-label"
                                           for="input-postcode">{{ entry_postcode }}</label>

                                    <div class="col-sm-12">
                                        <input type="text" name="postcode" value="{{ postcode }}"
                                               placeholder="{{ entry_postcode }}" id="input-postcode"
                                               class="form-control"/>
                                        {% if error_postcode is not empty %}
                                            <div class="text-danger">{{ error_postcode }}</div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group required">
                                    <label class="col-sm-2 control-label"
                                           for="input-country">{{ entry_country }}</label>

                                    <div class="col-sm-12">
                                        <select name="country_id" id="input-country" class="form-control">
                                            <option value="">{{ text_select }}</option>
                                            {% for country in countries %}
                                                {% if country.country_id == country_id %}
                                                    <option value="{{ country.country_id }}"
                                                            selected="selected">{{ country.name }}</option>
                                                {% else %}
                                                    <option value="{{ country.country_id }}">{{ country.name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        {% if error_country is not empty %}
                                            <div class="text-danger">{{ error_country }}</div>
                                        {% endif %}
                                    </div>
                                </div>


                                <div class="form-group required">
                                    <label class="col-sm-2 control-label" for="input-zone">{{ entry_zone }}</label>

                                    <div class="col-sm-12">
                                        <select name="zone_id" id="input-zone" class="form-control">
                                        </select>
                                        {% if error_zone is not empty %}
                                            <div class="text-danger">{{ error_zone }}</div>
                                        {% endif %}
                                    </div>
                                </div>


                                {% for custom_field in custom_fields %}

                                    {% if custom_field.location == 'address' %}

                                        {% if custom_field.type == 'select' %}

                                            <div id="custom-field{{ custom_field.custom_field_id }}"
                                                 class="form-group custom-field"
                                                 data-sort="{{ custom_field.sort_order }}">
                                                <label class="col-sm-2 control-label"
                                                       for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>

                                                <div class="col-sm-12">
                                                    <select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                                            id="input-custom-field{{ custom_field.custom_field_id }}"
                                                            class="form-control">
                                                        <option value="">{{ text_select }}</option>

                                                        {% for custom_field_value in custom_field.custom_field_value %}
                                                            {% if register_custom_field[custom_field.custom_field_id] is not empty and register_custom_field[custom_field.custom_field_id] == custom_field_value.custom_field_value_id %}
                                                                <option value="{{ custom_field_value.custom_field_value_id }}"
                                                                        selected="selected">{{ custom_field_value.name }}</option>
                                                            {% else %}
                                                                <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                    {% if error_custom_field[custom_field.custom_field_id] is not empty %}
                                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}


                                        {% if custom_field.type == 'radio' %}
                                            <div id="custom-field{{ custom_field.custom_field_id }}"
                                                 class="form-group custom-field"
                                                 data-sort="{{ custom_field.sort_order }}">
                                                <label class="col-sm-2 control-label">{{ custom_field.name }}</label>

                                                <div class="col-sm-12">
                                                    <div>
                                                        {% for custom_field_value in custom_field.custom_field_value %}
                                                            <div class="radio">
                                                                {% if register_custom_field[custom_field.custom_field_id] is not empty and register_custom_field[custom_field.custom_field_id] == custom_field_value.custom_field_value_id %}
                                                                    <label>
                                                                        <input type="radio"
                                                                               name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                                                               value="{{ custom_field_value.custom_field_value_id }}"
                                                                               checked="checked"/>
                                                                        {{ custom_field_value.name }}
                                                                    </label>
                                                                {% else %}
                                                                    <label>
                                                                        <input type="radio"
                                                                               name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                                                               value="{{ custom_field_value.custom_field_value_id }}"/>
                                                                        {{ custom_field_value.name }}
                                                                    </label>
                                                                {% endif %}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    {% if error_custom_field[custom_field.custom_field_id] is not empty %}
                                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}


                                        {% if custom_field.type == 'checkbox' %}
                                            <div id="custom-field{{ custom_field.custom_field_id }}"
                                                 class="form-group custom-field"
                                                 data-sort="{{ custom_field.sort_order }}">
                                                <label class="col-sm-2 control-label">{{ custom_field.name }}</label>

                                                <div class="col-sm-12">
                                                    <div>
                                                        {% for custom_field_value in custom_field.custom_field_value %}
                                                            <div class="checkbox">
                                                                {% if (register_custom_field[custom_field.custom_field_id] is not empty and custom_field_value.custom_field_value_id in register_custom_field[custom_field.custom_field_id]) %}
                                                                    <label>
                                                                        <input type="checkbox"
                                                                               name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]"
                                                                               value="{{ custom_field_value.custom_field_value_id }}"
                                                                               checked="checked"/>
                                                                        {{ custom_field_value.name }}
                                                                    </label>
                                                                {% else %}
                                                                    <label>
                                                                        <input type="checkbox"
                                                                               name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]"
                                                                               value="{{ custom_field_value.custom_field_value_id }}"/>
                                                                        {{ custom_field_value.name }}
                                                                    </label>
                                                                {% endif %}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    {% if error_custom_field[custom_field.custom_field_id] is not empty %}
                                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}


                                        {% if custom_field.type == 'text' %}
                                            <div id="custom-field{{ custom_field.custom_field_id }}"
                                                 class="form-group custom-field"
                                                 data-sort="{{ custom_field.sort_order }}">
                                                <label class="col-sm-2 control-label"
                                                       for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>

                                                <div class="col-sm-12">
                                                    <input type="text"
                                                           name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                                           value="{% if register_custom_field[custom_field.custom_field_id] is not empty %}register_custom_field[custom_field.custom_field_id]{% else %}{{ custom_field.value }}{% endif %} "
                                                           placeholder="{{ custom_field.name }}"
                                                           id="input-custom-field{{ custom_field.custom_field_id }}"
                                                           class="form-control"/>
                                                    {% if error_custom_field[custom_field.custom_field_id] is not empty %}
                                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}


                                        {% if custom_field.type == 'textarea' %}
                                            <div id="custom-field{{ custom_field.custom_field_id }}"
                                                 class="form-group custom-field"
                                                 data-sort="{{ custom_field.sort_order }}">
                                                <label class="col-sm-2 control-label"
                                                       for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>

                                                <div class="col-sm-12">
                                                    <textarea
                                                            name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                                            rows="5" placeholder="{{ custom_field.name }}"
                                                            id="input-custom-field{{ custom_field.custom_field_id }}"
                                                            class="form-control">{% if register_custom_field[custom_field.custom_field_id] is not empty %}register_custom_field[custom_field.custom_field_id]{% else %}{{ custom_field.value }}{% endif %} </textarea>

                                                    {% if error_custom_field[custom_field.custom_field_id] is not empty %}
                                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}


                                        {% if custom_field.type == 'file' %}
                                            <div id="custom-field{{ custom_field.custom_field_id }}"
                                                 class="form-group custom-field"
                                                 data-sort="{{ custom_field.sort_order }}">
                                                <label class="col-sm-2 control-label">{{ custom_field.name }}</label>

                                                <div class="col-sm-12">
                                                    <button type="button"
                                                            id="button-custom-field{{ custom_field.custom_field_id }}"
                                                            data-loading-text="{{ text_loading }}"
                                                            class="btn btn-default"><i
                                                                class="fa fa-upload"></i> {{ button_upload }}</button>
                                                    <input type="hidden"
                                                           name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                                           value="{% if register_custom_field[custom_field.custom_field_id] is not empty %}register_custom_field[custom_field.custom_field_id]{% endif %}"/>
                                                    {% if error_custom_field[custom_field.custom_field_id] is not empty %}
                                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}


                                        {% if custom_field.type == 'date' %}
                                            <div id="custom-field{{ custom_field.custom_field_id }}"
                                                 class="form-group custom-field"
                                                 data-sort="{{ custom_field.sort_order }}">
                                                <label class="col-sm-2 control-label"
                                                       for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>

                                                <div class="col-sm-12">
                                                    <div class="input-group date">
                                                        <input type="text"
                                                               name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                                               value="{% if register_custom_field[custom_field.custom_field_id] is not empty %}register_custom_field[custom_field.custom_field_id]{% else %}{{ custom_field.value }}{% endif %} "
                                                               placeholder="{{ custom_field.name }}"
                                                               data-date-format="YYYY-MM-DD"
                                                               id="input-custom-field{{ custom_field.custom_field_id }}"
                                                               class="form-control"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"><i
                                                            class="fa fa-calendar"></i></button>
                                            </span>
                                                    </div>
                                                    {% if error_custom_field[custom_field.custom_field_id] is not empty %}
                                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}


                                        {% if custom_field.type == 'time' %}
                                            <div id="custom-field{{ custom_field.custom_field_id }}"
                                                 class="form-group custom-field"
                                                 data-sort="{{ custom_field.sort_order }}">
                                                <label class="col-sm-2 control-label"
                                                       for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>

                                                <div class="col-sm-12">
                                                    <div class="input-group time">
                                                        <input type="text"
                                                               name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                                               value="{% if register_custom_field[custom_field.custom_field_id] is not empty %}register_custom_field[custom_field.custom_field_id]{% else %}{{ custom_field.value }}{% endif %} "
                                                               placeholder="{{ custom_field.name }}"
                                                               data-date-format="HH:mm"
                                                               id="input-custom-field{{ custom_field.custom_field_id }}"
                                                               class="form-control"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"><i
                                                            class="fa fa-calendar"></i></button>
                                            </span>
                                                    </div>
                                                    {% if error_custom_field[custom_field.custom_field_id] is not empty %}
                                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}


                                        {% if custom_field.type == 'datetime' %}
                                            <div id="custom-field{{ custom_field.custom_field_id }}"
                                                 class="form-group custom-field"
                                                 data-sort="{{ custom_field.sort_order }}">
                                                <label class="col-sm-2 control-label"
                                                       for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>

                                                <div class="col-sm-12">
                                                    <div class="input-group datetime">
                                                        <input type="text"
                                                               name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                                                               value="{% if register_custom_field[custom_field.custom_field_id] is not empty %}register_custom_field[custom_field.custom_field_id]{% else %}{{ custom_field.value }}{% endif %} "
                                                               placeholder="{{ custom_field.name }}"
                                                               data-date-format="YYYY-MM-DD HH:mm"
                                                               id="input-custom-field{{ custom_field.custom_field_id }}"
                                                               class="form-control"/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default"><i
                                                            class="fa fa-calendar"></i></button>
                                            </span>
                                                    </div>
                                                    {% if error_custom_field[custom_field.custom_field_id] is not empty %}
                                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}

                                    {% endif %}

                                {% endfor %}
                            </fieldset>

                        {% endif %}

                        <fieldset>

                            <legend>{{ text_newsletter }}</legend>
                            <div class="form-group">

                                <div class="col-sm-12">
                                    {% if newsletter is not empty %}
                                        <label class="radio-inline">
                                            <input type="radio" name="newsletter" value="1" checked="checked"/>
                                            {{ text_yes }}
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="newsletter" value="0"/>
                                            {{ text_no }}
                                        </label>
                                    {% else %}
                                        <label class="radio-inline">
                                            <input type="radio" name="newsletter" value="1"/>
                                            {{ text_yes }}
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="newsletter" value="0"
                                                   checked="checked"/>{{ text_no }}
                                        </label>
                                    {% endif %}
                                </div>
                            </div>
                        </fieldset>

                        <div class="buttons">
                            <div class="">
                                <input type="submit" value="{{ button_continue }}" class="btn btn-black mb-2 text-uppercase"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {{ content_bottom }}

        </div>

        {{ column_right }}

    </div>
</div>


<script type="text/javascript">

    // Sort the custom fields
    $('#account .form-group[data-sort]').detach().each(function () {
        if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#account .form-group').length) {
            $('#account .form-group').eq($(this).attr('data-sort')).before(this);
        }

        if ($(this).attr('data-sort') > $('#account .form-group').length) {
            $('#account .form-group:last').after(this);
        }

        if ($(this).attr('data-sort') < -$('#account .form-group').length) {
            $('#account .form-group:first').before(this);
        }
    });

    $('#address .form-group[data-sort]').detach().each(function () {
        if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('#address .form-group').length) {
            $('#address .form-group').eq($(this).attr('data-sort')).before(this);
        }

        if ($(this).attr('data-sort') > $('#address .form-group').length) {
            $('#address .form-group:last').after(this);
        }

        if ($(this).attr('data-sort') < -$('#address .form-group').length) {
            $('#address .form-group:first').before(this);
        }
    });

    $('input[name=\'customer_group_id\']').on('change', function () {
        $.ajax({
            url: 'index.php?route=account/register/customfield&customer_group_id=' + this.value,
            dataType: 'json',
            success: function (json) {
                $('.custom-field').hide();
                $('.custom-field').removeClass('required');

                for (i = 0; i < json.length; i++) {
                    custom_field = json[i];

                    $('#custom-field' + custom_field['custom_field_id']).show();

                    if (custom_field['required']) {
                        $('#custom-field' + custom_field['custom_field_id']).addClass('required');
                    }
                }


            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $('input[name=\'customer_group_id\']:checked').trigger('change');
</script>


<script type="text/javascript">
    $('button[id^=\'button-custom-field\']').on('click', function () {
        var node = this;

        $('#form-upload').remove();

        $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

        $('#form-upload input[name=\'file\']').trigger('click');

        if (typeof timer != 'undefined') {
            clearInterval(timer);
        }

        timer = setInterval(function () {
            if ($('#form-upload input[name=\'file\']').val() != '') {
                clearInterval(timer);

                $.ajax({
                    url: 'index.php?route=tool/upload',
                    type: 'post',
                    dataType: 'json',
                    data: new FormData($('#form-upload')[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $(node).button('loading');
                    },
                    complete: function () {
                        $(node).button('reset');
                    },
                    success: function (json) {
                        $(node).parent().find('.text-danger').remove();

                        if (json['error']) {
                            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                        }

                        if (json['success']) {
                            alert(json['success']);

                            $(node).parent().find('input').attr('value', json['code']);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        }, 500);
    });

</script>


<script type="text/javascript">
    $('.date').datetimepicker({
        pickTime: false
    });

    $('.time').datetimepicker({
        pickDate: false
    });

    $('.datetime').datetimepicker({
        pickDate: true,
        pickTime: true
    });
</script>


<script type="text/javascript">
    $('select[name=\'country_id\']').on('change', function () {
        $.ajax({
            url: 'index.php?route=account/account/country&country_id=' + this.value,
            dataType: 'json',
            beforeSend: function () {
                $('select[name=\'country_id\']').after(' <i class="fa fa-circle-o-notch fa-spin"></i>');
            },
            complete: function () {
                $('.fa-spin').remove();
            },
            success: function (json) {
                if (json['postcode_required'] == '1') {
                    $('input[name=\'postcode\']').parent().parent().addClass('required');
                } else {
                    $('input[name=\'postcode\']').parent().parent().removeClass('required');
                }

                html = '<option value="">{{ text_select }}</option>';

                if (json['zone'] && json['zone'] != '') {
                    for (i = 0; i < json['zone'].length; i++) {
                        html += '<option value="' + json['zone'][i]['zone_id'] + '"';

                        if (json['zone'][i]['zone_id'] == '{{ zone_id }}') {
                            html += ' selected="selected"';
                        }

                        html += '>' + json['zone'][i]['name'] + '</option>';
                    }
                } else {
                    html += '<option value="0" selected="selected">{{ text_none }}</option>';
                }

                $('select[name=\'zone_id\']').html(html);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $('select[name=\'country_id\']').trigger('change');
</script>

{{ footer }}
