<div class="bg-white pt-5">
    <div class="container">
        <h6 class="text-center mb-4 goth-medium text-uppercase">Special Deals</h6>
        <hr class="product-detail-hr">
        <div class="owl-carousel products-sale">
            {% for product in products %}
                <div class="item p-lg-5 p-md-5">
                    <a href="{{ product.href }}">
                        {% if product.special %}
                            <div class="p-sale">Sale</div>
                        {% endif %}
                        <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}"
                             class="img-fluid"/>
                    </a>

                    <div class="text-center">
                        <p class="mb-0 product-name text-size-12 goth-medium">
                            <a href="{{ product.href }}" class="text-dark goth-medium">
                                {{ product.name|length > 40 ? product.name|slice(0, 40) ~ '...' : product.name  }}</a>
                            </a>
                        </p>
                        {% if product.manufacturer %}
                            <hr class="product-detail-hr">
                            <p class="mb-0 product-brand text-size-12 goth-medium">
                                <a href="{{ product.manufacturer_link }}"
                                   class="text-muted">{{ product.manufacturer }}</a>
                            </p>
                        {% endif %}
                        {% if product.price %}
                            <hr class="product-detail-hr">
                            {% if not product.special %}
                                <p class="mb-0 product-price text-size-12 goth-medium">{{ product.price }}</p>
                            {% else %}
                                <p class="mb-0 product-price text-size-12 goth-medium"><span
                                            style="text-decoration: line-through; color: red">{{ product.price }}</span>
                                    {{ special }}
                                </p>
                            {% endif %}
                        {% endif %}
                        <div class="button-group mt-2">
                                       <a href="{{ product.href }}" class="mr-3"  data-toggle="tooltip" title="Add to Cart"
                                             {#onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"#}>
                                           <i class="fa fa-shopping-cart"></i> </a>

                            {#Login#}
                            {% if product.customer_available != 0 %}
                                {% for wishlist_product in product.wishlist_products if wishlist_product.product_id == product.product_id %}
                                    <span data-toggle="tooltip"
                                          title="{{ button_wishlist }}"
                                          onclick="wishlist.add('{{ product.product_id }}');">
                                                                <i class="fas fa-heart"></i>
                                                            </span>
                                {% else %}
                                    <span data-toggle="tooltip"
                                          title="{{ button_wishlist }}"
                                          onclick="wishlist.add('{{ product.product_id }}');">
                                                                    <i class="far fa-heart"></i>
                                                                </span>
                                {% endfor %}
                            {% else %}
                                {% for wishlist_products in product.session_wishlist_products if wishlist_products.product_id == product.product_id %}

                                    <span data-toggle="tooltip"
                                          title="{{ button_wishlist }}"
                                          onclick="wishlist.add('{{ product.product_id }}');">
                                                                <i class="fas fa-heart"></i>
                                                            </span>
                                {% else %}
                                    <span data-toggle="tooltip"
                                          title="{{ button_wishlist }}"
                                          onclick="wishlist.add('{{ product.product_id }}');">
                                                                    <i class="far fa-heart"></i>
                                                                </span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
