{{ header }}
<style>
    {{custom_style}}
</style>
{% include template('partial/d_breadcrumb') %}
    {% include template('partial/d_layout_open') %}
<div class="bm">
    <div class="owl-carousel category-slider">
        {% for slider in custom_slider %}
            <div class="item">
                <img src='image/{{ slider.image }}' class="img-fluid"/>
            </div>
        {% endfor %}
    </div>
    <script>
        $('.category-slider').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            items: 1,
            autoplay: true,
            autoplayTimeout: 1500,
            autoplayHoverPause: true,
        })
    </script>


    {#Single latest post#}
    {% if posts %}
        {% for post in posts %}
            {% if loop.first %}
                <div class="container row m-0 mt-5 p-0">
                    <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-start align-items-start p-0">
                        <a href="{{ post.post.href }}">
                            <img src="{{ post.post.thumb }}" class="img-fluid h-100"/>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-between align-items-center p-lg-5 p-md-3 p-lg-5 p-md-5 p-sm-0 text-center">
                        <div class="w-100 text-left">
                            <a href="{{ post.post.href }}">
                                <h3 class="mb-0 text-size-12 goth-medium text-dark text-capitalize post-title">{{ post.post.title }}</h3>
                            </a>
                            <hr class="product-detail-hr">
                            <p class="mb-0 text-size-12 goth-light">{{ post.post.description }}</p>
                            <hr class="product-detail-hr">
                            <p class="mb-0 text-size-12 goth-medium text-muted">{{ post.post.date_published }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {#Single latest post#}




    {% if posts %}
        <div class="container mt-5 p-0">
           <div class="row">
               {% for post in posts %}
                   {% if loop.index0 > 0 %}
                       <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
                           <a href="{{ post.post.href }}">
                               <img src="{{ post.post.thumb }}" class="img-fluid"/>
                           </a>
                           <a href="{{ post.post.href }}">
                               <h3 class="mb-0 text-size-12 goth-medium text-dark post-title post-bottom-post">{{ post.post.title }}</h3>
                           </a>
                           <hr class="product-detail-hr">
                           <p class="mb-0 text-size-12 goth-light">{{ post.post.short_description }}</p>
                       </div>
                   {% endif %}
               {% endfor %}
           </div>
        </div>
    {% endif %}

    {% if not posts %}
        <p class="bm-empty">{{ text_empty }}</p>
        <div class="buttons">
            <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
        </div>
    {% endif %}
</div>
{% include template('/partial/d_layout_close') %}
{{ footer }}
