{{ header }}
<style>
    {{custom_style}}
</style>
{% include template('partial/d_breadcrumb') %}
<article class="bm mb-5">
    <div class="heading bm-post-info clearfix">
        <div class="container">
            {% if (image_banner) %}
                <div class="image">
                    <img src="{{ image_banner }}" title="{{ image_title }}" alt="{{ image_alt }}"
                         class="img-responsive w-100"/>
                </div>
            {% endif %}
        </div>
        <div class="container">
           <div class="bg-white p-lg-5 p-md-5 p-4">
               <h3 class="mb-0 text-size-12 goth-light text-dark text-capitalize text-center post-title-post">{{ heading_title }}</h3>
               <hr class="product-detail-hr mx-auto">
               <p class="mb-0 text-size-12 goth-light text-muted text-center mb-5"> {{ date_published }}</p>
               <div class="text-size-12">
                   {{ description }}
               </div>
           </div>
        </div>
    </div>
</article>
{% if related_products %}
<div class="bg-white pt-5">
    <div class="container">
        <h6 class="text-center mb-4 goth-medium text-uppercase">Related Products</h6>
        <hr class="product-detail-hr">

        <div class="owl-carousel related-products">
            {% for product in related_products %}

                <div class="item p-lg-5 p-md-5">
                    <a href="{{ product.href }}">
                        <img src="image/{{ product.all_product.image }}" alt="{{ product.all_product.name }}" title="{{ product.all_product.name }}" class="img-fluid"/>
                    </a>

                    <div class="text-center">
                        <p class="mb-0 product-name text-size-12 goth-medium">
                            <a href="{{ product.href }}" class="text-dark goth-medium">

                                {{ product.all_product.name|length > 40 ? product.all_product.name|slice(0, 40) ~ '...' : product.all_product.name  }}
                            </a>
                        </p>
                        {% if product.all_product.manufacturer %}
                            <hr class="product-detail-hr">
                            <p class="mb-0 product-brand text-size-12 goth-medium">
                                <a href="{{ product.all_product.manufacturer }}" class="text-muted">{{ product.all_product.manufacturer }}</a>
                            </p>
                        {% endif %}
                        {% if product.all_product.price %}
                            <hr class="product-detail-hr">
                            {% if not product.all_product.special %}
                                <p class="mb-0 product-price text-size-12 goth-medium">{{ product.all_product.price }}</p>
                            {% else %}
                                <p class="mb-0 product-price text-size-12 goth-medium"><span
                                            style="text-decoration: line-through; color: red">{{ product.all_product.price }}</span>
                                    {{ special }}
                                </p>
                            {% endif %}
                        {% endif %}
                        <div class="button-group mt-2">
                                       <span class="mr-3"  data-toggle="tooltip" title="Add to Cart"
                                             onclick="cart.add('{{ product.all_product.product_id }}', '{{ product.all_product.minimum }}');">
                                           <i class="fa fa-shopping-cart"></i> </span>
                            {#Login#}
                            {% if product.customer_available != 0 %}

                                {% for wishlist_product in product.wishlist_products if wishlist_product.product_id == product.all_product.product_id %}
                                    <span data-toggle="tooltip"
                                          title="{{ button_wishlist }}"
                                          onclick="wishlist.add('{{ product.all_product.product_id }}');">
                                                                <i class="fas fa-heart"></i>
                                                            </span>
                                {% else %}
                                    <span data-toggle="tooltip"
                                          title="{{ button_wishlist }}"
                                          onclick="wishlist.add('{{ product.all_product.product_id }}');">
                                                                    <i class="far fa-heart"></i>
                                                                </span>
                                {% endfor %}
                            {% else %}
                                {% for wishlist_products in product.session_wishlist_products if wishlist_products.product_id == product.all_product.product_id %}
                                    <span data-toggle="tooltip"
                                          title="{{ button_wishlist }}"
                                          onclick="wishlist.add('{{ product.all_product.product_id }}');">
                                                                <i class="fas fa-heart"></i>
                                                            </span>
                                {% else %}

                                    <span data-toggle="tooltip"
                                          title="{{ button_wishlist }}"
                                          onclick="wishlist.add('{{ product.all_product.product_id }}');">
                                                                    <i class="far fa-heart"></i>
                                                                </span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{{ content_bottom }}
{{ footer }}