{{ header }}
<div id="product-category" class="container mb-5">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li class="mr-1"><a href="{{ breadcrumb.href }}" class="text-muted">{{ breadcrumb.text }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="row">
        <div class="overlay_filter" style="display: none;"></div>

        <div class="container" id="content">
            <h6 class="text-center mb-4 goth-medium text-uppercase mt-5">{{ heading_title }}</h6>
            <hr class="product-detail-hr">

            <div class="container" id="content">
                <div class="row mt-5">
                    <div class="col-lg-2 col-md-12 col-sm-12 pl-lg-0 pl-md-0 d-none d-lg-block d-md-block">{{ column_left }}
                        <div class="col-md-12 col-xs-12 p-0">
                            <div class="form-group input-group input-group-sm">
                                <div class="bf-attr-header col-12 p-0 mb-2">
                                    Sort By Price
                                </div>
                                <select id="input-sort" class="form-control p-0 col-12" onchange="location = this.value;">


                                    {% for sorts in sorts %}
                                        {% if sorts.value == '%s-%s'|format(sort, order) %}



                                            <option value="{{ sorts.href }}"
                                                    selected="selected">{{ sorts.text }}</option>



                                        {% else %}



                                            <option value="{{ sorts.href }}">{{ sorts.text }}</option>



                                        {% endif %}
                                    {% endfor %}


                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-12 col-sm-12">
                        {% if products %}
                                <div class="row d-none">
                                <div class="col-md-2 col-sm-6 hidden-xs">
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" id="list-view" class="btn btn-default"
                                                data-toggle="tooltip" title="{{ button_list }}"><i
                                                    class="fa fa-th-list"></i></button>
                                        <button type="button" id="grid-view" class="btn btn-default"
                                                data-toggle="tooltip" title="{{ button_grid }}"><i class="fa fa-th"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="form-group"><a href="{{ compare }}" id="compare-total"
                                                               class="btn btn-link">{{ text_compare }}</a></div>
                                </div>
                                <div class="col-md-4 col-xs-6">
                                    <div class="form-group input-group input-group-sm">
                                        <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
                                        <select id="input-sort" class="form-control" onchange="location = this.value;">


                                            {% for sorts in sorts %}
                                                {% if sorts.value == '%s-%s'|format(sort, order) %}



                                                    <option value="{{ sorts.href }}"
                                                            selected="selected">{{ sorts.text }}</option>



                                                {% else %}



                                                    <option value="{{ sorts.href }}">{{ sorts.text }}</option>



                                                {% endif %}
                                            {% endfor %}


                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <div class="form-group input-group input-group-sm">
                                        <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
                                        <select id="input-limit" class="form-control" onchange="location = this.value;">


                                            {% for limits in limits %}
                                                {% if limits.value == limit %}



                                                    <option value="{{ limits.href }}"
                                                            selected="selected">{{ limits.text }}</option>



                                                {% else %}



                                                    <option value="{{ limits.href }}">{{ limits.text }}</option>



                                                {% endif %}
                                            {% endfor %}


                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="product-list">
                                <div class="row" id="listproduct">
                                    {% for product in products %}
                                        <div class="col-lg-4 col-md-6 col-sm-6 col-6 text-center mb-2 pl-1 pr-1 product-layout"
                                             data-product-name="{{ product.name }}">
                                            <div class="bg-white h-100">
                                                <a href="{{ product.href }}">
                                                    {% if product.special %}
                                                        <div class="p-sale">Sale</div>
                                                    {% endif %}
                                                    <img src="{{ product.thumb }}"
                                                         alt="{{ product.name }}"
                                                         title="{{ product.name }}"
                                                         class="img-fluid"/>
                                                </a>

                                                <div class="p-3">
                                                    <p class="mb-0 p-name"><a href="{{ product.href }}"
                                                                              class="mb-0 product-name text-size-12 goth-medium text-dark">
                                                            {{ product.name|length > 75 ? product.name|slice(0, 75) ~ '...' : product.name }}</a>
                                                    </p>
                                                    <hr class="product-detail-hr">
                                                    {% if product.manufacturer %}
                                                        <p class="mb-0 product-brand text-size-12 goth-medium">
                                                            <a href="{{ product.manufacturer_link }}"
                                                               class="text-muted">{{ product.manufacturer }}</a>
                                                        </p>
                                                        <hr class="product-detail-hr">
                                                    {% endif %}

                                                    {% if product.price %}
                                                        <p class="mb-0 product-price text-size-12 goth-medium">
                                                            {% if not product.special %}
                                                                {{ product.price }}
                                                            {% else %}
                                                                <span
                                                                        style="text-decoration: line-through; color: red">{{ product.price }}</span>
                                                                <span>{{ product.special }}</span>

                                                            {% endif %}
                                                        </p>
                                                    {% endif %}
                                                    <div class="button-group pb-3 pt-3">
                                       <a href="{{ product.href }}" class="pull-left" data-toggle="tooltip" title="Add to Cart"
                                             {#onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"#}>
                                           <i class="fa fa-shopping-cart"></i> </a>
                                                        {#Login#}
                                                        {% if product.customer_available != 0 %}
                                                            {% for wishlist_product in product.wishlist_products if wishlist_product.product_id == product.product_id %}
                                                                <span class="pull-right" data-toggle="tooltip"
                                                                      title="{{ button_wishlist }}"
                                                                      onclick="wishlist.add('{{ product.product_id }}');">
                                                                <i class="fas fa-heart"></i>
                                                            </span>
                                                            {% else %}
                                                                <span class="pull-right" data-toggle="tooltip"
                                                                      title="{{ button_wishlist }}"
                                                                      onclick="wishlist.add('{{ product.product_id }}');">
                                                                    <i class="far fa-heart"></i>
                                                                </span>
                                                            {% endfor %}
                                                        {% else %}
                                                            {% for wishlist_products in product.session_wishlist_products if wishlist_products.product_id == product.product_id %}

                                                                <span class="pull-right" data-toggle="tooltip"
                                                                      title="{{ button_wishlist }}"
                                                                      onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');">
                                                                <i class="fas fa-heart"></i>
                                                            </span>
                                                            {% else %}
                                                                <span class="pull-right" data-toggle="tooltip"
                                                                      title="{{ button_wishlist }}"
                                                                      onclick="wishlist.add('{{ product.product_id }}');">
                                                                    <i class="far fa-heart"></i>
                                                                </span>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 text-left">{{ pagination }}</div>
                                <div class="col-sm-6 text-right">{{ results }}</div>
                            </div>
                        {% endif %}
                        {% if not categories and not products %}
                            <p class="text-center">No products found!</p>

                            <div class="text-center">
                                <div><a href="{{ continue }}"
                                                           class="btn btn-black mb-2 text-uppercase">{{ button_continue }}</a></div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{{ content_bottom }}
{{ footer }}
