{{ header }}
<div id="product-manufacturer" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    <div class="row">
        <div class="container">
            <h6 class="text-center mb-4 goth-medium text-uppercase mt-5">{{ heading_title }}</h6>
            <hr class="product-detail-hr">

            <div class="container">
                <div class="row mt-lg-5 mt-md-5 mt-4">
                    <div class="col-lg-2 col-md-2 col-sm-12 d-none">{{ column_left }}</div>
                    <div class="col-lg-2 col-md-2 col-sm-12 d-none d-lg-block d-md-block">
                        <aside id="column-left" class="hidden-xs">
                            <div class="list-group">
                                <h3 href="javascript:;"
                                    class="list-group-item text-uppercase">Other Brands</h3>
                                {% for manufacturer in manufacturers %}
                                    <a href="{{ manufacturer.name|replace(' ', '-') }}"
                                       class="list-group-item">{{ manufacturer.name }}</a>
                                {% endfor %}
                            </div>
                        </aside>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12">
                        {% if custom_slider.0.description %}
                            <div class="row">
                                <p class="list-page-description mb-5">
                                    {{ custom_slider.0.description }}
                                </p>
                            </div>
                        {% endif %}
                        <div class="row">
                            <input id="myInput" type="text" placeholder="Search with in this brand..."
                                   class="form-control input-lg mb-4">
                        </div>
                        <script>
                            $("#myInput").on("keyup", function () {
                                var value = $(this).val().toLowerCase();
                                $("[data-product-name]").filter(function () {
                                    console.log('');
                                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                });
                            });
                        </script>

                        {% if products %}
                            <div class="row" id="listproduct">
                                {% for product in products %}
                                    <div class="col-lg-4 col-md-6 col-sm-6 col-6 text-center mb-2 pl-1 pr-1 product-layout"
                                         data-product-name="{{ product.name }}">
                                        <div class="bg-white">
                                            <a href="{{ product.href }}">
                                                <img src="{{ product.thumb }}"
                                                     alt="{{ product.name }}"
                                                     title="{{ product.name }}"
                                                     class="img-fluid"/>
                                            </a>

                                            <div class="p-3">
                                                <p class="mb-0 p-name"><a href="{{ product.href }}"
                                                                          class="mb-0 product-name text-size-12 goth-medium text-dark">
                                                        {{ product.name|length > 75 ? product.name|slice(0, 75) ~ '...' : product.name }}</a>
                                                </p>
                                                <hr class="product-detail-hr">

                                                <p class="mb-0 product-brand text-size-12 goth-medium">
                                                    <a href="javascript:void(0)"
                                                       class="text-muted">{{ heading_title }}</a>
                                                </p>
                                                <hr class="product-detail-hr">
                                                {% if product.price %}
                                                    <p class="mb-0 product-price text-size-12 goth-medium"> {% if not product.special %}
                                                            {{ product.price }}
                                                        {% else %}
                                                            <span
                                                                    style="text-decoration: line-through; color: red">{{ product.price }}</span>
                                                            <span>{{ product.special }}</span>

                                                        {% endif %}
                                                    </p>
                                                {% endif %}
                                                <div class="button-group pb-3 pt-3">
                                       <a href="{{ product.href }}" class="pull-left" data-toggle="tooltip" title="Add to Cart">
                                           <i class="fa fa-shopping-cart"></i> </a>
                                                    {#Login#}
                                                    {% if product.customer_available != 0 %}
                                                        {% for wishlist_product in product.wishlist_products if wishlist_product.product_id == product.product_id %}
                                                            <span class="pull-right" data-toggle="tooltip"
                                                                  title="{{ button_wishlist }}"
                                                                  onclick="wishlist.add('{{ product.product_id }}');">
                                                                <i class="fas fa-heart"></i>
                                                            </span>
                                                        {% else %}
                                                            <span class="pull-right" data-toggle="tooltip"
                                                                  title="{{ button_wishlist }}"
                                                                  onclick="wishlist.add('{{ product.product_id }}');">
                                                                    <i class="far fa-heart"></i>
                                                                </span>
                                                        {% endfor %}
                                                    {% else %}
                                                        {% for wishlist_products in product.session_wishlist_products if wishlist_products.product_id == product.product_id %}

                                                            <span class="pull-right" data-toggle="tooltip"
                                                                  title="{{ button_wishlist }}"
                                                                  onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');">
                                                                <i class="fas fa-heart"></i>
                                                            </span>
                                                        {% else %}
                                                            <span class="pull-right" data-toggle="tooltip"
                                                                  title="{{ button_wishlist }}"
                                                                  onclick="wishlist.add('{{ product.product_id }}');">
                                                                    <i class="far fa-heart"></i>
                                                                </span>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="row">
                                <div class="col-sm-6 text-left">{{ pagination }}</div>
                                <div class="col-sm-6 text-right">{{ results }}</div>
                            </div>
                        {% endif %}
                        {% if not categories and not products %}
                            <p>{{ text_empty }}</p>

                            <div class="buttons">
                                <div class="pull-right">
                                    <a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{{ content_bottom }}
{{ footer }}
