{{ header }}
<div id="product-manufacturer" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <h6 class="text-center mb-4 goth-medium text-uppercase mt-5">{{ heading_title }}</h6>
            <hr class="product-detail-hr">
            {% if categories %}
                <div class="text-center mt-4 brands-alphbetics mb-4">{% for category in categories %}
                       <a
                                href="index.php?route=product/manufacturer#{{ category.name }}">{{ category.name }}</a> {% endfor %}
                </div>
                {% for category in categories %}
                    <h2 id="{{ category.name }}" class="text-center goth-medium">{{ category.name }}</h2>
                    {% if category.manufacturer %}

                        {% for manufacturers in category.manufacturer|batch(4) %}

                            <div class="row justify-content-center mb-3"> {% for manufacturer in manufacturers %}

                                    <div class="col-4 text-center mb-4 col-lg-2 col-md-2 "><a href="{{ manufacturer.name|replace(' ', '-') }}">
                                            <img src="{{ manufacturer.image }}" class="img-fluid w-50"/>
                                        </a>
                                    </div>



                                {% endfor %} </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>{{ text_empty }}</p>
                <div class="buttons clearfix">
                    <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
                    </div>
                </div>
            {% endif %}
            {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>
{{ footer }}