{{ header }}


<div class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li class="mr-1"><a href="{{ breadcrumb.href }}" class="text-muted">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    <div class="bg-white mt-4">
        <div class="product-detail mh-75 col-12" id="product">
            <div class="row">

                <div class="col-lg-6 col-md-12 col-sm-12   p-0 border-bottom">
                    <div class="d-flex justify-content-start align-items-start">
                        {% if special %}
                            <div class="p-sale">Sale</div>
                        {% endif %}
                        {% if thumb or images %}
                            {% if images %}
                                <div class="owl-carousel product-images">
                                    <div class="item product_zoomer">
                                        <img src="{{ thumb }}" class="img-fluid"/>
                                    </div>
                                    {% for image in images %}
                                        <div class="item product_zoomer">
                                            <img src="{{ image.popup }}" class="img-fluid"/>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% elseif thumb %}
                                <div class="product_zoomer">
                                    <img src="{{ thumb }}" class="img-fluid "/>
                                </div>
                            {% endif %}
                        {% else %}
                            <img src="/image/no-image.png" class="img-fluid" width="100%"/>
                        {% endif %}
                    </div>


                    {% if images|length > 0 %}
                        {% if thumb or images %}
                            {% if images %}
                                <div class="owl-carousel product-images-thumb d-flex justify-content-center">
                                    <div class="item">
                                        <img src="{{ thumb }}" class="img-fluid"/>
                                    </div>
                                    {% for image in images %}
                                        <div class="item">
                                            <img src="{{ image.popup }}" class="img-fluid"/>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% elseif thumb %}
                                <div class="">
                                    <img src="{{ thumb }}" class="img-fluid"/>
                                </div>
                            {% endif %}
                        {% else %}
                            <img src="/image/no-image.png" class="img-fluid" width="100%"/>
                        {% endif %}
                    {% endif %}

                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-between align-items-left p-lg-5 p-md-3 p-5 border-bottom">
                    <div class="p-lg-4 p-md-3 p-2 text-left w-100">
                        <p class="mb-0 product-name text-size-12 goth-medium"
                           style="font-size: 18px;">{{ heading_title }}</p>
                        {% if manufacturer %}
                            <hr class="product-detail-hr-product">
                            <p class="mb-0 product-brand text-size-12 goth-medium">
                                <a href="{{ manufacturers }}" class="text-muted goth-medium">{{ manufacturer }}</a>
                            </p>
                        {% endif %}
                        <hr class="product-detail-hr-product mb-1">
                        {% if not special %}
                            <p class="mb-0 product-price text-size-12 goth-medium">{{ price }}</p>
                        {% else %}
                            <p class="mb-0 product-price text-size-12 goth-medium"><span
                                        style="text-decoration: line-through; color: red">{{ price }}</span>
                                {{ special }}
                            </p>
                        {% endif %}
                        <div class="mt-4 text-size-12 goth-light short_description"
                             style="font-family: 'Myriad Pro' !important; font-size: 14px;">
                            <p class="mb-0 product-name text-size-12 goth-medium" style="font-size: 14px;">Product
                                Description</p>
                            {{ short_description }}
                        </div>

                        <p class="mt-4 text-size-10 goth-medium text-uppercase">
                            item code: {{ model }}
                        </p>

                        {% if options %}
                            <div class="mt-4">
                                <div class="btn-group product-options">
                                    {% for option in options %}
                                        {% if option.type == 'select' %}
                                            <select class="btn-dropdown" name="option[{{ option.product_option_id }}]"
                                                    id="input-option{{ option.product_option_id }}">
                                                <option value="" class="dropdown-item">-- Select {{ option.name }}--
                                                </option>
                                                {% for option_value in option.product_option_value %}
                                                    <option value="{{ option_value.product_option_value_id }}"
                                                            class="dropdown-item">{{ option_value.name }}
                                                        {% if option_value.price %}
                                                            ({{ option_value.price_prefix }}{{ option_value.price }})
                                                        {% endif %}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                        <div class="mt-4 form-inline row justify-content-left align-items-left">
                            <div id="product_cart_tray" class="product_cart_tray"
                                 style="display: none">

                            </div>
                            <div class="form-group mx-sm-3 mb-2 product-qty">
                                <input type="number" class="form-control" value="{{ minimum }}" size="2"
                                       id="input-quantity" name="quantity" maxlength="1"/>
                                <input type="hidden" name="product_id" value="{{ product_id }}"/>
                                <span class="caret ml-2 goth-light text-size-12 d-none d-lg-inline-block"
                                      for="input-quantity">Quantity</span>
                            </div>
                            <button type="button" class="btn btn-black mb-2 text-uppercase" id="button-cart"
                                    data-loading-text="{{ text_loading }}">Add to cart
                            </button>
                            {% if minimum > 1 %}
                                <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% if description %}
                <div class="row product_long_description" id="product_long_description">

                    {{ description }}
                </div>
                <div class="p-4">
                    <div id="loadMore" class="text-center text-uppercase text-muted"><i class="fas fa-chevron-down"></i>
                        <br>
                        <span class="text-size-12">Load more</span></div>
                    <div id="showLess" class="text-center text-uppercase text-muted"><i class="fas fa-chevron-up"></i>
                        <br>
                        <span class="text-size-12">Show Less</span></div>

                </div>
            {% endif %}
        </div>
    </div>
</div>
{% if products|length > 2 %}

    <div class="bg-white mt-5 mb-5 pt-5">
        <div class="container">
            <h6 class="text-center mb-2 goth-medium text-uppercase">{{ text_related }}</h6>
            <hr class="product-detail-hr">
            <div class="owl-carousel related-products">
                {% for product in products %}
                    <div class="item p-lg-3 p-md-3">
                        <a href="{{ product.href }}">
                            {% if product.special %}
                                <div class="p-sale">Sale</div>
                            {% endif %}
                            <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}"
                                 class="img-fluid"/>
                        </a>

                        <div class="text-center">
                            <p class="mb-0 product-name text-size-12 goth-medium">
                                <a href="{{ product.href }}"
                                   class="text-dark goth-medium">{{ product.name|length > 75 ? product.name|slice(0, 75) ~ '...' : product.name }}</a>

                            </p>
                            {% if manufacturer %}
                                <hr class="product-detail-hr d-none">
                                <p class="mb-0 product-brand text-size-12 goth-medium d-none">
                                    <a href="{{ manufacturers }}" class="text-muted">{{ manufacturer }}</a>
                                </p>
                            {% endif %}
                            {% if product.price %}
                                <hr class="product-detail-hr">
                                {% if not product.special %}
                                    <p class="mb-0 product-price text-size-12 goth-medium">{{ product.price }}</p>
                                {% else %}
                                    <p class="mb-0 product-price text-size-12 goth-medium"><span
                                                style="text-decoration: line-through; color: red">{{ product.price }}</span>
                                        {{ special }}
                                    </p>
                                {% endif %}
                            {% endif %}
                            <div class="button-group mt-2">
                                <a href="{{ product.href }}" class="mr-3" data-toggle="tooltip" title="Add to Cart"
                                        {#onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"#}>
                                    <i class="fa fa-shopping-cart"></i> </a>
                                {#Login#}
                                {% if product.customer_available != 0 %}
                                    {% for wishlist_product in product.wishlist_products if wishlist_product.product_id == product.product_id %}
                                        <span data-toggle="tooltip"
                                              title="{{ button_wishlist }}"
                                              onclick="wishlist.add('{{ product.product_id }}');">
                                                                <i class="fas fa-heart"></i>
                                                            </span>
                                    {% else %}
                                        <span data-toggle="tooltip"
                                              title="{{ button_wishlist }}"
                                              onclick="wishlist.add('{{ product.product_id }}');">
                                                                    <i class="far fa-heart"></i>
                                                                </span>
                                    {% endfor %}
                                {% else %}
                                    {% for wishlist_products in product.session_wishlist_products if wishlist_products.product_id == product.product_id %}

                                        <span data-toggle="tooltip"
                                              title="{{ button_wishlist }}"
                                              onclick="wishlist.add('{{ product.product_id }}');">
                                                                <i class="fas fa-heart"></i>
                                                            </span>
                                    {% else %}
                                        <span data-toggle="tooltip"
                                              title="{{ button_wishlist }}"
                                              onclick="wishlist.add('{{ product.product_id }}');">
                                                                    <i class="far fa-heart"></i>
                                                                </span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

<script type="text/javascript"><!--
    $('select[name=\'recurring_id\'], input[name="quantity"]').change(function () {
        $.ajax({
            url: 'index.php?route=product/product/getRecurringDescription',
            type: 'post',
            data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
            dataType: 'json',
            beforeSend: function () {
                $('#recurring-description').html('');
            },
            success: function (json) {
                $('.alert-dismissible, .text-danger').remove();

                if (json['success']) {
                    $('#recurring-description').html(json['success']);
                }
            }
        });
    });
    //--></script>
<script type="text/javascript"><!--
    $('#button-cart').on('click', function () {

        var quantity = $('#input-quantity').val();
        var cart_product_quantity = $('[data-product-quantity]').data('product-quantity');

        if (quantity > {{ max_quantity }} || cart_product_quantity >= {{ max_quantity }}) {
            $('.breadcrumb').after('<div class="alert alert-success alert-dismissible">Max Quantity is less than equal to {{ max_quantity }} <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
            $("html, body").animate({scrollTop: 0}, "slow");
            return false;
        } else {
            $.ajax({
                url: 'index.php?route=checkout/cart/add',
                type: 'post',
                data: $('#product input[type=\'text\'],#product input[type=\'number\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
                dataType: 'json',
                beforeSend: function () {
                    $('#button-cart').button('loading');
                },
                complete: function () {
                    $('#button-cart').button('reset');
                },
                success: function (json) {
                    var cart_product_id = $('[data-product-id]').data('product-id');

                    var product_page_id = json['complete_json']['product_id'];

                    var product_id = json['complete_json']['product_id'];

                    $('.alert-dismissible, .text-danger').remove();
                    $('.form-group').removeClass('has-error');

                    if (json['error']) {
                        if (json['error']['option']) {
                            for (i in json['error']['option']) {
                                var element = $('#input-option' + i.replace('_', '-'));

                                if (element.parent().hasClass('btn-dropdown')) {
                                    element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                                } else {
                                    element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
                                }
                            }
                        }

                        if (json['error']['recurring']) {
                            $('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
                        }

                        // Highlight any found errors
                        $('.text-danger').parent().addClass('has-error');
                    }


                    if (json['success']) {

                        var items;
                        if (quantity > 1) {
                            items = 'ITEMS'
                        } else {
                            items = 'ITEM'
                        }

                        var html_success = '   <div class="w-75 border bg-white p-2"> <div class="modal-header d-block p-2">  ' +
                                '                                       <p class="mb-0 text-center product-name text-size-12 goth-medium">' + quantity + ' ' + items + ' ADDED TO CART</p><button type="button" class="close p-0 pr-3" data-dismiss="modal" aria-label="Close" data-close-product-tray="yes"><span aria-hidden="true">&times;</span></button>   ' +
                                '                                       <p class="mb-0 text-center product-name text-size-12 goth-medium">(You have ' + json['products_in_cart'] + ' items in your shopping cart)</p>  ' +
                                '                                   </div>  ' +
                                '                                   <div class="modal-body">  ' +
                                '                                       <div class="row">  ' +
                                '                                           <div class="col-md-4 p-0"><img src="image/' + json['product_image'] + '" class="img-fluid"/></div>  ' +
                                '                                           <div class="col-md-8"><p class="mb-0 product-name text-size-12 goth-medium">' + json['product_name'] + '</p><p class="mt-2 product-name text-size-12"><span class="goth-medium">Unit Price: </span>' + json['product_price'] + '</p></div>  ' +
                                '                                       </div>  ' +
                                '                                   </div>  ' +
                                '                                   <div class="modal-footer d-block text-center">  ' +
                                '                                       <a href="index.php?route=checkout/cart" class="btn btn-black text-uppercase">View Cart</a>  ' +
                                '                                       <a href="index.php?route=checkout/checkout" class="btn btn-black text-uppercase">Checkout</a>  ' +
                                '                                  </div>  </div>';

                        $('#product_cart_tray').fadeIn(500).html(html_success);
                        //   $('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                        $('#header_cart_items').html('<i class="fa fa-shopping-cart"></i>');
                        // $('html, body').animate({scrollTop: 0}, 'slow');
                        $('#header_cart').load('index.php?route=common/cart/info div.jalal');

                    }


                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                }
            });
        }

    });

    $(document).delegate('[data-close-product-tray="yes"]', 'click', function () {
        $('#product_cart_tray').fadeOut(500);
    });
    //--></script>
<script type="text/javascript"><!--
    $('.date').datetimepicker({
        language: '{{ datepicker }}',
        pickTime: false
    });

    $('.datetime').datetimepicker({
        language: '{{ datepicker }}',
        pickDate: true,
        pickTime: true
    });

    $('.time').datetimepicker({
        language: '{{ datepicker }}',
        pickDate: false
    });

    $('button[id^=\'button-upload\']').on('click', function () {
        var node = this;

        $('#form-upload').remove();

        $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

        $('#form-upload input[name=\'file\']').trigger('click');

        if (typeof timer != 'undefined') {
            clearInterval(timer);
        }

        timer = setInterval(function () {
            if ($('#form-upload input[name=\'file\']').val() != '') {
                clearInterval(timer);

                $.ajax({
                    url: 'index.php?route=tool/upload',
                    type: 'post',
                    dataType: 'json',
                    data: new FormData($('#form-upload')[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $(node).button('loading');
                    },
                    complete: function () {
                        $(node).button('reset');
                    },
                    success: function (json) {
                        $('.text-danger').remove();

                        if (json['error']) {
                            $(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
                        }

                        if (json['success']) {
                            alert(json['success']);

                            $(node).parent().find('input').val(json['code']);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                    }
                });
            }
        }, 500);
    });
    //--></script>
<script type="text/javascript"><!--
    $('#review').delegate('.pagination a', 'click', function (e) {
        e.preventDefault();

        $('#review').fadeOut('slow');

        $('#review').load(this.href);

        $('#review').fadeIn('slow');
    });

    $('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

    $('#button-review').on('click', function () {
        $.ajax({
            url: 'index.php?route=product/product/write&product_id={{ product_id }}',
            type: 'post',
            dataType: 'json',
            data: $("#form-review").serialize(),
            beforeSend: function () {
                $('#button-review').button('loading');
            },
            complete: function () {
                $('#button-review').button('reset');
            },
            success: function (json) {
                $('.alert-dismissible').remove();

                if (json['error']) {
                    $('#review').after('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
                }

                if (json['success']) {
                    $('#review').after('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

                    $('input[name=\'name\']').val('');
                    $('textarea[name=\'text\']').val('');
                    $('input[name=\'rating\']:checked').prop('checked', false);
                }
            }
        });
    });

    $(document).ready(function () {
        $('.thumbnails').magnificPopup({
            type: 'image',
            delegate: 'a',
            gallery: {
                enabled: true
            }
        });
    });
    //--></script>
{{ footer }}
