{{ header }}
<div id="product-search" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <div class="">
                <h6 class="text-center mb-4 goth-medium text-uppercase mt-5">{{ heading_title }}</h6>
                <hr class="product-detail-hr">
                <div class="container">

                    <div class="row mb-5 mt-5">
                        <div class="mx-auto col-lg-6 col-md-6 col-12">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-8">
                                        <input type="text" name="search" value="{{ search }}"
                                               placeholder="{{ text_keyword }}"
                                               id="input-search" class="form-control"/>
                                    </div>
                                    <div class="col-4   ">
                                        <input type="button" value="{{ button_search }}" id="button-search"
                                               class="btn btn-black mb-2 text-uppercase"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if products %}
                        <div class="row d-none">
                            <div class="col-md-2 col-sm-6 hidden-xs">
                                <div class="btn-group btn-group-sm">
                                    <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip"
                                            title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
                                    <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip"
                                            title="{{ button_grid }}"><i class="fa fa-th"></i></button>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="form-group">
                                    <a href="{{ compare }}" id="compare-total"
                                       class="btn btn-link">{{ text_compare }}</a>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="form-group input-group input-group-sm">
                                    <label class="input-group-addon" for="input-sort">{{ text_sort }}</label>
                                    <select id="input-sort" class="form-control" onchange="location = this.value;">
                                        {% for sorts in sorts %}
                                            {% if sorts.value == '%s-%s'|format(sort, order) %}
                                                <option value="{{ sorts.href }}"
                                                        selected="selected">{{ sorts.text }}</option>
                                            {% else %}
                                                <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-xs-6">
                                <div class="form-group input-group input-group-sm">
                                    <label class="input-group-addon" for="input-limit">{{ text_limit }}</label>
                                    <select id="input-limit" class="form-control" onchange="location = this.value;">
                                        {% for limits in limits %}
                                            {% if limits.value == limit %}
                                                <option value="{{ limits.href }}"
                                                        selected="selected">{{ limits.text }}</option>
                                            {% else %}
                                                <option value="{{ limits.href }}">{{ limits.text }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="product-list">
                            <div class="row" id="listproduct">
                                {% for product in products %}
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-6 text-center mb-2 pl-1 pr-1 product-layout"
                                         data-product-name="{{ product.name }}">
                                        <div class="bg-white h-100">
                                            <a href="{{ product.href }}">
                                                {% if product.special %}
                                                    <div class="p-sale">Sale</div>
                                                {% endif %}
                                                <img src="{{ product.thumb }}"
                                                     alt="{{ product.name }}"
                                                     title="{{ product.name }}"
                                                     class="img-fluid"/>
                                            </a>

                                            <div class="p-3">
                                                <p class="mb-0 p-name"><a href="{{ product.href }}"
                                                                          class="mb-0 product-name text-size-12 goth-medium text-dark">{{ product.name|length > 75 ? product.name|slice(0, 75) ~ '...' : product.name }}</a>
                                                </p>
                                                <hr class="product-detail-hr">
                                                {% if product.manufacturer %}
                                                    <p class="mb-0 product-brand text-size-12 goth-medium">
                                                        <a href="{{ product.manufacturer_link }}"
                                                           class="text-muted">{{ product.manufacturer }}</a>
                                                    </p>
                                                    <hr class="product-detail-hr">
                                                {% endif %}

                                                {% if product.price %}
                                                    <p class="mb-0 product-price text-size-12 goth-medium"> {% if not product.special %}
                                                            {{ product.price }}
                                                        {% else %}
                                                            <span
                                                                    style="text-decoration: line-through; color: red">{{ product.price }}</span>
                                                            <span>{{ product.special }}</span>

                                                        {% endif %}
                                                    </p>
                                                {% endif %}
                                                <div class="button-group pb-3 pt-3">
                                       <a href="{{ product.href }}" class="pull-left"
                                             {#onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"#}>
                                           <i class="fa fa-shopping-cart"></i> </a>
                                                    {#Login#}
                                                    {% if product.customer_available != 0 %}
                                                        {% for wishlist_product in product.wishlist_products if wishlist_product.product_id == product.product_id %}
                                                            <span class="pull-right" data-toggle="tooltip"
                                                                  title="{{ button_wishlist }}"
                                                                  onclick="wishlist.add('{{ product.product_id }}');">
                                                                <i class="fas fa-heart"></i>
                                                            </span>
                                                        {% else %}
                                                            <span class="pull-right" data-toggle="tooltip"
                                                                  title="{{ button_wishlist }}"
                                                                  onclick="wishlist.add('{{ product.product_id }}');">
                                                                    <i class="far fa-heart"></i>
                                                                </span>
                                                        {% endfor %}
                                                    {% else %}
                                                        {% for wishlist_products in product.session_wishlist_products if wishlist_products.product_id == product.product_id %}

                                                            <span class="pull-right" data-toggle="tooltip"
                                                                  title="{{ button_wishlist }}"
                                                                  onclick="wishlist.add('{{ product.product_id }}');">
                                                                <i class="fas fa-heart"></i>
                                                            </span>
                                                        {% else %}
                                                            <span class="pull-right" data-toggle="tooltip"
                                                                  title="{{ button_wishlist }}"
                                                                  onclick="wishlist.add('{{ product.product_id }}');">
                                                                    <i class="far fa-heart"></i>
                                                                </span>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 text-left">{{ pagination }}</div>
                            <div class="col-sm-6 text-right">{{ results }}</div>
                        </div>
                    {% else %}
                        <p class="text-center">There is no product that matches the search criteria.</p>
                    {% endif %}
                </div>
                {{ content_bottom }}
            </div>
        </div>
        {{ column_right }}</div>
</div>
<script type="text/javascript"><!--
    $('#button-search').bind('click', function () {
        url = 'index.php?route=product/search';

        var search = $('#content input[name=\'search\']').prop('value');

        if (search) {
            url += '&search=' + encodeURIComponent(search);
        }

        var category_id = $('#content select[name=\'category_id\']').prop('value');

        if (category_id > 0) {
            url += '&category_id=' + encodeURIComponent(category_id);
        }

        var sub_category = $('#content input[name=\'sub_category\']:checked').prop('value');

        if (sub_category) {
            url += '&sub_category=true';
        }

        var filter_description = $('#content input[name=\'description\']:checked').prop('value');

        if (filter_description) {
            url += '&description=true';
        }

        location = url;
    });

    $('#content input[name=\'search\']').bind('keydown', function (e) {
        if (e.keyCode == 13) {
            $('#button-search').trigger('click');
        }
    });

    $('select[name=\'category_id\']').on('change', function () {
        if (this.value == '0') {
            $('input[name=\'sub_category\']').prop('disabled', true);
        } else {
            $('input[name=\'sub_category\']').prop('disabled', false);
        }
    });

    $('select[name=\'category_id\']').trigger('change');
    --></script>
{{ footer }}