@import url('/catalog/view/theme/mediacenter/stylesheet/fonts.css');

.bg-alice-blue {
    background-color: #f3f3f3 !important;
}

a {
    font-family: "GOTHAM-LIGHT", "Lucida Console", monospace;
}

body a {
    color: inherit;
}

body a:hover {
    color: inherit;
}

p, label {
    font-family: "GOTHAM-LIGHT", "Lucida Console", monospace;
}

p strong, a b {
    font-family: "GOTHAM-MEDIUM", "Lucida Console", monospace;
    font-weight: normal;
}

small {
    font-family: "GOTHAM-LIGHT", "Lucida Console", monospace;
}

.goth-bold, legend {
    font-family: "GOTHAM-MEDIUM", "Lucida Console", monospace;
}

.goth-medium {
    font-family: "GOTHAM-MEDIUM", "Lucida Console", monospace;
}

span {
    font-family: "GOTHAM-LIGHT", "Lucida Console", monospace;
}

.goth-light {
    font-family: "GOTHAM-LIGHT", "Lucida Console", monospace;
}

td {
    font-family: "GOTHAM-LIGHT", "Lucida Console", monospace;
}

body .text-muted {
    color: #000000 !important;
}

.bg-black {
    background-color: #000000 !important;
}

.home-grid-brands {
    border-top: 3px solid #000000;
    border-bottom: 3px solid #000000;
}

.form-inline .form-group {
    height: 29px;
}

.font-11 {
    font-size: 11px;
}

input[type='text'], input[type='number'], input[type='email'], input[type='tel'], input[type='password'], select, textarea {
    border: 1px solid #CCC;
    font-family: "GOTHAM-LIGHT", "Lucida Console", monospace;
    font-size: 13px;
    border-radius: 25px !important;
}

textarea {
    font-family: "GOTHAM-LIGHT", "Lucida Console", monospace !important;
}

input[type='text']:focus, input[type='number']:focus, input[type='email']:focus, input[type='tel']:focus, input[type='password']:focus, select:focus {
    outline: none;
    box-shadow: none;
}

.cart-related-slider .owl-dots {
    display: none;
}

#breadcrumb {
    font-family: "GOTHAM-LIGHT", "Lucida Console", monospace;
    font-size: 13px;
}

u {
    text-underline-position: under;
    margin-top: 20px;
    border-bottom: solid 4px #000;
    display: inline;
    padding-bottom: 0.1vw;
}

body .breadcrumb {
    padding: 0;
    background-color: transparent;
    margin-bottom: 0.5rem;
}

.breadcrumb a {
    font-size: 13px;
}

.breadcrumb .breadcrumb-arrow {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.breadcrumb li:last-child .breadcrumb-arrow {
    display: none;
}

.product-images button {
    background-color: transparent !important;
    color: #000000 !important;
}

body .btn {
    height: 29px;
    line-height: 1.2 !important;
    padding: .375rem 1.75rem;
}

a:hover {
    text-decoration: none !important;
}

.btn-dropdown {
    color: #c0c0c0;
    background-color: #ffffff;
    border-color: #c0c0c0;
    border: 1px solid;
    padding: .375rem .75rem;
    display: inline-block;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1.5;
    border-radius: 2.25rem;
    font-family: "GOTHAM-LIGHT", "Lucida Console", monospace;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-dropdown:focus {
    outline: none;
    box-shadow: none;
}

.btn-dropdown:hover {
    color: #c0c0c0;
    background-color: #ffffff;
    border-color: #c0c0c0;
    text-decoration: none;
}

.product-qty {
    width: 45%;
    display: inline-block;
    float: left;
    border: 1px solid #c0c0c0;
    border-radius: 50px;
}

/*.form-control:focus {
    outline: none !important;
    border-color: transparent !important;
    box-shadow: none !important;
    background-color: transparent !important;
}*/
#checkout-cart .product-qty input {
    min-width: 100% !important;
    width: 100% !important;
}

.product-qty input {
    max-width: 100%;
    min-width: 50% !important;
    width: 50% !important;
    padding: 4px 15px;
    border: none;
    background: transparent;
    font-family: "GOTHAM-LIGHT", "Lucida Console", monospace;
}

#checkout-cart .product-qty {
    width: 4rem;
}

.btn-black {
    color: #fff;
    background-color: #000;
    border-color: #000;
    font-family: "GOTHAM-LIGHT", "Lucida Console", monospace;
    font-size: 13px !important;
    border-radius: 25px !important;
}

.btn-black:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-black:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.btn-white {
    color: #000;
    background-color: #fff;
    border-color: #fff;
    font-family: "GOTHAM-LIGHT", "Lucida Console", monospace;
    font-size: 13px !important;
    box-shadow: none;
    border-radius: 25px !important;
}

.btn-white:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-white:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.product-options .dropdown-item a {
    color: #000;
    font-family: "GOTHAM-LIGHT", "Lucida Console", monospace;
    font-size: 12px;
}

.text-size-12 {
    font-size: 12px;
}

.text-size-10 {
    font-size: 10px;
}

.header-social a {
    letter-spacing: 0.5em;
}

.product-detail .owl-carousel.owl-drag .owl-item .item img {
    object-fit: cover;
    height: auto;
}

.bg-brown {
    background-color: #b09f8a;
}

.product-detail-hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    width: 12%;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.product-detail-hr-product {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    width: 12%;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    display: inline-block;
}

.product-images-thumb.owl-carousel .owl-nav {
    margin-top: 3rem;
}

.product-images-thumb.owl-carousel .owl-nav button {
    border-radius: 50px;
    width: 35px;
    height: 35px;
    vertical-align: top;
    padding: 4px !important;
}

.product-images-thumb.owl-carousel .owl-nav button span {
    margin-top: -1rem;
    position: relative;
    display: block;
}

.product-detail-hr-short-description {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    width: 6%;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.full-hr {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    width: 100%;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.button_remove, .button_update {
    padding: 0 8px !important;
}

.cart-related-slider .owl-nav {
    margin-top: -7rem;
    color: #000000;
    font-size: 20px;
}

.cart-related-slider .owl-nav .owl-prev, .cart-related-slider .owl-nav button.owl-next {
    background-color: #ffffff;
    border: 1px solid #c0c0c0 !important;
    padding: 1px !important;
    border-radius: 25px;
    width: 32px;
}

@media (max-width: 338px) {
    #checkout-cart .product-qty {
        width: 45%;
    }

    #checkout-cart .button_update {
        margin-right: 0.2rem;
    }

    .product-qty {
        width: 100%;
        margin-right: 0.5rem;
    }

    .product-detail .form-inline .btn {
        width: 100%;
    }
}

@media (min-width: 339px )and (max-width: 991px) {
    .product_cart_tray {
        position: fixed;
        z-index: 999;
        top: 0;
    }

    .header_cart .btn {
        line-height: 1 !important;
        height: 25px;
    }

    .product_cart_tray .btn {
        line-height: 1 !important;
        height: 25px;
        padding: .375rem 0.75rem;
        font-size: 12px;
    }

    .header_cart {
        position: fixed;
        z-index: 999;
        padding: 27rem;
        top: 0;
        right: 0;
        width: 100%;
        overflow: scroll;
        height: 350px;
        max-width: 50%;
    }

    input[type='text'], input[type='number'], input[type='password'], input[type='email'], input[type='tel'] {
        height: 45px;
        font-size: 16px;
    }

    .form-inline .form-group {
        height: auto;
    }

    body .btn {
        height: 45px;
        min-width: 45px;
        line-height: 2.6 !important;
    }

    #checkout-cart .button_update {
        margin-right: 0.2rem;
    }

    .product-qty {
        width: 4rem;
        margin-right: 0.5rem;
    }

    .product-qty input {
        max-width: 100%;
        padding: 4px 5px;
        text-align: center;
        min-width: 100% !important;
        width: 100% !important;
    }

}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.home-grid-slider .overlay-text {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

@media (min-width: 992px) {
    .logo img {
        width: 80%;
    }
}

@media (max-width: 991px) {
    .overlay span {
        font-size: 9px;
        top: 4rem;
    }
}

@media (min-width: 250px) and (max-width: 767px) {

    .product-images.owl-carousel .owl-nav {
        margin-top: -11rem;
    }

    .home-grid-slider .overlay-text {
        bottom: 0.5rem;
        left: 2rem;
        font-size: 10px;
    }

    #checkout-cart .total_amount .pull-left, #checkout-cart .total_amount .pull-left .btn, #checkout-cart .total_amount .pull-right, #checkout-cart .total_amount .pull-right .btn {
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    nav.navbar .navbar-nav a {
        font-size: 0.8rem;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

@media (min-width: 768px) and (max-width: 1300px) {
    header i {
        font-size: 19px !important;
    }
}

body .btn-link {
    color: inherit;
}

body .navbar-toggler {
    font-size: 1rem;
}

/*zoom*/
.zoom {
    display: inline-block;
    position: relative;
}

/* magnifying glass icon */
.zoom:after {
    content: '';
    display: block;
    width: 33px;
    height: 33px;
    position: absolute;
    top: 0;
    right: 0;
    /*  background:url(icon.png);*/
}

.zoom img {
    display: block;
}

.zoom img::selection {
    background-color: transparent;
}

/*zoom*/

#product_long_description div {
    display: none;
}

#loadMore {
    color: green;
    cursor: pointer;
}

#loadMore:hover {
    color: black;
}

#showLess {
    color: red;
    cursor: pointer;
    display: none;
}

#showLess:hover {
    color: black;
}

/*Mega Menu*/
/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
    margin-bottom: 1rem;
}

.navbar .dropdown-menu {
    border: none;
    background-color: #000 !important;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
    .product_cart_tray {
        position: fixed;
        z-index: 999;
        top: 5rem;
    }

    .header_cart {
        position: absolute;
        z-index: 999;
        top: 0;
    }

    /* remove the padding from the navbar so the dropdown hover state is not broken */
    .navbar {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
    .navbar .nav-item {
        padding: .5rem .5rem;
        margin: 0 .25rem;
    }

    /* makes the dropdown full width  */
    .navbar .dropdown {
        position: static;
    }

    .navbar .dropdown-menu {
        width: 100%;
        left: 0;
        right: 0;
        /*  height of nav-item  */
        top: 54px;

        display: block;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s linear;
        border-radius: 0;
    }

    /* shows the dropdown menu on hover */
    .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.3s linear;
    }

    .navbar .dropdown-menu {
        border: none;
        background-color: #fff;
    }

}

#input-sort {
    background-color: transparent;
    border: 1px solid transparent;
}

#input-sort:focus {
    outline: none;
    box-shadow: none;
}

.p-name {
    min-height: 55px;
}

.close:focus {
    outline: none;
    text-shadow: none;
}

.alert-success {
    font-size: 12px;
}

p {
    font-size: 13px;
    line-height: 1.7;
}

.brands-alphbetics a {
    letter-spacing: 2rem;
}

.list-group-item {
    font-size: 12px;
    border-radius: 0 !important;
    padding: 1rem 1.25rem !important;
}

.close {
    opacity: 1 !important;
}

span:focus {
    outline: none;
}

.close span {
    display: block;
}

.brands-alphbetics a:last-child {
    letter-spacing: inherit;
}

@media (min-width: 767px) {
    .home-grid-slider.row div:nth-child(1) {
        padding-right: 0 !important;
    }

    .home-grid-slider.row div:nth-child(2) {
    }

    .home-grid-slider.row div:nth-child(3) {
        padding-right: 0 !important;
    }

    .home-grid-slider.row div:nth-child(4) {
        padding-right: 0 !important;
    }

    .home-grid-slider.row div:nth-child(5) {
    }
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*Mega Menu*/

/*Infinite SCroll*/
body .pagination {
    display: none;
}

.infinitescroll .element {
}

.pagination {
    display: none;
}

#infscr-loading {
    width: 100%;
    text-align: center;
    z-index: 100;
    background: white;
    background: hsla(0, 0%, 100%, 0.9);
    padding: 20px;
    color: #222;
    display: block;
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/*Infinite SCroll*/

/*Blog Home*/
.img-container {
    position: relative;
    display: inline-block;
}

.img-container img {
    border-radius: 50%;
}

.img-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.63);
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    border-radius: 50%;
}

.overlay.middle-blog span {
    top: 64%;
    bottom: 0;
}

.overlay span {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

/*Blog Home*/
.tooltip-inner {
    font-family: "GOTHAM-LIGHT", "Lucida Console", monospace;
}

/*HEader Search  Mobile*/
.show_search_bar {
    position: fixed;
    left: 0;
    z-index: 9;
    width: 100%;
    background: #fff;
    display: flex;
    top: 3.5rem;
}

/*HEader Search Mobile*/

/*About Parallax*/
.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bgimg-1 {
    background-image: url("/image/catalog/oneplus.jpg");
    min-height: 400px;
}

.bgimg-2 {
    background-image: url("/image/catalog/oneplus-6t-review-header.jpg");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("/image/catalog/blog2.jpg");
    min-height: 400px;
}

.parallax_caption {
    position: absolute;
    z-index: 9;
    bottom: 0;
    left: 0;
}

.parallax_caption2 {
    position: fixed;
    z-index: 9;
    left: 0;
    top: 15rem;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/*About Parallax*/
body .alert-danger, body .alert-success {
    color: #fff;
    background-color: #b09f8a;
    border-color: #b09f8a;
    font-family: "GOTHAM-LIGHT", "Lucida Console", monospace;
}

/*Mobile Menu*/
.mobile-menu .dropdown-submenu {
    position: relative;
}

.mobile-menu .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.mobile-menu .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}

.mobile-menu li a {
    color: #fff !important;
    font-size: 16px;
}

.mobile-menu .dropdown-item.active, .dropdown-item:active {
    background-color: inherit !important;
}

.mobile-menu .dropdown-item:focus, .dropdown-item:hover {
    background-color: inherit !important;
}

/*Mobile Menu*/
body .brands-slider .owl-nav {
    margin-top: -5rem;
}

body .brands-slider .owl-dots {
    display: none;
}

body .brands-slider .owl-nav button.owl-next, body .brands-slider .owl-nav .owl-prev {
    background-color: transparent;
    color: #000;
}

footer li {
    font-size: 12px;
}

#product-manufacturer .list-group-item {
    background-color: transparent;
    border: none;
    font-size: 12px;
    border-bottom: 1px solid #eee;
    border-radius: 0 !important;
    padding: 0.5rem 0 !important;
    text-transform: uppercase;
}

.short_description p:after {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    color: rgba(0, 0, 0, .3);
}

.short_description p:last-child:after {
    content: '';
}

.short_description p {
    margin-bottom: 0;
    font-size: 12px;
}

.p-sale {
    background-color: #000000;
    color: #ffffff;
    width: 70px;
    height: 35px;
    float: right;
    border-radius: 35px;
    margin: 10px;
    line-height: 2;
    font-size: 17px;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    z-index: 999;
    text-align: center;

}

.product-images .owl-dots {
    display: none;
}

/*Header Cart Carousel*/
.u-menu {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #fff;
    width: 28%;
    height: 1px;
    display: block;
    margin-left: 3px;
}

.home-grid-brands .owl-stage-outer {
    z-index: 99;
}