@font-face {
    font-family: GOTHAM-LIGHT;
    src: url('/catalog/view/theme/mediacenter/fonts/GOTHAM-LIGHT.TTF');
}

@font-face {
    font-family: GOTHAM-MEDIUM;
    src: url('/catalog/view/theme/mediacenter/fonts/GOTHAM-MEDIUM.TTF');
}

@font-face {
    font-family: GOTHAM-BOLD;
    src: url('/catalog/view/theme/mediacenter/fonts/GOTHAM-BOLD.TTF');
}

@font-face {
    font-family: GOTHAM-THIN;
    src: url('/catalog/view/theme/mediacenter/fonts/GOTHAM-THIN.TTF');
}