/* Base */
* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
}

.clear {
	clear: both;
}

.plugin {
	margin: 0;
	padding: 0 0 20px 0;
	background-color: transparent;
	font-size: 12px;
	color: #333;
	font-family: Tahoma, Kalimati, Verdana, "Bitstream Vera Sans", "DejaVu Sans", Geneva, Arial, Helvetica, Sans-serif;
}

.plugin #content {
	overflow: hidden;
}

.plugin #providers {
	float: left;
	position: relative;
}

.plugin #providers .providers_group {
	float: left;
}

.plugin #providers .providers_group.hidden {
	display: none;
}

.plugin #providers .providers_group .providers_block {
	overflow: hidden;
	clear: both;
	padding: 0 20px;
}

.plugin #providers.providers_unpaginated .providers_group .providers_block {
	padding: 0 !important;
}

.plugin #providers .providers_group .providers_block .providers_row {
	clear: both;
}

.plugin #providers .providers_group .scroll {
	height: 100%;
	min-height: 100%;
	cursor: pointer;
	position: absolute;
	width: 20px;
	bottom: 0;
	top: 0;
}

.plugin #ie #providers .providers_group .scroll {
	top: 30% !important;
}

.plugin #providers .providers_group .scroll.scroll_left {
	left: 0;
}

.plugin #providers .providers_group .scroll.scroll_right {
	right: 0;
}

.plugin #providers .providers_group .scroll div {
	position: relative;
	background: url("/img/api/themes/assets/arrows_lr.png") no-repeat scroll 0 50% transparent;
	height: 100%;
	margin: 0 auto !important;
}

.plugin #ie #providers .providers_group .scroll div {
	margin-top: 0 !important;
}

.plugin #providers .providers_group .scroll.scroll_right div {
	background-position: -50px 50%;
}

.plugin #providers .providers_group .scroll.scroll_right:hover div {
	background-position: -10px 50%;
}

.plugin #providers .providers_group .scroll.scroll_left div {
	background-position: -130px 50%;
}

.plugin #providers .providers_group .scroll.scroll_left:hover div {
	background-position: -90px 50%;
}

.plugin #providers .provider {
	float: left;
	outline: 0 none;
}

.plugin #providers .provider .button {
	cursor: pointer;
	display: block;
	margin: 0 auto;
	position: relative;
	z-index: 9998;
	outline: 0 none;
}

.plugin #providers .provider .button .tick {
	display: inline-block;
	position: absolute;
	height: 16px;
	width: 16px;
	z-index: 9999;
}

.plugin #providers .provider .name {
	color: #555;
	text-align: center;
	font-size: 11px;
	line-height: 14px;
	margin: 1px 0 2px;
}

.plugin #providers .provider_linked .button .tick {
	background: url("/img/api/themes/assets/tick.png") no-repeat 0 0 transparent;
}

.plugin #providers .provider_linked .name {
	font-weight: bold;
}

.plugin .footer {
	margin-top: 5px;
	font-size: 10px;
	position: fixed;
	left: 5px;
	right: 0;
	bottom: 0;
	line-height: 16px;
}

.plugin .footer #message {
	display: none;
	cursor: pointer;
}

.plugin .footer #message.notice {
	color: #000;
}

.plugin .footer #message.error {
	color: #ff0000;
}

.plugin .footer #branding {
	color: #666;
}

.plugin .footer #branding a {
	color: #555;
	text-decoration: none;
}

.plugin .footer #branding a span.plugin_title {
	color: #3366CC;
}

/* Custom */
.plugin #providers .provider {
	width: 208px !important;
	padding: 2px 10px 8px 0px;
}

.plugin #providers .provider .button .tick {
	right: -3px;
	top: -1px;
}

.plugin #providers .provider .button {
	height: 30px !important;
	width: 208px !important;
	background-image: url("/img/api/themes/iconsets/beveled_connect_w208_h30_c_v1.png");
	background-repeat: no-repeat;
}

.plugin #providers .provider .name {
	display: none !important;
}

/* Buttons */
.plugin #providers .provider #button_facebook {
  background-position: 50% -3px !important;
}

.plugin #providers .provider #button_google {
  background-position: 50% -35px !important;
}

.plugin #providers .provider #button_twitter {
  background-position: 50% -67px !important;
}

.plugin #providers .provider #button_yahoo {
  background-position: 50% -99px !important;
}

.plugin #providers .provider #button_linkedin {
  background-position: 50% -131px !important;
}

.plugin #providers .provider #button_openid {
  background-position: 50% -163px !important;
}

.plugin #providers .provider #button_wordpress {
  background-position: 50% -195px !important;
}

.plugin #providers .provider #button_hyves {
  background-position: 50% -227px !important;
}

.plugin #providers .provider #button_vkontakte {
  background-position: 50% -259px !important;
}

.plugin #providers .provider #button_paypal {
  background-position: 50% -291px !important;
}

.plugin #providers .provider #button_stackexchange {
  background-position: 50% -323px !important;
}

.plugin #providers .provider #button_livejournal {
  background-position: 50% -355px !important;
}

.plugin #providers .provider #button_steam {
  background-position: 50% -387px !important;
}

.plugin #providers .provider #button_windowslive {
  background-position: 50% -419px !important;
}

.plugin #providers .provider #button_youtube {
  background-position: 50% -451px !important;
}

.plugin #providers .provider #button_xing {
  background-position: 50% -483px !important;
}

.plugin #providers .provider #button_instagram {
  background-position: 50% -516px !important;
}

.plugin #providers .provider #button_battlenet {
  background-position: 50% -549px !important;
}

.plugin #providers .provider #button_amazon {
  background-position: 50% -581px !important;
}

.plugin #providers .provider #button_github {
  background-position: 50% -613px !important;
}

.plugin #providers .provider #button_mailru {
  background-position: 50% -645px !important;
}

.plugin #providers .provider #button_twitch {
  background-position: 50% -677px !important;
}

.plugin #providers .provider #button_reddit {
  background-position: 50% -709px !important;
}

.plugin #providers .provider #button_skyrock {
  background-position: 50% -741px !important;
}

.plugin #providers .provider #button_foursquare {
  background-position: 50% -773px !important;
}

.plugin #providers .provider #button_vimeo {
  background-position: 50% -805px !important;
}

.plugin #providers .provider #button_odnoklassniki {
  background-position: 50% -837px !important;
}

.plugin #providers .provider #button_blogger {
  background-position: 50% -869px !important;
}

.plugin #providers .provider #button_disqus {
  background-position: 50% -901px !important;
}

.plugin #providers .provider #button_draugiem {
  background-position: 50% -933px !important;
}

.plugin #providers .provider #button_dribbble {
  background-position: 50% -965px !important;
}

.plugin #providers .provider #button_pinterest {
	background-position: 50% -997px !important;
}

.plugin #providers .provider #button_pixelpin {
  background-position: 50% -1029px !important;
}

.plugin #providers .provider #button_storage {
  background-position: 50% -1061px !important;
}
.plugin #providers .provider #button_meetup {
  background-position: 50% -1093px !important;
}
.plugin #providers .provider #button_line {
  background-position: 50% -1125px !important;
}
.plugin #providers .provider #button_soundcloud {
  background-position: 50% -1157px !important;
}
.plugin #providers .provider #button_discord {
  background-position: 50% -1189px !important;
}
.plugin #providers .provider #button_weibo {
  background-position: 50% -1221px !important;
}
.plugin #providers .provider #button_tumblr {
  background-position: 50% -1253px !important;
}