{{ header }}
<div id="information-contact" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    <div class="row">
        {{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}

        <div id="content" class="{{ class }}">{{ content_top }}
            <div class="container">
                <div class="bgimg-1"></div>
                <div class="bgimg-2"></div>
                <div class="bgimg-3"></div>
            </div>
            <div class="">
                <div class="parallax_caption parallax_caption2">
                    <div class="bg-white col-8 mx-auto">
                        <div class="p-5">
                            <h3 style="text-align:center;">Parallax Demo</h3>

                            <p>Parallax scrolling is a web site trend where the background content is moved at a
                                different
                                speed than the foreground content while scrolling. Nascetur per nec posuere turpis,
                                lectus
                                nec libero turpis nunc at, sed posuere mollis ullamcorper libero ante lectus,
                                blandit
                                pellentesque a, magna turpis est sapien duis blandit dignissim. Viverra interdum mi
                                magna
                                mi, morbi sociis. Condimentum dui ipsum consequat morbi, curabitur aliquam pede,
                                nullam
                                vitae eu placerat eget et vehicula. Varius quisque non molestie dolor, nunc nisl
                                dapibus
                                vestibulum at, sodales tincidunt mauris ullamcorper, dapibus pulvinar, in in neque
                                risus
                                odio. Accumsan fringilla vulputate at quibusdam sociis eleifend, aenean maecenas
                                vulputate,
                                non id vehicula lorem mattis, ratione interdum sociis ornare. Suscipit proin magna
                                cras vel,
                                non sit platea sit, maecenas ante augue etiam maecenas, porta porttitor placerat
                                leo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {{ column_right }}
</div>
</div>
{{ footer }}
