{{ header }}
<div id="information-contact" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    <div class="row">
        {{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <div class="bg-white">
                <div class="row align-items-center">
                    <div class="col-md-8 col-lg-8 col-12 pr-lg-0 pr-md-0" style="line-height: 0">

                        <iframe data-map-area="ForumMall"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.07212457897!2d67.03560931441062!3d24.82720698406965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33db645555555%3A0x6732abcb273f8847!2sThe+Forum+Shopping+Mall+Karachi!5e0!3m2!1sen!2s!4v1542108846592"
                                width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen></iframe>
                        <iframe data-map-area="DolmenMall"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.7964916721894!2d67.02763591440998!3d24.80242118408135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb33d099c12586f%3A0x8f468f64498f32f7!2sDolmen+Mall+Clifton!5e0!3m2!1sen!2s!4v1542108878926"
                                width="100%" height="450" frameborder="0" style="border:0; display: none;" allowfullscreen></iframe>
                        <iframe data-map-area="BeverlyCentre" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3318.5658975341557!2d73.07163471466417!3d33.72018008069751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38dfbf9c9b524825%3A0xe7806f0a33139d90!2sBeverly+Centre%2C+Jinnah+Ave%2C+F+6%2F1+Blue+Area%2C+Islamabad%2C+Islamabad+Capital+Territory+44000%2C+Pakistan!5e0!3m2!1sen!2s!4v1542108906284"
                                width="100%" height="450" frameborder="0" style="border:0; display: none;" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4 pt-5 pt-lg-3 pt-md-5 pr-3 pr-lg-4 pr-md-4  pl-3 pl-lg-4 pl-md-4 ">
                        <div class="container">
                            <h6 class="text-left mb-3 goth-medium text-uppercase text-lg-left text-center">our
                                locations</h6>
                            <hr class="product-detail-hr w-100">
                            <div class="row align-items-center text-lg-left text-center" data-city="Karachi"
                                 data-area="ForumMall">
                                <div class="col-md-12 col-lg-4 col-12">
                                    <img src="image/LOCATIONS.svg"/>
                                </div>
                                <div class="col-md-12 col-lg-8 col-12">
                                    <p class="mb-0">Karachi - Foram Mall</p>

                                    <p>Ground Floor Clifton, Karachi, Pakistan</p>
                                </div>
                            </div>
                            <hr class="product-detail-hr w-100">
                            <div class="row align-items-center text-lg-left text-center" data-city="Karachi"
                                 data-area="DolmenMall">
                                <div class="col-md-12 col-lg-4 col-12">
                                    <img src="image/LOCATIONS.svg"/>
                                </div>
                                <div class="col-md-12 col-lg-8 col-12">
                                    <p class="mb-0">Karachi - Dolmen Mall</p>

                                    <p>Shop No F-2, 1st Floor Clifton, Karachi, Pakistan</p>
                                </div>
                            </div>
                            <hr class="product-detail-hr w-100">
                            <div class="row align-items-center text-lg-left text-center" data-city="Islamabad"
                                 data-area="BeverlyCentre">
                                <div class="col-md-12 col-lg-4 col-12">
                                    <img src="image/LOCATIONS.svg"/>
                                </div>
                                <div class="col-md-12 col-lg-8 col-12">
                                    <p class="mb-0">Islamabad - NeedfulThings</p>

                                    <p>Shop No. 12-13, Lower Ground, Beverly Center, Blue Area, Jinnah Avenue,
                                        Islamabad </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-8 pr-lg-0 pr-md-0 mb-4">
                    <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <fieldset>
                            <h6 class="text-left mb-3 goth-medium text-uppercase text-lg-left text-center">
                                write to us
                            </h6>

                            <div class="form-group required">
                                <div class="col-lg-10 col-md-10 col-12 p-0">
                                    <input type="text" name="name" value="{{ name }}" id="input-name"
                                           class="form-control" placeholder="Full Name"/>
                                    {% if error_name %}
                                        <div class="text-danger">{{ error_name }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group required">
                                <div class="col-lg-10 col-md-10 col-12 p-0">
                                    <input type="text" name="email" value="{{ email }}" id="input-email"
                                           class="form-control" placeholder="Email Address"/>
                                    {% if error_email %}
                                        <div class="text-danger">{{ error_email }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group required">
                                <div class="col-lg-10 col-md-10 col-12 p-0">
                                <textarea name="enquiry" rows="10" id="input-enquiry"
                                          class="form-control" placeholder="Your Message">{{ enquiry }}</textarea>
                                    {% if error_enquiry %}
                                        <div class="text-danger">{{ error_enquiry }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            {{ captcha }}
                        </fieldset>
                        <div class="col-lg-10 col-md-10 col-12 p-0">
                            <div class="text-center">
                                <input class="btn btn-black" type="submit" value="{{ button_submit }}"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 pl-lg-0 pl-md-0">
                    <div class=" pt-5 pr-3 pr-lg-4 pr-md-4  pl-3 pl-lg-4 pl-md-4 bg-white">
                        <div class="container">
                            <h6 class="text-left mb-3 goth-medium text-uppercase text-lg-left text-center">
                                contact us
                            </h6>
                            <hr class="product-detail-hr w-100">
                            <div class="row align-items-center text-lg-left text-center">
                                <div class="col-md-12 col-lg-4 col-12">
                                    <img src="image/CONTACT.svg"/>
                                </div>
                                <div class="col-md-12 col-lg-8 col-12">
                                    <p class="mb-0"><a href="tel:021-35891394">021-35891394</a></p>
                                </div>
                            </div>
                            <hr class="product-detail-hr w-100">
                            <div class="row align-items-center text-lg-left text-center">
                                <div class="col-md-12 col-lg-4 col-12">
                                    <img src="image/EMAIL.svg"/>
                                </div>
                                <div class="col-md-12 col-lg-8 col-12">
                                    <p class="mb-0"><a href="mailto:info@mediacenterpk.com">info@mediacenterpk.com</a>
                                    </p>
                                </div>
                            </div>

                            <div class="mt-5 pb-4">
                                <h6 class="text-left mb-3 goth-medium text-capitalize text-lg-left text-center">
                                    subscribe to our<bR>newsletter
                                </h6>
                                <hr class="product-detail-hr w-100">
                                <form action="" method="post" enctype="multipart/form-data"
                                      class="form-horizontal mt-4 text-center">
                                    <fieldset>
                                        <div class="form-group required">
                                            <div class="col-sm-12 p-0">
                                                <input type="text" name="name" value="{{ name }}" id="input-name"
                                                       class="form-control" placeholder="Your Email Address"/>
                                                {% if error_name %}
                                                    <div class="text-danger">{{ error_name }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="buttons">
                                        <div>
                                            <button href="" class="btn btn-black mb-2 text-uppercase">Subscribe</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {{ column_right }}
    </div>
</div>
{{ footer }}
