{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-banner" data-toggle="tooltip" title="{{ button_save }}"
                        class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i
                        class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-banner"
                      class="form-horizontal">


                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>

                        <div class="col-sm-10">
                            <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}"
                                   id="input-name" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-status">Position</label>

                        <div class="col-sm-10">
                            <select name="position" id="input-status" class="form-control">
                                {% if position == 'top' %}
                                <option value="top" selected="selected">Top</option>
                                <option value="middle">Middle</option>
                                <option value="bottom">Bottom</option>
                                {% elseif position == 'middle' %}
                                <option value="top">Top</option>
                                <option value="middle" selected="selected">Middle</option>
                                <option value="bottom">Bottom</option>
                                {% elseif position == 'bottom' %}
                                <option value="top">Top</option>
                                <option value="middle">Middle</option>
                                <option value="bottom" selected="selected">Bottom</option>
                                {% else %}
                                <option>Please select position</option>
                                <option value="top">Top</option>
                                <option value="middle">Middle</option>
                                <option value="bottom">Bottom</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-status">For Desktop</label>

                        <div class="col-sm-10">
                            <select name="grid_desktop" id="input-status" class="form-control">
                                    <option value="">Please Select</option>
                                    <option value="col-lg-4" {% if grid_desktop == 'col-lg-4' %} selected {% endif %}>25%</option>
                                    <option value="col-lg-6" {% if grid_desktop == 'col-lg-6' %} selected {% endif %}>50%</option>
                                    <option value="col-lg-8" {% if grid_desktop == 'col-lg-8' %} selected {% endif %}>75%</option>
                                    <option value="col-lg-12" {% if grid_desktop == 'col-lg-12' %} selected {% endif %}>100%</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-status">For Tablet</label>

                        <div class="col-sm-10">
                            <select name="grid_table" id="input-status" class="form-control">
                                <option value="">Please Select</option>
                                <option value="col-md-4" {% if grid_table == 'col-md-4' %} selected {% endif %}>25%</option>
                                <option value="col-md-6" {% if grid_table == 'col-md-6' %} selected {% endif %}>50%</option>
                                <option value="col-md-8" {% if grid_table == 'col-md-8' %} selected {% endif %}>75%</option>
                                <option value="col-md-12" {% if grid_table == 'col-md-12' %} selected {% endif %}>100%</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-status">For Mobile</label>

                        <div class="col-sm-10">
                            <select name="grid_mobile" id="input-status" class="form-control">
                                <option value="">Please Select</option>
                                <option value="col-sm-4" {% if grid_mobile == 'col-sm-4' %} selected {% endif %}>25%</option>
                                <option value="col-sm-6" {% if grid_mobile == 'col-sm-6' %} selected {% endif %}>50%</option>
                                <option value="col-sm-8" {% if grid_mobile == 'col-sm-8' %} selected {% endif %}>75%</option>
                                <option value="col-sm-12" {% if grid_mobile == 'col-sm-12' %} selected {% endif %}>100%</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>

                        <div class="col-sm-10">
                            <select name="status" id="input-status" class="form-control">
                                {% if status %}
                                <option value="1" selected="selected">{{ text_enabled }}</option>
                                <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                <option value="1">{{ text_enabled }}</option>
                                <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <br/>
                    <ul class="nav nav-tabs" id="language">
                        {% for language in languages %}
                        <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img
                                    src="language/{{ language.code }}/{{ language.code }}.png"
                                    title="{{ language.name }}"/> {{ language.name }}</a></li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% set image_row = 0 %}
                        {% for language in languages %}
                        <div class="tab-pane" id="language{{ language.language_id }}">
                            <table id="images{{ language.language_id }}"
                                   class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <td class="text-left">{{ entry_title }}</td>
                                    <td class="text-center">{{ entry_image }}</td>
                                    <td class="text-right">{{ entry_sort_order }}</td>
                                    <td class="text-right">{{ entry_status }}</td>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                {% if homepage_banner_image[language.language_id] %}
                                {% for banner_image in homepage_banner_image[language.language_id] %}
                                <tr id="image-row{{ image_row }}">
                                    <td class="text-left" style="width: 50%">
                                        <textarea type="text"
                                                  name="homepage_banner_image[{{ language.language_id }}][{{ image_row }}][description]"
                                                  placeholder="{{ entry_title }}" class="form-control"
                                                  data-toggle="summernote" data-lang="{{ summernote }}">{{ banner_image.description }}</textarea>
                                    </td>

                                    <td class="text-center"><a href="" id="thumb-image{{ image_row }}"
                                                               data-toggle="image" class="img-thumbnail"><img
                                                src="{{ banner_image.thumb }}" alt="" title=""
                                                data-placeholder="{{ placeholder }}"/></a>
                                        <input type="hidden"
                                               name="homepage_banner_image[{{ language.language_id }}][{{ image_row }}][image]"
                                               value="{{ banner_image.image }}" id="input-image{{ image_row }}"/></td>
                                    <td class="text-right" style="width: 10%;"><input type="text"
                                                                                      name="homepage_banner_image[{{ language.language_id }}][{{ image_row }}][sort_order]"
                                                                                      value="{{ banner_image.sort_order }}"
                                                                                      placeholder="{{ entry_sort_order }}"
                                                                                      class="form-control"/></td>

                                    <td class="text-right" style="width: 15%;">
                                        <select
                                            name="homepage_banner_image[{{ language.language_id }}][{{ image_row }}][status]"
                                            id="input-status" class="form-control">
                                            {% if banner_image.status %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                            {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                            {% endif %}
                                        </select>
                                    </td>
                                    <td class="text-left">
                                        <button type="button"
                                                onclick="$('#image-row{{ image_row }}, .tooltip').remove();"
                                                data-toggle="tooltip" title="{{ button_remove }}"
                                                class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>
                                    </td>
                                </tr>
                                {% set image_row = image_row + 1 %}
                                {% endfor %}
                                {% endif %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="4"></td>
                                    <td class="text-left">
                                        <button type="button" onclick="addImage('{{ language.language_id }}');"
                                                data-toggle="tooltip" title="{{ button_banner_add }}"
                                                class="btn btn-primary"><i class="fa fa-plus-circle"></i></button>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script type="text/javascript"><!--
        var image_row = {{ image_row }};

        function addImage(language_id) {
            html = '<tr id="image-row' + image_row + '">';
            html += '<td class="text-left"><textarea type="text" name="homepage_banner_image[' + language_id + '][' + image_row + '][description]" value="" placeholder="{{ entry_title }}" class="form-control"  data-toggle="summernote" data-lang="{{ summernote }}" ></textarea></td>';
            html += '<td class="text-center"><a href="" id="thumb-image' + image_row + '" data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="homepage_banner_image[' + language_id + '][' + image_row + '][image]" value="" id="input-image' + image_row + '" /></td>';
            html += '<td class="text-right" style="width: 10%;"><input type="text" name="homepage_banner_image[' + language_id + '][' + image_row + '][sort_order]" value="" placeholder="{{ entry_sort_order }}" class="form-control" /></td>';
            html += '<td class="text-right" style="width: 10%;"><select name="homepage_banner_image[' + language_id + '][' + image_row + '][status]" id="input-status" class="form-control">{% if status %}<option value="1" selected="selected">{{ text_enabled }}</option><option value="0">{{ text_disabled }}</option>{% else %}<option value="1">{{ text_enabled }}</option><option value="0" selected="selected">{{ text_disabled }}</option>{% endif %}</select></td>';
            html += '<td class="text-left"><button type="button" onclick="$(\'#image-row' + image_row + ', .tooltip\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
            html += '</tr>';

            $('#images' + language_id + ' tbody').append(html);

            image_row++;

            $('[data-toggle="summernote"]').summernote({
                // toolbar
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']]
                ],
            });
        }
        //--></script>

    <script type="text/javascript"><!--
        $('#language a:first').tab('show');
        //--></script>

</div>

{{ footer }}
<script id="summernot" type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet"/>
<script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>