{{ header }}
<div id="error-not-found" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <div class="bg-white p-5 text-center">
                <img src="image/edit.svg">
                <h6 class="text-center mb-4 goth-medium text-uppercase">{{ heading_title }}</h6>
                <hr class="product-detail-hr">
                <p class="text-center">{{ text_error }}</p>
                <div class="buttons clearfix text-center">
                    <div><a href="{{ continue }}" class="btn btn-black mb-2 text-uppercase">{{ button_continue }}</a>
                    </div>
                </div>
                {{ content_bottom }}
            </div>
        </div>
        {{ column_right }}</div>
</div>
{{ footer }}
