<div id="cart" class="dropdown btn-group btn-block">

    <a class="text-muted text-sm-center d-inline-flex" href="javascript:;" id="header_cart_items">
        <i class="fa fa-shopping-cart"></i>  <span id="cart-total" class="font-11"> ({{ text_items }}) </span>
    </a>
</div>

<div class="header_cart w-100 border bg-white p-2" id="header_cart" style="display: none">
    <div class="jalal">
        <div class="modal-header d-block p-2">

            <p class="mb-0 text-center product-name text-size-12 goth-medium">{{ text_items }}
                {% if text_items > 1 %}
                    ITEMS IN CART
                {% else %}
                    ITEM IN CART
                {% endif %}
                <a class="float-right" style="cursor: pointer; font-size: 23px;     line-height: 0.5;"
                   data-close-header-tray="yes"><span aria-hidden="true">×</span></a></p>
        </div>
        <div class="modal-body">
            <div class="row" id="all_header_cart_items">
                {% for product in products %}

                    <div class="col-md-4 p-0" data-product-id="{{ product.product_id }}" data-product-quantity="{{ product.quantity }}">
                        {% if product.thumb %} <a href="{{ product.href }}"><img src="{{ product.thumb }}"
                                                                                 alt="{{ product.name }}"
                                                                                 title="{{ product.name }}"
                                                                                 class="img-fluid w-100"/></a> {% endif %}
                    </div>
                    <div class="col-md-8">
                        <p class="mb-0 product-name text-size-12 goth-medium">
                            <a href="{{ product.href }}" class="goth-medium">{{ product.name }}</a>
                        </p>

                        <p class="mt-2 mb-0 product-name text-size-12"><span
                                    class="goth-medium">Quantity: </span>{{ product.quantity }}

                        </p>

                        <p class="mt-0 product-name text-size-12"><span
                                    class="goth-medium">Unit Price: </span>{{ product.price }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="modal-footer text-center">
            <div class="row">
                    <p class="mb-0 product-name text-size-12 d-block w-100"><span
                                class="goth-medium">{{ total_amount.title }}: </span>{{ total_amount.value }}</p>
                <div class="mt-3 w-100">
                    <a href="{{ cart }}" class="btn btn-black text-uppercase">View
                        Cart</a> <a href="{{ checkout }}"
                                    class="btn btn-black text-uppercase">Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>