<footer class="mt-5" style="background-color: #000">
    <div class="bg-brown p-3 text-center">
        <h6 class="m-0 goth-medium text-uppercase">enjoy free shipping across pakistan</h6>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-6 text-white pr-5">
                    <h6 class="text-left mb-4 goth-light text-uppercase mt-5">we are<br>media center</h6>
                    <hr class="product-detail-hr border-light w-100">
                    <p class="text-size-12">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s
                    </p>
                </div>
                <div class="col-md-3 col-6 text-white pr-5">
                    <h6 class="text-left mb-4 goth-light text-uppercase mt-5">find everything<br>under one roof</h6>
                    <hr class="product-detail-hr border-light w-100">
                    <ul>
                       {% for category in categories %}
                        <li><a href="{{ category.href }}">{{ category.name }}</a> </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-3 col-6 text-white pr-5">
                    <h6 class="text-left mb-4 goth-light text-uppercase mt-5">get in touch<br>with us</h6>
                    <hr class="product-detail-hr border-light w-100">
                    <a href="tel:02135891394" class="text-size-12">021-35891394</a>
                    <a href="mailto:info@mediacenterpk.com" class="text-size-12">info@mediacenterpk.com</a>

                    <p class="mt-3 mb-0 text-size-12"><a href="{{ contact }}">Karachi</a></p>

                    <p class="mb-0 text-size-12"><a href="{{ contact }}">Lahore</a></p>

                    <p class="text-size-12"><a href="{{ contact }}">Islamabad</a></p>
                </div>
                <div class="col-md-3 col-6 text-white">
                    <h6 class="text-left mb-4 goth-light text-uppercase mt-5">quick<br>links</h6>
                    <hr class="product-detail-hr border-light w-100">
                    <div class="text-size-12">
                        <div>
                            <a href="{{ account }}">{{ text_account }}</a>
                        </div>
                        <div>
                            <a href="index.php?route=information/aboutus">About Us</a>
                        </div>
                        <div>
                            <a href="{{ account }}">Track Order</a>
                        </div>
                        <div>
                            <a href="{{ contact }}">{{ text_contact }}</a>
                        </div>
                        <div>
                            <a href="{{ account }}">Blog</a>
                        </div>
                        <div>
                            <a href="{{ sitemap }}">{{ text_sitemap }}</a>
                        </div>
                        {% for information in informations %}
                            <div>
                                <a href="{{ information.href }}">{{ information.title }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <hr class="product-detail-hr border-light w-100">
                <div class="pt-3 pb-3 align-self-center">
                    <div class="row align-items-center">
                        <div class="col-md-12 col-lg-8 col-12 mb-md-4 mb-0 mb-lg-0 p-0 ">
                            <form class="form-inline">
                                <div class="form-group col-12 text-center text-md-center text-lg-left">
                                    <label for="inputPassword2" class="text-white mr-3">subscribe to our
                                        newsletter</label>
                                    <input type="text" class="form-control mr-3" id="inputPassword2"
                                           placeholder="Your email Address">
                                    <button type="submit" class="btn btn-white mt-3 mt-lg-0 mt-md-0">Subscribe</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12 col-lg-4 col-12 text-center text-md-center text-lg-right p-0">
                            <div class="form-group mb-0">
                                <label for="inputPassword2" class="text-white mr-3">connect with us</label>
                                <label for="inputPassword2" class="text-white mr-3">
                                    <a class="text-white mr-1" href="https://www.facebook.com/MediaCenterPK/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    <a class="text-white mr-1" href="https://www.instagram.com/mediacenterpk/" target="_blank"><i class="fab fa-instagram"></i></a>
                                    <a class="text-white" href="index.php?route=information/contact"><i class="fas fa-phone"></i></a>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="product-detail-hr border-light w-100">
            </div>
            <div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-12 text-center text-md-center text-lg-left">
                        <label for="inputPassword2" class="text-white mr-3 text-uppercase">the website is ssl certified</label>
                    </div>
                    <div class="col-md-4 col-lg-4 col-12 text-center text-md-center text-lg-right p-0">
                        <div class="form-group mb-0">
                            <label for="inputPassword2" class="text-white mr-3 text-uppercase">we accept</label>
                            <label for="inputPassword2" class="text-white mr-3">
                                <a class="text-white mr-1" href="https://www.facebook.com/MediaCenterPK/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a class="text-white mr-1" href="https://www.instagram.com/mediacenterpk/" target="_blank"><i class="fab fa-instagram"></i></a>
                                <a class="text-white" href="index.php?route=information/contact"><i class="fas fa-phone"></i></a>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 col-12 text-center text-md-center text-lg-left mb-4">
                           <p class="m-0 text-white">&copy; 2018 Mediacenter</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
{% endfor %}


<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body></html>