<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]>
<html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <base href="{{ base }}"/>
    {% if description %}
    <meta name="description" content="{{ description }}"/>
    {% endif %}
    {% if keywords %}
    <meta name="keywords" content="{{ keywords }}"/>
    {% endif %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js" type="text/javascript"></script>


    <link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css"/>

    <link href="catalog/view/theme/mediacenter/stylesheet/owl.carousel.css" rel="stylesheet">
    <link href="catalog/view/theme/mediacenter/stylesheet/default.css" rel="stylesheet">

    {% for style in styles %}
    <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>
    {% endfor %}

    <script src="catalog/view/theme/mediacenter/javascript/popper.min.js" type="text/javascript"></script>
    <link href="catalog/view/theme/mediacenter/stylesheet/bootstrap.min.css" rel="stylesheet">
    <script src="catalog/view/theme/mediacenter/javascript/bootstrap.js" type="text/javascript"></script>
    <script src="catalog/view/theme/mediacenter/javascript/owl.carousel.js" type="text/javascript"></script>

    <script src="catalog/view/theme/mediacenter/javascript/jquery.zoom.js" type="text/javascript"></script>
    <script src="catalog/view/theme/mediacenter/javascript/common_theme.js" type="text/javascript"></script>

    <script src="catalog/view/theme/mediacenter/javascript/common.js" type="text/javascript"></script>
    <script type="text/javascript" src="catalog/view/theme/mediacenter/javascript/jquery.infinitescroll.min.js" ></script>

    {% for script in scripts %}
        <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}
    {% for link in links %}
    <link href="{{ link.href }}" rel="{{ link.rel }}"/>
    {% endfor %}


    {% for analytic in analytics %}
    {{ analytic }}
    {% endfor %}
</head>
<body class="bg-alice-blue">
<div class="header">
    <header class="bg-white py-3 mb-4">
        <div class="container">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1 header-social">
                    <a class="text-muted" href="https://www.facebook.com/MediaCenterPK/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a class="text-muted" href="https://www.instagram.com/mediacenterpk/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a class="text-muted" href="index.php?route=information/contact"><i class="fas fa-phone"></i></a>
                </div>
                <div class="col-4 p-0 text-center logo">
                    {% if logo %}
                    <a href="{{ home }}">
                        <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-fluid"/>
                    </a>
                    {% else %}
                    <h5 class="text-dark"><a href="{{ home }}" class="text-muted">{{ name }}</a></h5>
                    {% endif %}

                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    {{ search }}
                    <a href="javascript:;" class="text-muted text-sm-center mr-2 d-block d-lg-none"  title="Search">
                        <small> <i class="fa fa-search" id="search_bar"></i></small>
                    </a>
                    <a href="{{ wishlist }}" class="text-muted text-sm-center mr-2"  title="{{ text_wishlist }}" id="wishlist-total">
                        <small><i class="fa fa-heart"></i> <span class="hidden-xs hidden-sm hidden-md d-none">{{ text_wishlist }}</span></small>
                    </a>
                    <a href="{{ login }}" class="text-muted text-sm-center mr-2"  title="{{ text_login }}" id="wishlist-total">
                        <small><i class="fas fa-user"></i> <span class="hidden-xs hidden-sm hidden-md d-none">{{ text_login }}</span></small>
                    </a>

                    <a href="javascript:;">
                        {{ cart }}
                    </a>
                </div>
            </div>
        </div>
    </header>
    {{ menu }}
</div>
<div class="menu-overlay"></div>
