{{ header }}
<div id="common-home" class="container">
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">


            <section class="home-grid-slider row">
                {% for items in all_banners %}
                    {% if items.position == 'top' %}
                        <div class="{{ items.grid_desktop }} {{ items.grid_table }} {{ items.grid_mobile }} pb-3">
                            {% if items.pictures|length > 1 %}
                                <div class="owl-carousel category-slider">
                                    {% for banners in items.pictures %}
                                        <div class="item">
                                            <img src="/image/{{ banners.image }}" class="img-fluid w-100"/>

                                            <div class="overlay-text d-none">
                                                {{ banners.description }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <img src="/image/{{ items.pictures.0.image }}" class="img-fluid" width="100%"
                                     style="height: 100%"/>
                                <div class="overlay-text d-none">
                                    {{ items.pictures.0.description }}
                                </div>

                            {% endif %}

                        </div>
                    {% endif %}
                {% endfor %}
            </section>

            <section class="home-grid-brands pt-3 pb-3 mb-4">
                <div class="container">
                    <div class="row">
                        {% if brands %}
                            <div class="col-12 d-lg-flex d-md-flex d-sm-block h-100 p-0">
                                <div class="col-sm-12 col-lg-3 col-md-3 text-center text-lg-left text-md-left p-0 mb-3 mb-lg-0 mb-md-0 align-self-center">
                                    <div class="col-12 p-0">
                                        <div class="card-block text-uppercase goth-bold">Shop by Brands</div>
                                    </div>
                                </div>
                                <div class="owl-carousel brands-slider col-sm-12 col-lg-9 col-md-9">
                                    {% for brand in brands %}

                                        <div class="item col">
                                           <a href="{{ brand.name }}">
                                               <img src="/image/{{ brand.image }}" class="img-fluid" width="80%"
                                                    style="height: 100%"/>
                                           </a>
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
        {{ column_right }}
    </div>
</div>
{{ content_top }}

<section class="home-grid-slider container mw-100">
    <div class="row align-items-center" style="background: #b09f8a">
        {% for items in all_banners %}
            {% if items.position == 'middle' %}
                <div class="{{ items.grid_desktop }} {{ items.grid_table }} {{ items.grid_mobile }} p-0">
                    {% if(items.pictures|length > 1) %}
                        <div class="owl-carousel category-slider">
                            {% for banners in items.pictures %}
                                <div class="item">
                                    <img src="/image/{{ banners.image }}" class="img-fluid" width="100%"
                                         style="height: 100%"/>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <img src="/image/{{ items.pictures.0.image }}" class="img-fluid" width="100%"
                             style="height: 100%"/>
                    {% endif %}
                </div>
                <div class="{{ items.grid_desktop }} {{ items.grid_table }} {{ items.grid_mobile }} p-lg-0 p-md-0 p-5">
                    {% for banners in items.pictures %}
                        <div class="text-center">
                            <h3 class="text-center goth-medium">{{ banners.description }}</h3>
                            <button type="button" class="btn btn-black mb-2 mt-3 text-uppercase" id="button-cart"
                                    data-loading-text="Loading...">
                                Shop Now
                            </button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
{{ content_bottom }}
<section class="container mw-100 pt-5 pb-5">
    <div class="row align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 align-self-center d-block d-lg-none d-md-none mb-4">
                    <p class="goth-bold text-uppercase text-center mb-0">sign up for our blog</p>
                </div>
                {% if blog %}
                    {% for blogs in blog %}
                        {% if loop.first %}
                            <div class="col-md-4 col-6 mb-4 align-self-center">
                                <a href="index.php?route=extension/d_blog_module/post&post_id={{ blogs.post_id }}">
                                    <div class="img-container">

                                        <img src="image/{{ blogs.image }}" class="img-circle img-fluid">

                                        <div class="overlay">
                                            <div class="row align-items-center h-100">
                                                <div class="col">
                                                    <span class="goth-bold text-center">{{ blogs.title }}</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="col-md-4 mb-4 align-self-center d-none d-lg-block d-md-block">
                    <div class="img-container">
                        <img src="https://placehold.it/500x500/000000/000000" class="img-circle img-fluid">

                        <div class="overlay">
                            <div class="row align-items-center h-100">
                                <div class="col">
                                    <span class="goth-bold text-uppercase text-center">sign up for our blog</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if blog %}
                    {% for blogs in blog %}
                        {% if loop.last %}
                            <div class="col-md-4 mb-4 col-6 align-self-center">
                                <a href="index.php?route=extension/d_blog_module/post&post_id={{ blogs.post_id }}">
                                    <div class="img-container">

                                        <img src="image/{{ blogs.image }}" class="img-circle img-fluid">


                                        <div class="overlay">
                                            <div class="row align-items-center h-100">
                                                <div class="col">
                                                    <span class="goth-bold text-uppercase text-center">s{{ blogs.title }}</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section class="home-grid-slider container mw-100">
    <div class="row row-eq-height" style="background: #b09f8a">
        {% for items in all_banners %}
            {% if items.position == 'bottom' %}
                <div class="order-lg-1 order-md-1 order-2 align-self-center {{ items.grid_desktop }} {{ items.grid_table }} {{ items.grid_mobile }} p-lg-2 p-4">
                    {% for banners in items.pictures %}
                        <div class="text-center text-size-12 p-5">
                            {{ banners.description }}
                        </div>
                    {% endfor %}
                </div>
                <div class="order-lg-2 order-md-2 order-1 {{ items.grid_desktop }} {{ items.grid_table }} {{ items.grid_mobile }} p-0">
                    {% if items.pictures|length > 1 %}
                        <div class="owl-carousel category-slider">

                            {% for banners in items.pictures %}
                                <div class="item h-100">
                                    <img src="/image/{{ banners.image }}" class="img-fluid" width="100%"
                                         style="height: 100%"/>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="item h-100">
                            <img src="/image/{{ items.pictures.0.image }}" class="img-fluid" width="100%"
                                 style="height: 100%"/>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
{{ footer }}

<script>
    $('.category-slider').owlCarousel({
        loop: false,
        margin: 0,
        nav: false,
        items: 1,
        autoplay: true,
        autoplayTimeout: 1500,
        autoplayHoverPause: true,
        dots: false,
    });

    $('.brands-slider').owlCarousel({
        nav: true,
        dots: true,
        responsive: {
            992: {
                items: 6,
            },
            767: {
                items: 4,
            },
            190: {
                items: 2,
            }
        }
    })
</script>