{% if categories %}
    <div class="container d-none d-lg-block">
        <nav class="navbar navbar-expand-lg bg-black mb-3">
            <button class="navbar-toggler text-white p-0" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
                MENU
            </button>


            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="p-lg-3 pl-lg-4 pr-lg-4 pl-md-2 pr-md-2 ">
                        <a href="{{ home }}" class="text-white"><i
                                    class="fas fa-home"></i></a>
                    </li>

                    {% for category in categories %}
                        {% if category.children %}
                            <li class="dropdown p-lg-3 pl-lg-3 pr-lg-3 pl-md-2 pr-md-2">

                                <a class="dropdown-toggle text-white" href="#"
                                   id="navbarDropdown{{ category.id }}"
                                   role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ category.name }}
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdown{{ category.id }}">
                                    <div class="container">
                                        <div class="row">
                                            <div class="pl-5 pr-5 col-12 row">
                                                {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                                                    <div class="col-md-12 p-0">

                                                        <div class="row">
                                                            <ul class="nav flex-column col-md-4 col-lg-3 col-12">
                                                                {% for child in children %}
                                                                    {% if child.children|length > 0 %}
                                                                        <li class="nav-item p-0 m-0">
                                                                            <a class="nav-link text-white p-1 text-size-14 dropdown-toggle"
                                                                               data-category-id="{{ child.category_id }}"
                                                                               href="javascript:;"
                                                                               id="dropdown{{ category.category_id }}">{{ child.name }}
                                                                            </a>
                                                                            {% if loop.index == 1 %}
                                                                                <span class="u-menu" id="u-menu"></span>
                                                                            {% endif %}
                                                                        </li>
                                                                    {% else %}
                                                                        <li class="nav-item p-0 m-0">
                                                                            <a class="nav-link text-white p-1 text-size-14"
                                                                               data-category-id="{{ child.category_id }}"
                                                                               href="{{ child.href }}"
                                                                               id="dropdown{{ category.category_id }}">{{ child.name }}</a>
                                                                        </li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                            <div class="col-md-8 col-lg-9 col-12 bg-white"
                                                                 id="sub_categories_tray"
                                                                 aria-labelledby="dropdown">
                                                                <div class="container h-100">
                                                                    <div class="row align-items-start h-100">
                                                                        <div class="col p-5">
                                                                            <ul class="nav flex-column">
                                                                                {% for child in children %}
                                                                                    {% if loop.index == 1 %}
                                                                                        {% set dnone = 'block' %}
                                                                                    {% else %}
                                                                                        {% set dnone = 'none' %}
                                                                                    {% endif %}
                                                                                    <li class="nav-item p-0 m-0"
                                                                                        style="display: {{ dnone }};"
                                                                                        data-parent-category="{{ child.category_id }}">
                                                                                        <u>
                                                                                            <a class="nav-link p-1 text-size-14"
                                                                                               href="{{ child.href }}">{{ child.name }}</a>
                                                                                        </u>
                                                                                    </li>
                                                                                    {% for thirdchild in child.children %}
                                                                                        <li class="nav-item p-0 m-0"
                                                                                            style="display: {{ dnone }};"
                                                                                            data-parent-category="{{ child.category_id }}">
                                                                                            <a class="nav-link p-1 text-size-14"
                                                                                               href="{{ thirdchild.href }}">{{ thirdchild.name }}</a>
                                                                                        </li>

                                                                                    {% endfor %}
                                                                                {% endfor %}
                                                                            </ul>
                                                                        </div>
                                                                        <div class="col p-5">


                                                                            {% for child in children %}

                                                                                {% if loop.index == 1 %}
                                                                                    {% set dnone = 'block' %}
                                                                                {% else %}
                                                                                    {% set dnone = 'none' %}
                                                                                {% endif %}
                                                                                <ul class="nav flex-column"
                                                                                    data-main-category-id="{{ child.category_id }}"
                                                                                    style="display: {{ dnone }};">
                                                                                    <li class="nav-item p-0 m-0">
                                                                                        <a class="nav-link p-1 text-size-14"
                                                                                           href="javascsript:;">Brands</a>
                                                                                    </li>
                                                                                    {% for brands in child.Manufacturers %}
                                                                                        <li class="nav-item p-0 m-0">
                                                                                            <a class="nav-link p-1 text-size-14"
                                                                                               href="{{ child.href }}?bfilter=m0:{{ brands.manufacturer_id }};">{{ brands.name }}</a>
                                                                                        </li>
                                                                                    {% endfor %}
                                                                                </ul>
                                                                            {% endfor %}

                                                                        </div>

                                                                        {% for child in children %}
                                                                            {% if loop.index == 1 %}
                                                                                {% set dnone = 'block' %}
                                                                            {% else %}
                                                                                {% set dnone = 'none' %}
                                                                            {% endif %}

                                                                            <div class="col align-self-end row mb-0"
                                                                                 style="display: {{ dnone }};"
                                                                                 data-main-category-id="{{ child.category_id }}">
                                                                                {% if child.image %}
                                                                                    <img src="image/{{ child.image }}"
                                                                                         class="img-fluid"/>
                                                                                {% endif %}
                                                                            </div>

                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                {% endfor %}

                                            </div>
                                        </div>
                                    </div>
                                    <!--  /.container  -->
                                </div>
                            </li>
                        {% else %}
                            <li class="p-lg-3 pl-lg-3 pr-lg-3 pl-md-2 pr-md-2">
                                <a class="text-white"
                                   href="{{ category.href }}">{{ category.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li class="p-lg-3 pl-lg-4 pr-lg-4 pl-md-2 pr-md-2 ">
                        <a href="index.php?route=product/manufacturer" class="text-white">Brands</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
{% endif %}


<div class="container d-block d-lg-none mobile-menu mb-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-black">
        <button class="navbar-toggler text-white" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i> MENU
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ home }}">Home</a>
                </li>
                {% for category in categories %}
                    {% if category.children %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascsript:;"
                               id="navbarDropdownMenuLink{{ category.id }}"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ category.name }}
                            </a>
                            {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink{{ category.id }}">
                                    {% for child in children %}
                                        {% if child.children|length > 0 %}
                                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                                                            href="#"
                                                                            data-category-id="{{ child.category_id }}">{{ child.name }}</a>
                                                <ul class="dropdown-menu pl-3 pr-3"
                                                    data-main-category-id="{{ child.category_id }}">
                                                    {% for child in children %}
                                                        {% if loop.index == 1 %}
                                                            {% set dnone = 'block' %}
                                                        {% else %}
                                                            {% set dnone = 'none' %}
                                                        {% endif %}
                                                        {% for thirdchild in child.children %}
                                                            <li style="display: {{ dnone }};"
                                                                data-parent-category="{{ child.category_id }}"><a
                                                                        class="dropdown-item"
                                                                        href="{{ thirdchild.href }}">{{ thirdchild.name }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% else %}
                                            <li><a class="dropdown-item text-white"
                                                   href="{{ child.href }}">{{ child.name }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endfor %}
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ category.href }}">{{ category.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link" href="index.php?route=product/manufacturer">Brands</a>
                </li>
            </ul>
        </div>
    </nav>
</div>