<div id="search" class="form-inline col-9 p-0">
    <div class="d-none d-lg-block">
        <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control"/>
      <span class="input-group-btn ml-lg-1">
        <button type="button" class="btn btn-link p-0"><i
                    class="fa fa-search"></i>
        </button>
      </span>
    </div>
</div>

<div id="search_mob">
    <div class="show_search_bar p-4 text-center" style="display: none;">
        <div class="container">
            <button type="button" class="close h-100" aria-label="Close">
                <span aria-hidden="true" style="vertical-align: super">&times;</span>
            </button>
            <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control w-75 d-inline-block"/>
      <span class="input-group-btn ml-lg-1">
        <button type="button" class="btn btn-link p-0"><i
                    class="fa fa-search"></i>
        </button>
      </span>
        </div>
    </div>
</div>