{{ header }}
<div id="common-success" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-12' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <div class="bg-white p-5 text-center">
                <div class="col-12 col-lg-6 col-md-6 mx-auto">
                    <div>
                        <img src="image/SIGN-UP.svg"/>
                        <h6 class="text-center mb-4 goth-medium text-uppercase mt-3">{{ heading_title }}</h6>
                        <hr class="product-detail-hr">
                    </div>
                    {{ text_message }}
                    <div class="buttons">
                        <div><a href="{{ continue }}"
                                                   class="btn btn-black mb-2 text-uppercase">{{ button_continue }}</a></div>
                    </div>
                    {{ content_bottom }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}