{{ header }}
<div id="common-success" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-12' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <div class="bg-white p-5 text-center">
                <div class="col-12 col-lg-8 col-md-8 mx-auto">
                    <div>
                        <img src="image/THANK-YOU.svg"/>
                        <h6 class="text-center mb-4 goth-medium mt-3">Thank you for your order!</h6>
                        <hr class="product-detail-hr">
                    </div>
                    <p>We have received your order and sent you an email with details pertaining to your order.</p>

                    <p class="goth-medium">Your Order Number is  {{ order_id }}</p>

                    <div class="row align-items-center mt-5">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="row">
                                <div class="col-md-4 align-self-center">
                                <img src="image/TRACK-ORDER.svg"/>
                                </div>
                                <div class="col-md-8 p-0">
                                   <p> You can track your order any time.</p>
                                    <p>You will find the tracking link in the email sent to you.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="row">
                                <div class="col-md-4 align-self-center">
                                    <img src="image/TRACK-ORDER.svg"/>
                                </div>
                                <div class="col-md-8 p-0">
                                    <p> Feel free to get in touch with us any time!</p>
                                    <p class="goth-medium mb-0">Call: <a href="tel:021-35891394">021-35891394</a> </p>
                                    <p class="goth-medium">Email: <a href="mailto:info@mediacenterpk.com">info@mediacenterpk.com</a> </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 mt-5">
                           <p>
                               if you have't received an email from us. please write immediatly to us <a href="mailto:info@mediacenterpk.com">info@mediacenterpk.com</a>
                               mentioning your order number in the subject.
                           </p>
                        </div>
                    </div>
                    <div class="buttons d-none">
                        <div class=""><a href="{{ continue }}"
                                         class="btn btn-black mb-2 text-uppercase">{{ button_continue }}</a>
                        </div>
                    </div>
                    {{ content_bottom }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}