{#
 * Brainy Filter Ultimate 5.1.5 OC3, January 24, 2018 / brainyfilter.com 
 * Copyright 2015-2018 Giant Leap Lab / www.giantleaplab.com 
 * License: Commercial. Reselling of this software or its derivatives is not allowed. You may use this software for one website ONLY including all its subdomains if the top level domain belongs to you and all subdomains are parts of the same OpenCart store. 
 * Support: http://support.giantleaplab.com 
#}
{{ header }}{{ column_left }}
<div id="content">
    {% if success %}
        <div class="alert alert-success">{{ success }}</div>
    {% endif %}
    {% if error_warning|length %}
        {% for err in error_warning %}
            <div class="warning">{{ err }}</div>
        {% endfor %}
    {% endif %}
    <div class="box">
        <div class="heading page-header">
            <div class="container-fluid">
                <h1>{{ heading_title }}</h1>
                <ul class="breadcrumb">
                    {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
                    {% endfor %}
                </ul>
                <div class="pull-right">
                    <a onclick="jQuery('[name=action]').val('apply');BF.submitForm();" class="btn btn-success" data-toggle="tooltip" title="{{ lang.button_save }}"><i class="fa fa-save"></i></a>
                    <a onclick="BF.submitForm();" class="btn btn-primary" data-toggle="tooltip" title="{{ lang.button_save_n_close }}"><span class="icon"></span><i class="fa fa-save"></i></a>
                    <a onclick="location = '{{ cancel }}';" class="btn btn-default" data-toggle="tooltip" title="{{ lang.button_cancel }}"><i class="fa fa-reply"></i></a>
                </div>
            </div>
        </div>
    </div>
    {# settings block #}
    <form action="{{ action }}" method="post" enctype="application/x-www-form-urlencoded" id="form">
        <input type="hidden" name="action" value="save" />
        <input type="hidden" name="bf" value="" />
    </form>
    <form action="" id="bf-form" class="container-fluid">
        <input type="hidden" name="bf[module_id]" value="{{ isNewInstance ? 'new' : moduleId }}" />
        <input type="hidden" name="bf[current_adm_tab]" value="{{ settings['current_adm_tab'] }}" />
        {# main menu #}
        <div id="bf-adm-main-menu">
            <ul class="clearfix">
                <li class="{% if moduleId is same as ('basic') %} selected {% endif %}">
                    <div>
                        <a href="{{ instanceUrl ~ 'basic' }}">
                            <span class="icon basic"></span>
                            {{ lang.top_menu_basic_settings }}
                        </a>
                    </div>
                </li>
                <li class="{% if moduleId and moduleId != 'basic' %} selected {% endif %}">
                    <div class="dropdown">
                        <a id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon layouts"></span>
                            {{ lang.top_menu_module_instances }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            {% for module in modules %}
                            <li>
                                <a href="{{ instanceUrl ~ module['module_id'] }}" {% if moduleId == module['module_id'] %} class="bf-selected" {% endif %}>
                                    {{ module['name'] }}
                                </a>
                            </li>
                            {% endfor %}
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ instanceUrl ~ 'new' }}" {% if moduleId == 'new' %} class="bf-selected" {% endif %}>
                                    <i class="fa fa-plus"></i> {{ lang.top_menu_add_new_instance }}</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        {# main menu block end #}
        
        <div id="bf-adm-main-container">
            
            {# basic settings container #}
            <div id="bf-adm-basic-settings" class="tab-content" data-group="main" style="display:block">
                {% if moduleId is same as ('basic') %}
                <p class="bf-info">{{ lang.instance_basic_settings_info }}</p>
                {% elseif moduleId is same as ('new') %}
                <p class="bf-info">{{ lang.instance_new_layout_notice }}</p>
                {% endif %}
                <div class="bf-panel">
                    <div id="bf-create-instance-alert" class="bf-alert">
                        {{ lang.message_new_instance }}
                    </div>
                    {% if moduleId != 'basic' %}
                    <div class="bf-panel-row clearfix">
                        <div class="bf-notice"></div>
                    </div>
                    {% endif %}
                    <div class="tab-content-inner">
                        {% if moduleId != 'basic' %}
                        <div class="bf-panel-row bf-local-settings clearfix">
                            <div class="left">
                                <label for="bf-layout-id">{{ lang.instance_layout }}</label>
                                <select name="bf[layout_id]" id="bf-layout-id" class="bf-layout-select bf-w195">
                                    <option value="0" selected="selected">{{ lang.select }}</option>
                                    {% for  id, layout in layouts %}
                                        <option value="{{ id }}">{{ layout }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="left">
                                <label for="bf-layout-position">{{ lang.instance_position }}</label>
                                <select name="bf[layout_position]" id="bf-layout-position" class="bf-layout-position bf-w195">
                                    <option value="content_top">{{ lang.instance_content_top }}</option>
                                    <option value="content_bottom">{{ lang.instance_content_bottom }}</option>
                                    <option value="column_left">{{ lang.instance_column_left }}</option>
                                    <option value="column_right">{{ lang.instance_column_right }}</option>
                                </select>
                            </div>
                            <div class="left">
                                <label for="bf-layout-sort-order">{{ lang.sort_order }}</label>
                                <input type="text" name="bf[layout_sort_order]" id="bf-layout-sort-order" class="bf-layout-sort bf-w65" />
                            </div>
                            <div class="left">
                                <span class="bf-label center">{{ lang.enabled }}</span>
                                <div class="bf-layout-enable yesno">
                                    <span class="bf-switcher">
                                        <input id="bf-layout-off" type="hidden" name="bf[layout_enabled]" value="0" />
                                        <span class="bf-def"></span><span class="bf-no"></span><span class="bf-yes"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="left">
                                <span class="bf-label">&nbsp;</span>
                                <a href="{{ removeInstanceAction }}" class="bf-remove-layout" onclick="if (!window.confirm(BF.lang.confirm_remove_layout)) return false;">{{ lang.instance_remove }}</a>
                            </div>

                        </div>
                        {% endif %}
                        {# Basic section tabs #}
                        <ul class="tabs vertical clearfix">
                            {% if moduleId != 'basic' %}
                            <li class="tab cat-tab 
                                {% if settings['layout_id'] is not defined or settings['layout_id'] not in [category_layouts[0]] %} hidden {% endif %}
                                {% if settings['current_adm_tab'] is same as ('categories') %} selected {% endif %}" data-tab-name="categories" data-target="#bf-categories">{{ lang.tab_categories }}</li>
                            {% endif %}
                            <li class="tab {% if settings['current_adm_tab'] is same as ('embedding') %} selected {% endif %}" data-tab-name="embedding" data-target="#bf-filter-embedding">{{ lang.tab_embedding }}</li>
                            <li class="tab {% if settings['current_adm_tab'] is same as ('blocks') %} selected {% endif %}" data-tab-name="blocks" data-target="#bf-filter-blocks-display">{{ lang.tab_attributes_display }}</li>
                            <li class="tab {% if settings['current_adm_tab'] is same as ('layout') %} selected {% endif %}" data-tab-name="layout" data-target="#bf-filter-layout-view">{{ lang.tab_filter_layout_view }}</li>
                            <li class="tab {% if settings['current_adm_tab'] is same as ('submission') %} selected {% endif %}" data-tab-name="submission" data-target="#bf-data-submission">{{ lang.tab_data_submission }}</li>
                            <li class="tab {% if settings['current_adm_tab'] is same as ('attributes') %} selected {% endif %}" data-tab-name="attributes" data-target="#bf-attributes">{{ lang.tab_attributes }}</li>
                            <li class="tab {% if settings['current_adm_tab'] is same as ('options') %} selected {% endif %}" data-tab-name="options" data-target="#bf-options">{{ lang.tab_options }}</li>
                            <li class="tab {% if settings['current_adm_tab'] is same as ('filters') %} selected {% endif %}" data-tab-name="filters" data-target="#bf-filters">{{ lang.tab_filters }}</li>
                            <li class="tab {% if settings['current_adm_tab'] is same as ('responsive') %} selected {% endif %}" data-tab-name="responsive" data-target="#bf-responsive">{{ lang.tab_responsive_view }}</li>
                            <li class="tab {% if settings['current_adm_tab'] is same as ('style') %} selected {% endif %}" data-tab-name="style" data-target="#bf-style">{{ lang.tab_style }}</li>
                            {% if moduleId is same as ('basic') %}
                            <li class="tab {% if settings['current_adm_tab'] is same as ('global') %} selected {% endif %}" data-tab-name="global" data-target="#bf-global-settings">{{ lang.tab_global_settings }}</li>
                            {% endif %}
                            <li class="tab {% if settings['current_adm_tab'] is same as ('attr_values') %} selected {% endif %}" data-tab-name="attr_values" data-target="#bf-attr-values">{{ lang.tab_attr_values }}</li>
                            <li class="tab {% if settings['current_adm_tab'] is same as ('help') %} selected {% endif %}" data-tab-name="help" data-target="#bf-help">{{ lang.tab_help }}</li>
                            <li id="refresh-btn-wrapper">
                                <button onclick="BF.refreshDB();return false;" class="bf-button" id="bf-refresh-db">
                                    <span class="icon bf-update"></span><span class="lbl">{{ lang.update_cache }}</span>
                                </button>
                            </li>
                        </ul>
                        {# Containers for Filter Embedding #}
                        <div id="bf-filter-embedding" class="tab-content with-border" data-group="settings">
                            <div class="bf-th-header-static">{{ lang.embedding_header }}</div>
                            <div class="bf-alert" style="display: block;">{{ lang.embedding_warning }}</div>
                            <p class="bf-info">{{ lang.embedding_description }}</p>
                            <table class="bf-adm-table">
                                <tr>
                                    <td class="bf-adm-label-td">
                                        <span class="bf-wrapper"><label for="bf-container-selector">{{ lang.embedding_container_selector }}</label></span>
                                    </td>
                                    <td>
                                        <input style="width: 290px;" type="text" name="bf[behaviour][containerSelector]" value="" id="bf-container-selector" placeholder="{{ basicSettings['behaviour']['containerSelector'] }}" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="bf-adm-label-td">
                                        <span class="bf-wrapper"><label for="bf-paginator-selector">{{ lang.embedding_paginator_selector }}</label></span>
                                    </td>
                                    <td>
                                        <input style="width: 290px;" type="text" name="bf[behaviour][paginatorSelector]" value="" id="bf-paginator-selector" placeholder="{{ basicSettings['behaviour']['paginatorSelector'] }}" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        {# Filter Blocks Display #}
                        <div id="bf-filter-blocks-display" class="tab-content with-border" data-group="settings">
                            <div class="bf-th-header-static">{{ lang.filter_blocks_header }}</div>
                            <p class="bf-info">{{ lang.filter_blocks_descr }}</p>
                            <table class="bf-adm-table" id="bf-filter-sections">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th class="center">{{ lang.enabled }}</th>
                                    <th class="bf-collapse-td">{{ lang.collapse }}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for filter in filterBlocks %}
                                <tr class="bf-sort" data-section="{{ filter['name'] }}">
                                    <td class="bf-adm-label-td">
                                        <span class="bf-wrapper">{{ filter['label'] }}</span>
                                    </td>
                                    <td class="center">
                                        <span class="bf-switcher">
                                            <input id="bf-{{ filter['name'] }}-filter" type="hidden" name="bf[behaviour][sections][{{ filter['name'] }}][enabled]" value="0" data-disable-adv="section-{{ filter['name'] }}" />
                                            <span class="bf-def"></span><span class="bf-no"></span><span class="bf-yes"></span>
                                        </span>
                                    </td>
                                    <td class="center bf-collapse-td">
                                        <input id="bf-{{ filter['name'] }}-collapse" type="checkbox" name="bf[behaviour][sections][{{ filter['name'] }}][collapsed]" value="1" data-adv-group="section-{{ filter['name'] }}" />
                                    </td>
                                    <td>
                                        {% if filter['control'] is defined and possible_controls[filter['name']] is defined %}
                                        <select name="bf[behaviour][sections][{{ filter['name'] }}][control]" data-adv-group="section-{{ filter['name'] }}">
                                            {% for val, lbl in possible_controls[filter['name']] %}
                                            <option value="{{ val }}">{{ lbl }}</option>
                                            {% endfor %}
                                        </select>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {# Filter Layout View #}
                        <div id="bf-filter-layout-view" class="tab-content with-border" data-group="settings">
                            <div class="bf-th-header-static">{{ lang.layout_header }}</div>
                            <div>
                                <table class="bf-adm-table" style="margin-bottom:0;">
                                    <tr>
                                        <th></th>
                                        <th class="center bf-w165">{{ lang.enabled }}</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td class="bf-adm-label-td">
                                            <span class="bf-wrapper">
                                            {{ lang.layout_show_attr_groups }}
                                            </span>
                                        </td>
                                        <td class="center bf-w165">
                                            <span class="bf-switcher">
                                                <input id="bf-attr-group" type="hidden" name="bf[behaviour][attribute_groups]" value="0" />
                                                <span class="bf-def"></span><span class="bf-no"></span><span class="bf-yes"></span>
                                            </span>
                                        </td>
                                        <td colspan="3"></td>
                                    </tr>
                                </table>
                                <table class="bf-adm-table bf-adv-group-cont" style="margin-bottom:0;">
                                    <tr>
                                        <td class="bf-adm-label-td"><span class="bf-wrapper">
                                            {{ lang.layout_product_count }}</span>
                                        </td>
                                        <td class="center bf-w165">
                                            <span class="bf-switcher">
                                                <input id="bf-product-count" type="hidden" name="bf[behaviour][product_count]" value="0" data-disable-adv="hide-empty" />
                                                <span class="bf-def"></span><span class="bf-no"></span><span class="bf-yes"></span>
                                            </span>
                                        </td>
                                        <td colspan="3"></td>
                                    </tr>
                                    <tr>
                                        <td class="bf-adm-label-td"><span class="bf-wrapper">
                                            {{ lang.layout_hide_empty_attr }}</span>
                                        </td>
                                        <td class="center">
                                            <span class="bf-switcher">
                                                <input id="bf-hide-empty" type="hidden" name="bf[behaviour][hide_empty]" value="0" data-adv-group="hide-empty" />
                                                <span class="bf-def"></span><span class="bf-no"></span><span class="bf-yes"></span>
                                            </span>
                                        </td>
                                        <td colspan="3"></td>
                                    </tr>
                                </table>
                                <table class="bf-adm-table bf-intersect-cont">
                                    <tr>
                                        <td class="bf-adm-label-td"><span class="bf-wrapper">
                                            {{ lang.layout_sliding }}</span>
                                        </td>
                                        <td class="bf-intersect center bf-w165">
                                            <span class="bf-switcher">
                                                <input id="bf-sliding" type="hidden" name="bf[behaviour][limit_items][enabled]" value="0" data-disable-adv="sliding" />
                                                <span class="bf-def"></span><span class="bf-no"></span><span class="bf-yes"></span>
                                            </span>
                                        </td>
                                        <td colspan="3" style="padding-top: 5px;padding-bottom: 5px;"> 
                                            <input id="bf-number-to-show" type="text" size="4" name="bf[behaviour][limit_items][number_to_show]" value="" data-adv-group="sliding" />
                                            <label for="bf-number-to-show">{{ lang.layout_sliding_num_to_show }}</label>
                                            <div class="bf-suboption">
                                                <input id="bf-number-to-hide" type="text" size="4" name="bf[behaviour][limit_items][number_to_hide]" value="" data-adv-group="sliding" /> 
                                                <label for="bf-number-to-hide">{{ lang.layout_sliding_min }}</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="bf-adm-label-td"><span class="bf-wrapper">
                                            {{ lang.layout_height_limit }}</span>
                                        </td>
                                        <td class="bf-intersect center">
                                            <span class="bf-switcher">
                                                <input id="bf-limit-height" type="hidden" name="bf[behaviour][limit_height][enabled]" value="0" data-disable-adv="limit-height" />
                                                <span class="bf-def"></span><span class="bf-no"></span><span class="bf-yes"></span>
                                            </span>
                                        </td>
                                        <td colspan="3"> 
                                            <input id="bf-limit-height" type="text" size="4" name="bf[behaviour][limit_height][height]" value="" data-adv-group="limit-height" /> 
                                            <label for="bf-limit-height">{{ lang.layout_max_height_limit }}</label>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                        {# Data Submission Tab #}
                        <div id="bf-data-submission" class="tab-content with-border" data-group="settings">
                            <div class="bf-th-header-static">{{ lang.submission_header }}</div>
                            <p class="bf-info">{{ lang.submission_descr }}</p>
                            <div>
                            <table class="bf-adm-table">
                                <tr>
                                    <th></th>
                                    <th class="center">Enabled</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">
                                        <label for="bf-submit-auto">{{ lang.submission_type_auto }}</label></span>
                                    </td>
                                    <td class="center">
                                        <input id="bf-submit-auto" type="radio" value="auto" name="bf[submission][submit_type]" data-disable-adv="submit-type" />
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">
                                        <label for="bf-submit-delay">{{ lang.submission_delay }}</label></span>
                                    </td>
                                    <td class="center">
                                        <input id="bf-submit-delay" type="radio" value="delay" name="bf[submission][submit_type]" data-disable-adv="submit-type" />
                                    </td>
                                    <td>
                                        <input id="bf-submit-delay-time" type="text" name="bf[submission][submit_delay_time]" value="" size="4" maxlength="4" data-adv-group="submit-type" data-for-val="delay" />
                                        <label for="bf-submit-delay-time">{{ lang.submission_time_in_sec }}</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper"> 
                                            <label for="bf-submit-btn">{{ lang.submission_type_button }}</label></span>
                                    </td>
                                    <td class="center"> 
                                        <input id="bf-submit-btn" type="radio" value="button" name="bf[submission][submit_type]" data-disable-adv="submit-type" />
                                    </td>
                                    <td style="padding-top: 5px;padding-bottom: 5px;">
                                        <input id="bf-submit-btn-fixed" type="radio" name="bf[submission][submit_button_type]" value="fix" data-adv-group="submit-type" data-for-val="button" />
                                        <label for="bf-submit-btn-fixed">{{ lang.submission_button_fixed }}</label>
                                        <div class="bf-suboption">
                                            <input id="bf-submit-btn-float" type="radio" name="bf[submission][submit_button_type]" value="float" data-adv-group="submit-type" data-for-val="button" />
                                            <label for="bf-submit-btn-float">{{ lang.submission_button_float }}</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="bf-local-settings">
                                    <td class="bf-adm-label-td">
                                        <span class="bf-wrapper">
                                            <label for="bf-submit-default">{{ lang.submission_type_default }}</label>
                                        </span>
                                    </td>
                                    <td class="center">
                                        <input id="bf-submit-default" type="radio" value="default" name="bf[submission][submit_type]" data-disable-adv="submit-type" class="bf-default" />
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">
                                        {{ lang.submission_hide_panel }}</span>
                                    </td>
                                    <td class="center">
                                        <span class="bf-switcher">
                                            <input id="bf-hide-layout" type="hidden" name="bf[submission][hide_panel]" value="0" />
                                            <span class="bf-def"></span><span class="bf-no"></span><span class="bf-yes"></span>
                                        </span>
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                        </div>
                        {# Categories #}
                        {% if moduleId != 'basic' %}
                        <div id="bf-categories" class="tab-content with-border" data-group="settings">
                            <div class="bf-th-header-static">{{ lang.categories_header }}</div>
                            <p class="bf-info">{{ lang.categories_info }}</p>
                            <div class="bf-multi-select-group">
                                <p class="bf-green-info">{{ lang.categories_list_of_enabled }}</p>
                                <div class="bf-gray-panel">
                                    {{ lang.categories_filter_hint }}
                                    <input type="text" class="bf-cat-filter bf-full-width" data-target="#bf-enabled-categories" />
                                </div>
                                <div style="padding-left:15px;">
                                    <a data-select-all="#bf-enabled-categories">{{ lang.categories_select_all }}</a> /
                                    <a data-unselect-all="#bf-enabled-categories">{{ lang.categories_unselect_all }}</a>
                                </div>
                                <div id="bf-enabled-categories" class="bf-multi-select">
                                    {% for category in categories %}
                                        {% if not settings['categories'] is defined or settings['categories'][category['category_id']] is not defined %}
                                        <div class="bf-row">
                                            <input type="hidden" name="bf[categories][{{ category['category_id'] }}]" value="1" />
                                            {{ category['name'] }}
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="bf-middle-buttons-col">
                                {{ lang.categories_move_selected }}
                                <br><button class="bf-move-right"></button><br><button class="bf-move-left"></button><br>
                            </div>
                            <div class="bf-multi-select-group">
                                <p class="bf-red-info">{{ lang.categories_list_of_disabled }}</p>
                                <div class="bf-gray-panel">
                                    {{ lang.categories_filter_hint }}
                                    <input type="text" class="bf-cat-filter bf-full-width" data-target="#bf-disabled-categories" />
                                </div>
                                <div style="padding-left:15px;">
                                    <a data-select-all="#bf-disabled-categories">{{ lang.categories_select_all }}</a> /
                                    <a data-unselect-all="#bf-disabled-categories">{{ lang.categories_unselect_all }}</a>
                                </div>
                                <div id="bf-disabled-categories" class="bf-multi-select">
                                    {% if settings['categories'] is defined %}
                                        {% for catId, b in settings['categories'] %}
                                        <div class="bf-row">
                                            <input type="hidden" name="bf[categories][{{ categories[catId]['category_id'] }}]" value="1" />
                                            {{ categories[catId]['name'] }}
                                        </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        {% endif %}
                        {# Attributes Tab #}
                        <div id="bf-attributes" class="tab-content with-border" data-group="settings" data-select-all-group="attributes">
                            <div class="bf-th-header-static">{{ lang.attributes_header }}</div>
                            <div>
                                <table class="bf-adm-table" data-select-all-group="attributes">
                                    <tr>
                                        <th></th>
                                        <th class="center">{{ lang.enabled }}</th>
                                        <th class="bf-w165">{{ lang.control }}</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td class="bf-adm-label-td"><span class="bf-wrapper">{{ lang.attributes_group_setting }}</span></td>
                                        <td class="center">
                                            <span class="bf-switcher">
                                                <input id="bf-layout-off" type="hidden" name="bf[attributes_default][enable_all]" value="0" data-disable-adv="group-attr-control" />
                                                <span class="bf-def"></span><span class="bf-no"></span><span class="bf-yes"></span>
                                            </span>
                                        </td>
                                        <td>
                                            <select name="bf[attributes_default][control]" data-adv-group="group-attr-control">
                                                <option value="checkbox">{{ lang.checkbox }}</option>
                                                <option value="radio">{{ lang.radio }}</option>
                                                <option value="select">{{ lang.selectbox }}</option>
                                                <option value="slider">{{ lang.slider }}</option>
                                                <option value="slider_lbl">{{ lang.slider_labels_only }}</option>
                                                <option value="slider_lbl_inp">{{ lang.slider_labels_and_inputs }}</option>
                                            </select>
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="bf-th-header expanded"><span class="icon bf-arrow"></span>{{ lang.attributes_individual_set }}</div>
                            <div>
                                <div class="bf-gray-panel">
                                    <div class="bf-half">
                                        {{ lang.autocomplete_hint|format(lang.btn_select_attribute) }}
                                        <input type="text" id="bf-attr-search" class="bf-autocomplete" data-lookup="attributes" />
                                        <button id="bf-attr-add" class="btn btn-success bf-add-row" data-filter-data="" data-row-tpl="#custom-attr-setting-template" data-target-tbl="#custom-attr-settings">
                                            <i class="fa fa-plus"></i> {{ lang.btn_select_attribute }}
                                        </button>
                                    </div>
                                    <div class="bf-half">
                                        <p class="bf-info">{{ lang.attributes_custom_set_descr }}</p>
                                    </div>
                                </div>
                                <table class="bf-adm-table bf-hide-if-empty" data-select-all-group="attributes">
                                    <thead>
                                        <tr>
                                            <th style="width:625px"></th>
                                            <th class="center" style="width:50px">Collapse</th>
                                            <th class="center" style="width:330px">
                                                {{ lang.enabled }}
                                                <div class="bf-group-actions">
                                                    <a data-select-all="attributes" data-select-all-val="2" class="bf-local-settings">{{ lang.set_all_default }}</a>
                                                    <span class="bf-local-settings">/</span>
                                                    <a data-select-all="attributes" data-select-all-val="0">{{ lang.disable_all }}</a>
                                                    <span>/</span>
                                                    <a data-select-all="attributes" data-select-all-val="1">{{ lang.enable_all }}</a>
                                                </div> 
                                            </th>
                                            <th class="bf-w165">{{ lang.control }}</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="custom-attr-settings">
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {# Options Tab #}
                        <div id="bf-options" class="tab-content with-border" data-group="settings">
                            <div class="bf-th-header-static">{{ lang.options_header }}</div>
                            <table class="bf-adm-table" data-select-all-group="attributes">
                                <tr>
                                    <th></th>
                                    <th class="center bf-w165">{{ lang.enabled }}</th>
                                    <th class="bf-w165">{{ lang.control }}</th>
                                    <th class="bf-w165">{{ lang.options_view_mode }}</th>
                                </tr>
                                <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">{{ lang.options_group_setting }}</span></td>
                                    <td class="center">
                                        <span class="bf-switcher">
                                            <input id="bf-layout-off" type="hidden" name="bf[options_default][enable_all]" value="0" data-disable-adv="group-opt-control" />
                                            <span class="bf-def"></span><span class="bf-no"></span><span class="bf-yes"></span>
                                        </span>
                                    </td>
                                    <td>
                                        <select name="bf[options_default][control]" data-adv-group="group-opt-control" class="bf-w165">
                                            <option value="checkbox">{{ lang.checkbox }}</option>
                                            <option value="radio">{{ lang.radio }}</option>
                                            <option value="select">{{ lang.selectbox }}</option>
                                            <option value="slider">{{ lang.slider }}</option>
                                            <option value="slider_lbl">{{ lang.slider_labels_only }}</option>
                                            <option value="slider_lbl_inp">{{ lang.slider_labels_and_inputs }}</option>
                                            <option value="slider_lbl_inp">{{ lang.grid_of_images }}</option>
                                        </select>
                                    </td>
                                    <td class="center">
                                        <select name="bf[options_default][mode]" class="bf-opt-mode bf-w135 d-opt-control" data-adv-group="group-opt-control" data-bf-role="mode">
                                            <option value="label">{{ lang.options_view_mode_label }}</option>
                                            <option value="img_label">{{ lang.options_view_mode_image_and_label }}</option>
                                            <option value="img">{{ lang.options_view_mode_image }}</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <div class="bf-th-header expanded"><span class="icon bf-arrow"></span>{{ lang.options_individual_set }}</div>
                            <div>
                                <div class="bf-gray-panel">
                                    <div class="bf-half">
                                        {{ lang.autocomplete_hint|format(lang.btn_select_option) }}
                                        <input type="text" id="bf-attr-search" class="bf-w190 bf-autocomplete" data-lookup="options" />
                                        <button id="bf-attr-add" class="btn btn-success bf-add-row" data-filter-data="" data-row-tpl="#custom-opt-setting-template" data-target-tbl="#custom-opt-settings">
                                            <i class="fa fa-plus"></i> {{ lang.btn_select_option }}
                                        </button>
                                    </div>
                                    <div class="bf-half">
                                        <p class="bf-info">{{ lang.options_custom_set_descr }}</p>
                                    </div>
                                </div>
                                <table class="bf-adm-table bf-hide-if-empty" data-select-all-group="options">
                                    <thead>
                                        <tr>
                                            <th style="width:625px"></th>
                                            <th class="center" style="width:50px">Collapse</th>
                                            <th class="center" style="width:330px">{{ lang.enabled }}</th>
                                                {{ lang.enabled }}
                                                <div class="bf-group-actions">
                                                    <a data-select-all="options" data-select-all-val="2" class="bf-local-settings">{{ lang.set_all_default }}</a>
                                                    <span class="bf-local-settings">/</span>
                                                    <a data-select-all="options" data-select-all-val="0">{{ lang.disable_all }}</a>
                                                    <span>/</span>
                                                    <a data-select-all="options" data-select-all-val="1">{{ lang.enable_all }}</a>
                                                </div> 
                                            </th>
                                            <th class="bf-w165">{{ lang.control }}</th>
                                            <th class="bf-w165">{{ lang.options_view_mode }}</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="custom-opt-settings">
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {# Filters Tab #}
                        <div id="bf-filters" class="tab-content with-border" data-group="settings">
                            <div class="bf-th-header-static">{{ lang.filters_header }}</div>
                            <table class="bf-adm-table" data-select-all-group="filters">
                                <tr>
                                    <th></th>
                                    <th class="center">{{ lang.enabled }}</th>
                                    <th class="bf-w165">{{ lang.control }}</th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">{{ lang.filters_group_setting }}</span></td>
                                    <td class="center">
                                        <span class="bf-switcher">
                                            <input id="bf-layout-off" type="hidden" name="bf[filters_default][enable_all]" value="0" data-disable-adv="group-filter-control" />
                                            <span class="bf-def"></span><span class="bf-no"></span><span class="bf-yes"></span>
                                        </span>
                                    </td>
                                    <td>
                                        <select name="bf[filters_default][control]" data-adv-group="group-filter-control">
                                            <option value="checkbox">{{ lang.checkbox }}</option>
                                            <option value="radio">{{ lang.radio }}</option>
                                            <option value="select">{{ lang.selectbox }}</option>
                                            <option value="slider">{{ lang.slider }}</option>
                                            <option value="slider_lbl">{{ lang.slider_labels_only }}</option>
                                            <option value="slider_lbl_inp">{{ lang.slider_labels_and_inputs }}</option>
                                        </select>
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                            <div class="bf-th-header expanded"><span class="icon bf-arrow"></span>{{ lang.filters_individual_set }}</div>
                            <div>
                                <div class="bf-gray-panel">
                                    <div class="bf-half">
                                        {{ lang.autocomplete_hint|format(lang.btn_select_filter) }}
                                        <input type="text" id="bf-attr-search" class="bf-w190 bf-autocomplete" data-lookup="filters" />
                                        <button id="bf-attr-add" class="btn btn-success bf-add-row" data-filter-data="" data-row-tpl="#custom-filter-setting-template" data-target-tbl="#custom-filter-settings">
                                            <i class="fa fa-plus"></i> {{ lang.btn_select_filter }}
                                        </button>
                                    </div>
                                    <div class="bf-half">
                                        <p class="bf-info">{{ lang.filters_custom_set_descr }}</p>
                                    </div>
                                </div>
                                <table class="bf-adm-table bf-hide-if-empty" data-select-all-group="filters">
                                    <thead>
                                        <tr>
                                            <th style="width:625px"></th>
                                            <th class="center" style="width:50px">Collapse</th>
                                            <th class="center" style="width:330px">
                                                {{ lang.enabled }}
                                                <div class="bf-group-actions">
                                                    <a data-select-all="filters" data-select-all-val="2" class="bf-local-settings">{{ lang.set_all_default }}</a>
                                                    <span class="bf-local-settings">/</span>
                                                    <a data-select-all="filters" data-select-all-val="0">{{ lang.disable_all }}</a>
                                                    <span>/</span>
                                                    <a data-select-all="filters" data-select-all-val="1">{{ lang.enable_all }}</a>
                                                </div> 
                                            </th>
                                            <th class="bf-w165">{{ lang.control }}</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="custom-filter-settings">
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {# Responsive View #}
                        <div id="bf-responsive" class="tab-content with-border" data-group="settings">
                            <div class="bf-th-header-static">{{ lang.responsive_header }}</div>
                            <table class="bf-adm-table bf-adv-group-cont">
                                <tr>
                                    <th></th>
                                    <th class="bf-w170"></th>
                                    <th></th>
                                    <th><span class="bf-local-settings">{{ lang.default }}</span></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">{{ lang.responsive_mode_enable }}</span></td> 
                                    <td class="center">
                                        <span class="bf-switcher">
                                            <input id="bf-responsive" type="hidden" name="bf[style][responsive][enabled]" value="0" data-disable-adv="responsive" />
                                            <span class="bf-def"></span><span class="bf-no"></span><span class="bf-yes"></span>
                                        </span>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">{{ lang.responsive_collapse_sections }}</span></td> 
                                    <td class="center">
                                        <span class="bf-switcher">
                                            <input id="bf-responsive-collapse" type="hidden" name="bf[style][responsive][collapsed]" value="0" data-adv-group="responsive" />
                                            <span class="bf-def"></span><span class="bf-no"></span><span class="bf-yes"></span>
                                        </span>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">{{ lang.responsive_max_width }}</span></td> 
                                    <td class="center">
                                        <input type="text" name="bf[style][responsive][max_width]" value="" data-adv-group="responsive" class="bf-w65" />
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">{{ lang.responsive_max_screen_width }}</span></td> 
                                    <td class="center">
                                        <input type="text" name="bf[style][responsive][max_screen_width]" value="" data-adv-group="responsive" class="bf-w65" />
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">{{ lang.responsive_position }}</span></td> 
                                    <td class="center">
                                        <input id="bf-responsive-position-left" type="radio" name="bf[style][responsive][position]" value="left" data-adv-group="responsive" />
                                        <label for="bf-responsive-position-left">{{ lang.left }}</label>
                                        <input id="bf-responsive-position-right" type="radio" name="bf[style][responsive][position]" value="right" data-adv-group="responsive" />
                                        <label for="bf-responsive-position-right">{{ lang.right }}</label>
                                    </td>
                                    <td>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">{{ lang.responsive_offset }}</span></td> 
                                    <td class="center">
                                        <input id="bf-responsive-offset" type="text" name="bf[style][responsive][offset]" value="" data-adv-group="responsive" class="bf-w65" />
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                        {# Theme Tab #}
                         <div id="bf-style" class="tab-content with-border" data-group="settings">
                            <div class="bf-th-header expanded"><span class="icon bf-arrow"></span>{{ lang.theme_block_header }}</div>
                            <div>
                                <table class="bf-adm-table">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th><span class="bf-local-settings">{{ lang.default }}</span></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td class="bf-adm-label-td"><span class="bf-wrapper">{{ lang.theme_background }}</span></td>
                                        <td class="center bf-w170">
                                            <input id="bf-style-block-header-background" class="bf-w165 entry color-pick" type="text" name="bf[style][block_header_background][val]" />
                                        </td>
                                        <td class="bf-w65 center"><input type="checkbox" name="bf[style][block_header_background][default]" value="1" class="bf-chkbox-def bf-local-settings" onchange = 'if (jQuery(this).is(":checked")) {BF.changeDefault("block_header_background", this)}'/></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="bf-adm-label-td"><span class="bf-wrapper">{{ lang.theme_text }}</span></td>
                                        <td class="center bf-w170">
                                            <input id="bf-style-block-header-text" class="bf-w165 entry color-pick" type="text" name="bf[style][block_header_text][val]" /> 
                                        </td>
                                        <td class="bf-w65 center"><input type="checkbox" name="bf[style][block_header_text][default]" value="1" class="bf-chkbox-def bf-local-settings" onchange = 'if (jQuery(this).is(":checked")) {BF.changeDefault("block_header_text", this)}'/></td>
                                        <td></td>
                                    </tr>
                                    {% for language in languages %}
                                    <tr>
                                        <td class="bf-adm-label-td">
                                            <span class="bf-wrapper">
                                                {{ lang.theme_title }} (
                                                <img src="{{ language['image_path'] }}" /> 
                                                {{ language['name'] }})
                                            </span>
                                        </td>
                                        <td colspan="2">
                                            <input type="text" name="bf[behaviour][filter_name][{{ language['language_id'] }}]" value="" class="bf-w195" />
                                        </td>
                                        <td></td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <div class="bf-th-header expanded"><span class="icon bf-arrow"></span>{{ lang.theme_product_quantity }}</div>
                            <div>
                            <table class="bf-adm-table">
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th><span class="bf-local-settings">{{ lang.default }}</span></th>
                                    <th></th>
                                </tr>
                                 <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">{{ lang.theme_background }}</span></td>
                                    <td class="center bf-w170">
                                        <input id="bf-style-product-quantity-background" class="bf-w165 entry color-pick" type="text" name="bf[style][product_quantity_background][val]"/> 
                                    </td>
                                    <td class="bf-w65 center"><input type="checkbox" name="bf[style][product_quantity_background][default]" value="1" class="bf-chkbox-def bf-local-settings" onchange = 'if (jQuery(this).is(":checked")) {BF.changeDefault("product_quantity_background", this)}'/></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">{{ lang.theme_text }}</span></td>
                                    <td class="center bf-w170">
                                        <input id="bf-style-product-quantity-text" class="bf-w165 entry color-pick" type="text" name="bf[style][product_quantity_text][val]" /> 
                                    </td>
                                    <td class="bf-w65 center"><input type="checkbox" name="bf[style][product_quantity_text][default]" value="1" class="bf-chkbox-def bf-local-settings" onchange = 'if (jQuery(this).is(":checked")) {BF.changeDefault("product_quantity_text", this)}' /></td>
                                    <td></td>
                                </tr>
                                </table>
                                </div>
                                <div class="bf-th-header expanded"><span class="icon bf-arrow"></span>{{ lang.theme_price_slider }}</div>
                            <div>
                            <table class="bf-adm-table">
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th><span class="bf-local-settings">{{ lang.default }}</span></th>
                                    <th></th>
                                </tr>
                                 <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">{{ lang.theme_background }}</span></td>
                                    <td class="center bf-w170">
                                        <input id="bf-style-price-slider-background" class="bf-w165 entry color-pick" type="text" name="bf[style][price_slider_background][val]" /> 
                                    </td>
                                    <td class="bf-w65 center"><input type="checkbox" name="bf[style][price_slider_background][default]" value="1" class="bf-chkbox-def bf-local-settings" onchange = 'if (jQuery(this).is(":checked")) {BF.changeDefault("price_slider_background", this)}' /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">{{ lang.theme_active_area_background }}</span></td>
                                    <td class="center bf-w170">
                                        <input id="bf-style-price-slider-area-background" class="bf-w165 entry color-pick" type="text" name="bf[style][price_slider_area_background][val]" /> 
                                    </td>
                                    <td class="bf-w65 center"><input type="checkbox" name="bf[style][price_slider_area_background][default]" value="1" class="bf-chkbox-def bf-local-settings" onchange = 'if (jQuery(this).is(":checked")) {BF.changeDefault("price_slider_area_background", this)}' /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">{{ lang.theme_border }}</span></td>
                                    <td class="center bf-w170">
                                        <input id="bf-style-price-slider-border" class="bf-w165 entry color-pick" type="text" name="bf[style][price_slider_border][val]" /> 
                                    </td>
                                    <td class="bf-w65 center"><input type="checkbox" name="bf[style][price_slider_border][default]" value="1" class="bf-chkbox-def bf-local-settings"  onchange = 'if (jQuery(this).is(":checked")) {BF.changeDefault("price_slider_border", this)}'/></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">{{ lang.theme_slider_handle_background }}</span></td>
                                    <td class="center bf-w170">
                                        <input id="bf-style-price-slider-handle-background" class="bf-w165 entry color-pick" type="text" name="bf[style][price_slider_handle_background][val]" /> 
                                    </td>
                                    <td class="bf-w65 center"><input type="checkbox" name="bf[style][price_slider_handle_background][default]" value="1" class="bf-chkbox-def bf-local-settings"  onchange = 'if (jQuery(this).is(":checked")) {BF.changeDefault("price_slider_handle_background", this)}'/></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">{{ lang.theme_slider_handle_border }}</span></td>
                                    <td class="center bf-w170">
                                        <input id="bf-style-price-slider-handle-border" class="bf-w165 entry color-pick" type="text" name="bf[style][price_slider_handle_border][val]" /> 
                                    </td>
                                    <td class="bf-w65 center"><input type="checkbox" name="bf[style][price_slider_handle_border][default]" value="1" class="bf-chkbox-def bf-local-settings" onchange = 'if (jQuery(this).is(":checked")) {BF.changeDefault("price_slider_handle_border", this)}'/></td>
                                    <td></td>
                                </tr>

                            </table>
                            </div>
                             <div class="bf-th-header expanded"><span class="icon bf-arrow"></span>{{ lang.theme_group_block_header }}</div>
                            <div>
                            <table class="bf-adm-table">
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th><span class="bf-local-settings">{{ lang.default }}</span></th>
                                    <th></th>
                                </tr>
                                 <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">{{ lang.theme_background }}</span></td>
                                    <td class="center bf-w170">
                                        <input id="bf-style-group-block-header-background" class="bf-w165 entry color-pick" type="text" name="bf[style][group_block_header_background][val]" /> 
                                    </td>
                                    <td class="bf-w65 center"><input type="checkbox" name="bf[style][group_block_header_background][default]" value="1" class="bf-chkbox-def bf-local-settings"  onchange = 'if (jQuery(this).is(":checked")) {BF.changeDefault("group_block_header_background", this)}'/></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">{{ lang.theme_text }}</span></td>
                                    <td class="center bf-w170">
                                        <input id="bf-style-group-block-header-text" class="bf-w165 entry color-pick" type="text" name="bf[style][group_block_header_text][val]"  /> 
                                    </td>
                                    <td class="bf-w65 center"><input type="checkbox" name="bf[style][group_block_header_text][default]" value="1" class="bf-chkbox-def bf-local-settings" onchange = 'if (jQuery(this).is(":checked")) {BF.changeDefault("group_block_header_text", this)}' /></td>
                                    <td></td>
                                </tr>
                                </table>
                            </div>
                            <div class="bf-th-header expanded"><span class="icon bf-arrow"></span>{{ lang.theme_responsive_popup_view }}</div>
                            <div>
                                <table class="bf-adm-table">
                                    <tr>
                                        <td class="bf-adm-label-td"><span class="bf-wrapper">{{ lang.theme_show_btn_color }}</span></td>
                                        <td class="center bf-w170">
                                            <input class="bf-w165 entry color-pick" type="text" name="bf[style][resp_show_btn_color][val]" />
                                        </td>
                                        <td class="bf-w65 center"><input type="checkbox" name="bf[style][resp_show_btn_color][default]" value="1" class="bf-chkbox-def bf-local-settings" onchange="if (jQuery(this).is(':checked')) {BF.changeDefault('resp_show_btn_color', this);}" /></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td class="bf-adm-label-td"><span class="bf-wrapper">{{ lang.theme_reset_btn_color }}</span></td>
                                        <td class="center bf-w170">
                                            <input class="bf-w165 entry color-pick" type="text" name="bf[style][resp_reset_btn_color][val]" />
                                        </td>
                                        <td class="bf-w65 center"><input type="checkbox" name="bf[style][resp_reset_btn_color][default]" value="1" class="bf-chkbox-def bf-local-settings" onchange="if (jQuery(this).is(':checked')) {BF.changeDefault('resp_reset_btn_color', this);}" /></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        {# Attribute Values Ordering #}
                        <div id="bf-attr-values" class="tab-content with-border" data-group="settings">
                            <div class="bf-th-header-static">{{ lang.ordering_header }}</div>
                            <div class="bf-alert" style="display: block;">{{ lang.ordering_note }}</div>
                            <p class="bf-info">{{ lang.ordering_descr }}</p>
                            <div class="bf-multi-select-group">
                                <div class="bf-gray-panel">
                                    {{ lang.ordering_filter_hint }}
                                    <input type="text" class="bf-attr-filter bf-full-width" data-target="#bf-attr-list" />
                                </div>
                                <div id="bf-attr-list" class="bf-multi-select">
                                    {% for attrId, attribute in attributes %}
                                    <div class="bf-row" data-attr-id="{{ attrId }}">
                                        <b>{{ attribute['group'] }}</b> / {{ attribute['name'] }}
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="bf-middle-buttons-col">
                            </div>
                            <div class="bf-multi-select-group">
                                <div class="bf-gray-panel">
                                    <div class="buttons">
                                        <div>{{ lang.ordering_language }}:</div>
                                        <select id="bf-attr-val-language" class="bf-w165">
                                            {% for i, language in languages %}
                                            <option value="{{ language['language_id'] }}">{{ language['name'] }}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="bf-pull-right">
                                            <button class="bf-auto-sort" data-type="number">0..9</button>
                                            <button class="bf-auto-sort" data-type="string">A..Z</button>
                                            <a class="bf-button bf-save-btn" title="{{ lang.button_save_n_close }}"><span class="icon"></span></a>
                                        </div>
                                    </div>
                                </div>
                                <div id="bf-attr-val-list" class="bf-multi-select">
                                    
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        {# Global Settings #}
                        <div id="bf-global-settings" class="tab-content with-border bf-global-settings" data-group="settings">
                            <div class="bf-th-header-static">{{ lang.global_header }}</div>
                            <p class="bf-info">{{ lang.global_settings_descr }}</p>
                            <table class="bf-adm-table">
                                <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">{{ lang.global_hide_empty_stock }}</span></td>
                                    <td class="center">
                                        <span class="bf-switcher">
                                            <input id="bf-hide-out-of-stock" type="hidden" name="bf[global][hide_out_of_stock]" value="0" />
                                            <span class="bf-def"></span><span class="bf-no"></span><span class="bf-yes"></span>
                                        </span>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr class="bf-global-settings">
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">
                                        {{ lang.global_postponed_count }}</span>
                                    </td>
                                    <td class="center">
                                        <span class="bf-switcher">
                                            <input id="bf-postponed-count" type="hidden" name="bf[global][postponed_count]" value="0" />
                                            <span class="bf-def"></span><span class="bf-no"></span><span class="bf-yes"></span>
                                        </span>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">{{ lang.global_enable_multiple_attributes }}</span></td>
                                    <td class="center">
                                        <span class="bf-switcher">
                                            <input id="bf-multiple-attributes" type="hidden" name="bf[global][multiple_attributes]" value="0" data-disable-adv="attr-separator" />
                                            <span class="bf-def"></span><span class="bf-no"></span><span class="bf-yes"></span>
                                        </span>
                                    </td>
                                    <td>
                                        <label for="bf-attr-separator">{{ lang.global_separator }}</label>
                                        <input id="bf-attr-separator" type="text" name="bf[global][attribute_separator]" value="" size="4" data-adv-group="attr-separator" />
                                        {{ lang.global_multiple_attr_separator }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">
                                        {{ lang.global_in_stock_status_id }}</span>
                                    </td>
                                    <td class="" colspan="2">
                                        <select name="bf[global][instock_status_id]" class="bf-w165">
                                            {% for status in stockStatuses %}
                                                    <option value="{{ status['stock_status_id'] }}">{{ status['name'] }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">
                                        {{ lang.global_subcats_fix }}</span>
                                    </td>
                                    <td class=" center">
                                        <span class="bf-switcher">
                                            <input id="bf-subcategories" type="hidden" name="bf[global][subcategories_fix]" value="0" />
                                            <span class="bf-def"></span><span class="bf-no"></span><span class="bf-yes"></span>
                                        </span>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="bf-adm-label-td"><span class="bf-wrapper">
                                        {{ lang.entry_cron_secret_key }}
                                            <span class="bf-link-highlight" style="padding-top:5px;">{{ catalogUrl }}index.php?route=extension/module/brainyfilter/cron&key=<b>cron secret key</b></span>
                                        </span>
                                    </td>
                                    <td>
                                        <input id="bf-cron-key" class="bf-w165" type="text" name="bf[global][cron_secret_key]" value="" />
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                    </td>
                                </tr>
                            </table>                    
                        </div>
                        {# FAQ container #}
                        <div id="bf-help" class="tab-content with-border" data-group="settings">
                            <div class="bf-th-header" id="bf-faq-n-troubleshooting"><span class="icon bf-arrow"></span>{{ lang.help_faq_n_trouleshooting }}</div>
                            <div style="display:none;">
                                
                            </div>
                            <div class="bf-th-header expanded"><span class="icon bf-arrow"></span>{{ lang.help_about }}</div>
                            <div id="bf-about">
                                <div class="bf-about-text">
                                    {{ lang.help_about_content }}
                                    <hr />
                                    <p>{{ lang.bf_signature }}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="bf-signature">{{ lang.bf_signature }}</div>
</div>

<table style="display:none;">
    <tbody id="custom-attr-setting-template">
        <tr>
            <td class="bf-adm-label-td"><span class="bf-wrapper bf-attr-name" data-bf-role="name"></span></td>
            <td class="bf-adm-label-td center" style="width: 70px"><input type="checkbox" name="bf[attributes][{i}][collapsed]" data-bf-role="collapsed"></td>
            <td class="center">
                <span class="bf-switcher">
                    <input class="bf-attr-enable" type="hidden" name="bf[attributes][{i}][enabled]" value="0" data-disable-adv="attr-control-{i}" data-bf-role="enabled" />
                    <span class="bf-def"></span><span class="bf-no"></span><span class="bf-yes"></span>
                </span>
            </td>
            <td><select name="bf[attributes][{i}][control]" data-adv-group="attr-control-{i}" data-bf-role="control">
                    <option value="checkbox">{{ lang.checkbox }}</option>
                    <option value="radio">{{ lang.radio }}</option>
                    <option value="select">{{ lang.selectbox }}</option>
                    <option value="slider">{{ lang.slider }}</option>
                    <option value="slider_lbl">{{ lang.slider_labels_only }}</option>
                    <option value="slider_lbl_inp">{{ lang.slider_labels_and_inputs }}</option>
                </select></td>
            <td><a class="bf-remove-row"><i class="fa fa-times"></i></a></td>
        </tr>
    </tbody>
</table>
<table style="display:none;">
    <tbody id="custom-opt-setting-template">
        <tr>
            <td class="bf-adm-label-td"><span class="bf-wrapper bf-attr-name" data-bf-role="name"></span></td>
            <td class="bf-adm-label-td center" style="width: 70px"><input type="checkbox" name="bf[options][{i}][collapsed]" data-bf-role="collapsed"></td>
            <td class="center">
                <span class="bf-switcher">
                    <input class="bf-attr-enable" type="hidden" name="bf[options][{i}][enabled]" value="0" data-disable-adv="opt-control-{i}" data-bf-role="enabled" />
                    <span class="bf-def"></span><span class="bf-no"></span><span class="bf-yes"></span>
                </span>
            </td>
            <td class="center">
                <select name="bf[options][{i}][control]" data-adv-group="opt-control-{i}" data-bf-role="control" class="bf-w135">
                    <option value="checkbox">{{ lang.checkbox }}</option>
                    <option value="radio">{{ lang.radio }}</option>
                    <option value="select">{{ lang.selectbox }}</option>
                    <option value="slider">{{ lang.slider }}</option>
                    <option value="slider_lbl">{{ lang.slider_labels_only }}</option>
                    <option value="slider_lbl_inp">{{ lang.slider_labels_and_inputs }}</option>
                    <option value="grid">{{ lang.grid_of_images }}</option>
                </select>
            </td>
            <td class="center">
                <select name="bf[options][{i}][mode]" class="bf-opt-mode bf-w135" data-adv-group="opt-control-{i}" data-bf-role="mode">
                    <option value="label">{{ lang.options_view_mode_label }}</option>
                    <option value="img_label">{{ lang.options_view_mode_image_and_label }}</option>
                    <option value="img">{{ lang.options_view_mode_image }}</option>
                </select>
            </td>
            <td><a class="bf-remove-row"><i class="fa fa-times"></i></a></td>
        </tr>
    </tbody>
</table>
<table style="display:none;">
    <tbody id="custom-filter-setting-template">
        <tr>
            <td class="bf-adm-label-td"><span class="bf-wrapper bf-attr-name" data-bf-role="name"></span></td>
            <td class="bf-adm-label-td center" style="width: 70px"><input type="checkbox" name="bf[filters][{i}][collapsed]" data-bf-role="collapsed"></td>
            <td class="center">
                <span class="bf-switcher">
                    <input class="bf-attr-enable" type="hidden" name="bf[filters][{i}][enabled]" value="0" data-disable-adv="filter-control-{i}" data-bf-role="enabled" />
                    <span class="bf-def"></span><span class="bf-no"></span><span class="bf-yes"></span>
                </span>
            </td>
            <td><select name="bf[filters][{i}][control]" data-adv-group="filter-control-{i}" data-bf-role="control">
                    <option value="checkbox">{{ lang.checkbox }}</option>
                    <option value="radio">{{ lang.radio }}</option>
                    <option value="select">{{ lang.selectbox }}</option>
                    <option value="slider">{{ lang.slider }}</option>
                    <option value="slider_lbl">{{ lang.slider_labels_only }}</option>
                    <option value="slider_lbl_inp">{{ lang.slider_labels_and_inputs }}</option>
                </select></td>
            <td><a class="bf-remove-row"><i class="fa fa-times"></i></a></td>
        </tr>
    </tbody>
</table>

{# Category list template #}

<div id="bf-category-list-tpl" class="bf-category-list" style="display: none;">
    <div class="bf-label">
        {{ lang.categories }}
        (<a onclick="jQuery(this).closest('.bf-category-list').find('input').removeAttr('checked')">{{ lang.disable_all }}</a>
        <span>/</span>
        <a onclick="jQuery(this).closest('.bf-category-list').find('input').attr('checked', 'checked')">{{ lang.enable_all }}</a>)
    </div>
    <div class="bf-cat-list-cont">
        <ul data-select-all-group="categories">
            {% for cat in categories %}
            <li>
                <label>
                    <input type="checkbox" name="bf[categories][{{ cat['category_id'] }}]" value="1" />
                    {{ cat['name'] }}
                </label>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{# End of Category list template #}
<script>
BF.lang = {
        'default' : '{{ lang.default }}',
        'error_layout_not_set' : '{{ lang.message_error_layout_not_set }}',
        'error_cant_remove_default' : '{{ lang.instance_remove_default_layout }}',
        'default_layout' : '{{ lang.instance_default_layout }}',
        'confirm_remove_layout' : '{{ lang.instance_remove_confirmation }}',
        'confirm_unsaved_changes' : '{{ lang.message_unsaved_changes }}',
        'updating' : '{{ lang.updating }}',
        'empty_table' : '{{ lang.message_empty_table }}',
        'content_top' : '{{ lang.instance_content_top }}',
        'column_left' : '{{ lang.instance_column_left }}',
        'column_right' : '{{ lang.instance_column_right }}',
        'content_bottom' : '{{ lang.instance_content_bottom }}'
    };
BF.moduleId = '{{ isNewInstance ? 'new' : moduleId }}';
BF.settings = {{ settings|json_encode() }};
BF.attributes = {{ attributes|json_encode() }};
BF.options = {{ options|json_encode() }};
BF.filters = {{ filters|json_encode() }};
BF.refreshActionUrl = '{{ refreshAction|replace({'&amp;': '&' }) }}';
BF.modRefreshActionUrl = '{{ modRefreshAction|replace({'&amp;': '&' }) }}';
BF.attrValActionUrl = '{{ attributeValuesAction|replace({'&amp;': '&' }) }}';
BF.isFirstLaunch = {{ isFirstLaunch }};
BF.categoryLayouts = {{ category_layouts|json_encode() }};
jQuery(document).ready(BF.init());
</script>

<style>
    .bf-def:before {
        content: '{{ lang.default }}';
    }
    .bf-no:before {
        content: '{{ lang.no }}';
    }
    .bf-yes:before {
        content: '{{ lang.yes }}';
    }
    .bf-disable-enable .bf-no:before {
        content: '{{ lang.disable_all }}';
    }
    .bf-disable-enable .bf-yes:before {
        content: '{{ lang.enable_all }}';
    }
</style>
{{ footer }}